@using ZeroKWeb;
<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Zero-K or zero k is a FREE, multiplatform, open-source RTS game, which aims to be a dynamic, action-packed, hassle-free game, full of clever strategies and constantly moving combat which usually lasts on average 20-30 minutes." />
  <meta name="keywords" content="Zero K, zero-k, game, rts, Real Time Strategy, awesome, robot, mech, online, space, 4x, free, open source" />
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  @if (!string.IsNullOrEmpty(Page.Title)) {
    <title>@Page.Title - Zero-K free rts open source game</title>
  } else { 
    <title>Zero-K free rts open source game</title>
  }
  <link rel="icon" href='@Href("~/img/favicon.png")'/>
  <link rel="Stylesheet" href='@Href("~/Styles/style.css")' type="text/css" />
  <script type="text/javascript" src='@Href("~/Scripts/MicrosoftAjax.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/MicrosoftMvcAjax.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/jquery-1.4.2.min.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/jquery-ui-1.8.6.custom.min.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/nicetitle.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/jquery.ui.stars.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/site.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/base.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/browser-css.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/jquery.tablesorter.min.js")' ></script>
  @if (!Global.IsLobbyAccess && ViewBag.Minimal != true) {
    if (ViewBag.StaticBackground == true) {
    <style type="text/css">
      html
      {
        background: #000 url("/img/bg_bluehex.gif") scroll 50% 0;
        background-attachment: fixed;
      }
    </style>
    } else {
      var files = Directory.GetFiles(Server.MapPath("~/img/screenshots"));
@* What we're doing here is generating a number unique to each date *@
@* We use this to seed the RNG so that it picks a new background once per day *@
      int date = Convert.ToInt32(DateTime.Now.ToString("MMddyyyy"));
      var random = new Random(date);
      var file = Path.GetFileName(files[random.Next(files.Length)]);
    <style type="text/css"> html { background: #000 url("/img/screenshots/@file") no-repeat scroll 50% 0; background-attachment: fixed; }</style>
    }
  }
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20510497-1']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body class="">
  <span style="display: none; position: fixed; left: 300px; top: 200px; z-index: 10;
    width: 300px; height: 50px; background-color: Black; border: 1px solid Red; font-size: x-large;
    text-align: center; vertical-align: middle;" id='ajaxScrollProgress'>Loading....<img
      src='/img/Loader.gif' /></span>
  @if (!Global.IsLobbyAccess && ViewBag.Minimal == null) {
    <div class="wrapper">
      <div id="header" class="text-center">
        <a href="/">
          <img src="/img/zk_logo.png" height="150px" alt="Zero K" /></a>
      </div>
      <!close header>
      <div id="menu" class="border">
        <table>
          <tr>
            <td>
              <a href="/">Home</a>
            </td>
            <!link to a thank you page maybe?>
            <td>
              <ul class="menu">
                <li><a href="/Wiki.mvc/Download">Download</a>
                  <ul>
                    <li><a href="/Wiki.mvc/Download#Windows">Windows</a></li>
                    <li><a href="/Wiki.mvc/Download#Linux">Linux<span>This will now be the only game you
                      ever play</span></a></li>
                    <li><a href="/Wiki.mvc/Download#Mac">Mac</a></li>
                    <li><a href="http://code.google.com/p/zero-k/source/checkout">Sources<span>You awesome,
                      intelligent man-beast, you...</span></a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              <ul class="menu">
                <li><a href="/Wiki.mvc/Media">Media</a>
                  <ul class="menu-border">
                    <li><a href="/Wiki.mvc/Media#Screenshots">Screenshots<span>Take a picture, it lasts
                      longer</span></a></li>
                    <li><a href="/Wiki.mvc/Media#Videos">Video<span>A video says a thousand pictures</span></a></li>
                    <li><a target="_new" href="http://trac.caspring.org/wiki/ConceptArt">Concept Art</a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              <ul class="menu">
                <li><a href="/Wiki.mvc/Manual">Manual</a>
                  <ul class="menu-border">
                    <li><a href="/Wiki.mvc/Manual">Index</a></li>
                    <li><a href="/Wiki.mvc/NewbieGuide">Newbie guide<span>Don't know where to begin? Click
                      here.</span></a></li>
                    <li><a href="/Static.mvc/UnitGuide">Units</a></li>
                    <li><a href="/Wiki.mvc/EconomyGuide">Economy</a></li>
                    <li><a href="/Wiki.mvc/Terraforming">Terraforming<span>Let's go play in the dirt!</span></a></li>
                    <li>
                      <div style="margin-left: 8px; height: 3px; background-image: url(../../Img/border.png);
                        background-repeat: repeat-x;">
                      </div>
                    </li>
                    <li><a href="/Wiki.mvc/FAQ">FAQ<span>Frequently Asked Questions</span></a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              <ul class="menu">
                <li><a href="/Missions.mvc">Extras</a>
                  <ul class="menu-border">
                    <li><a href="/Missions.mvc">Missions</a></li>
                    <li><a href="/Maps.mvc">Maps</a></li>
                    <li><a href="/Ladders.mvc">Ladders</a></li>
                    <li><a href="/Wiki.mvc/Fanart">Fanart<span>Show the world your favorite game ;-)</span></a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              <ul class="menu">
                <li><a href="/Forum.mvc">Forum</a>
              </ul>
            </td>
            <td>
              <ul class="menu">
                <li><a target="_new" href="http://code.google.com/p/zero-k/">Contribute</a>
                  <ul class="menu-border">
                    <li><a target="_new" href="http://code.google.com/p/zero-k/">Development site</a>
                      <li><a target="_new" href="http://code.google.com/p/zero-k/issues/entry">Bugs?<span>Let
                        us know so we can <b>squash them!</b></span></a></li>
                      <li><a target="_new" href="http://code.google.com/p/zero-k/wiki/Developing">Make the
                        game with us</a></li>
                      <li><a href="@Url.Action("Donate", "Wiki")">Donate<span>Help us cover server cost :-)</span></a></li>
                      <li><a href="/Wiki.mvc/Credits">Credits</a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td width="100%">
              <style type="text/css">
 @@import url(http://www.google.com/cse/api/branding.css);
</style>
              <div style="background-color: #000000; color: #FFFFFF">
                <div>
                  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
                  <script type="text/javascript">
                    google.load('search', '1');
                    google.setOnLoadCallback(function () {
                      google.search.CustomSearchControl.attachAutoCompletion(
      '005922609343212335344:hhfjrwusr9u',
      document.getElementById('q'),
      'cse-search-box');
                    });
                  </script>
                  <form action="http://www.google.com/cse" id="cse-search-box">
                  <div>
                    <input type="hidden" name="cx" value="005922609343212335344:hhfjrwusr9u" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <input type="text" name="q" id="q" autocomplete="off" size="11" />
                    <input name="sa" value="Search" type="image" src="/img/search_img.png" style="border: none;" />
                  </div>
                  </form>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!close navigation>
      <div class="border">
        @{Html.RenderPartial("LoginBar");}
      </div>
      <!close login>
      <div class="border">
        @RenderBody()
      </div>
      <div id="footer" class="border">
        <span class="center cdark">
          Zero-K is a free real time strategy (RTS), that aims to be the best open source multi-platform strategy game available :-)
        </span>
      </div>
      <!close footer>
    </div>
    
    <!close wrapper>
  } else if (ViewBag.Minimal != true) {
    <div style="margin: 10px;">
      @RenderBody()
    </div>
  } else {
    @RenderBody()
  }
</body>
</html>
