@using ZeroKWeb
@using ZkData
<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Zero-K is a FREE multiplatform, open-source RTS game which aims to be dynamic and action-packed." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (ViewBag.Refresh > 0)
    {
        <meta http-equiv="refresh" content="@ViewBag.Refresh">
    }

    <title>
        @if (!string.IsNullOrEmpty(Page.Title))
        {
            @Page.Title<text> - </text>
        }
        Zero-K
    </title>

    <link rel="icon" href='@Href("~/img/favicon.png")' />
    <link rel="stylesheet/less" type="text/css" href="~/Styles/less/style.less" />
    @System.Web.Optimization.Styles.Render("~/bundles/maincss")
    @System.Web.Optimization.Scripts.Render("~/bundles/main")

    @* TODO: no background | static small image | large image | movie loop -- based on cookies & kudos unlocks *@
    @if (ViewBag.Minimal == null && !Global.IsLobbyAccess)
    {
        //******should instead check cookie for design mode and choose style accordingly******
        if (ViewBag.StaticBackground == true)
        {
            <style type="text/css">
                html {
                    background: #000 url("/img/bg_bluehex.gif") fixed;
                }
            </style>
        }
        else
        {
            // What we're doing here is generating a number unique to each date
            // We use this to seed the RNG so that it picks a new background once per day
            int date = Convert.ToInt32(DateTime.Now.ToString("MMddyyyy"));
            var random = new Random(date);
            string[] files = Directory.GetFiles(Server.MapPath("~/img/screenshots"));
            string file = Path.GetFileName(files[random.Next(files.Length)]);
            <style type="text/css">
                html {
                    background: #000 url("/img/screenshots/@file") no-repeat fixed 50% 50%;
                    background-size: cover;
                }
            </style>
        }
    }

    @* TODO: galaxy, minimap, planetwars scripts -- move to bundle *@
    @RenderSection("head", false)
</head>
<body>

    <div id='busy' class="border">Loading...<img src='/img/Loader.gif' class="vcenter" /></div>

    @if (ViewBag.Error != null)
    {
        <h3 style="color:red">@ViewBag.Error</h3>
    }

    <div id="logo">
        <a href="/">
            <img class="center" src="/img/zk_logo.png" alt="Zero K" />
        </a>
    </div>

    @Html.Partial("Navigation")
    
    <div id="navtransition"></div>
    
    <div id="render-body">
        @RenderBody()
    </div>

    <script language="javascript">
        $(function () {
            GlobalPageInit();
        });
    </script>
</body>
</html>
