@using ZkData
@model IEnumerable<AccountPlanet>

<table>
    
    @foreach (var facGroup in Model.Where(ap => ap.Influence + ap.ShadowInfluence > 0).GroupBy(ap => ap.Account.Faction).Where(x=>x.Key!=null).OrderByDescending(g => g.Sum(ap => ap.Influence + ap.ShadowInfluence)).Take(3))
    {
        <tr>
            <td>
                <b><img src='@facGroup.Key.GetImageUrl()' style='width: 32px; height: 32px;'/></b>
            </td>
            <td>
                <b>
                    @Html.PrintInfluence(facGroup.Key, facGroup.Sum(ap => ap.Influence), facGroup.Sum(ap => ap.ShadowInfluence))
                </b>
            </td>
        </tr>
  foreach (var clanGroup in facGroup.Where(ap => ap.Influence + ap.ShadowInfluence > 0).GroupBy(ap => ap.Account.Clan).OrderByDescending(g => g.Sum(ap => ap.Influence + ap.ShadowInfluence)).Take(2))
        {
      <tr>
          <td>
              <b>&nbsp;&nbsp;&nbsp;@Html.PrintClan(clanGroup.Key)</b>
          </td>
          <td>
              <b>&nbsp;
                  @Html.PrintInfluence(clanGroup.Key, clanGroup.Sum(ap => ap.Influence), clanGroup.Sum(ap => ap.ShadowInfluence))
              </b>
          </td>
      </tr>
           foreach (var accountPlanet in clanGroup.OrderByDescending(ap => ap.Influence + ap.ShadowInfluence).Take(2))
            {
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>@Html.PrintAccount(accountPlanet.Account)</small></td>
                    <td>&nbsp;&nbsp;&nbsp;<small>@Html.PrintInfluence(accountPlanet)</small></td>
                </tr>
            }
        }
    }
</table>
