@using ZkData
@model IEnumerable<PlanetFaction>
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Faction', 'Influence'],
                @foreach (var fac in Model.Where(x=>x.Influence > 0).OrderByDescending(x=>x.Influence)) {
                    <text>['@fac.Faction.Name', @fac.Influence],</text>
                }
            ['Neutral', @(100 - (Model.Sum(x=>(double?)x.Influence)??0))]
        ]);

            var options = {
                backgroundColor : 'black',
                chartArea : {left:0,top:0,width:"100%", height:"100%"},
                legend : {position:'none'},
                colors: [
                    
                    @foreach (var fac in Model.Where(x=>x.Influence > 0).OrderByDescending(x=>x.Influence)) {
                        <text>'@fac.Faction.Color',</text>
                    }
                
            '#808080'
        ]
            
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        }
    </script>    
    
<div id="chart_div" style="width: 200px; height: 200px; float:left"></div>    

<table>
    @foreach (var facGroup in Model.Where(x=>x.Influence > 0).OrderByDescending(g => g.Influence))
    {
        <tr>
            <td>
                <b><img src='@facGroup.Faction.GetImageUrl()' style='width: 32px; height: 32px;'/></b>
            </td>
            <td>
                <b>
                    @Html.PrintInfluence(facGroup.Faction, facGroup.Influence)
                </b>
            </td>
        </tr>
    }
</table>
<br style="clear:both"/>
