@using ZeroKWeb
@using ZkData
@if (!Global.IsLobbyAccess || Global.IsAccountAuthorized)
{

    if (!(Global.IsAccountAuthorized))
    {
        <form method="post" action="@Url.Action("Logon", "Home")" style="padding: 0; margin: 0;">
            <a href="#" id="steamloginsubmit" onclick="$(this).closest('form').submit();" nicetitle="Login using Steam (must create account in-game first)">
                <img src="~/Img/sits_small.png" style="vertical-align: middle;" />
            </a>
            &nbsp;&nbsp;<i>OR</i>&nbsp;
            Zero-K Name: 
            <input type="text" name="login" />
            &nbsp;&nbsp; 
            Password:
            <input type="password" name="password" />
            &nbsp;&nbsp;
        <button name="zklogin" type="submit" value="Login" title="Login with your Zero-K lobby account (must create account in-game first)" alt="Login" >Login</button>
            <input type="hidden" name="referer" value="@(Request["ReturnUrl"] ?? Request.Url?.ToString())" />
        </form>
    }
    else
    {
        <span>
            &nbsp;
            @Html.PrintAccount(Global.Account)
            <input type="hidden" name="referer" value="@Request.Url" />
            @if (Global.Clan != null)
            {
                <span> | @Html.PrintClan(Global.Clan)</span>
            }

            @if (Global.Account.Faction != null)
            {
                <span> | @Html.PrintFaction(Global.Account.Faction, false)</span>
            }
            @if (Global.Account.Kudos > 0)
            {
                <span nicetitle="Metagame currency that you can get by donating to Zero-K. You can use it to get access to unique commander decorations"> | Kudos: @Global.Account.Kudos </span>
            }
            @if (GlobalConst.PlanetWarsMode != PlanetWarsModes.AllOffline)
            {
                <span> | @Html.PrintMetal(Global.Account) | @Html.PrintDropships(Global.Account) | @Html.PrintBombers(Global.Account) | @Html.PrintWarps(Global.Account)</span>
            }
            &nbsp;
            @if (Global.IsLobbyAccess)
            {
                <a href="@Url.Action("Logout", "Home")@("@logout")" nicetitle="Logout"><img src="~/Img/logout.png" style="width:20px" /></a>
            }
            else
            {
                <a href="@Url.Action("Logout", "Home", new { referer = Request.Url })" nicetitle="Logout"><img src="~/Img/logout.png" style="width:20px" /></a>
            }

        </span>


    }
}
