@using ZeroKWeb
@if (!Global.IsLobbyAccess) {
	<span class="fright">@Html.ActionLink("Switch Skin", "SwitchSkin", "Home")</span>
	//<span class="fright"><a href="" onclick="setStyleSheet('default');">1</a> | <a href="" onclick="setStyleSheet('minimal');" class="">2</a> | <a href="" onclick="makefakecookie();">C</a></span>
}
@if (!(Global.IsAccountAuthorized)) {
@*<!login>*@
	<form method="post" action="@Url.Action("Logon", "Home")" >
	Name:
	<input type="text" name="login" />
	&nbsp;&nbsp; Password:
	<input type="password" name="password" />
	&nbsp;&nbsp;
	<input type="image" value="Login" src="/img/login.png" style="border: none; width: 32px;
		height: 32px; vertical-align: middle;" title="Login" alt="Login" />
	<small>(use Zero-K lobby account)</small>
	<input type="hidden" name="referer" value="@(Request["ReturnUrl"] != null ? Request["ReturnUrl"] : Request.Url.ToString())" />
	</form>
} else {
	<form method="post" action="@Url.Action("Logout", "Home")" >
	@Html.PrintAccount(Global.Account)
	<input type="hidden" name="referer" value="@Request.Url" />
	<b>@Html.ActionLink("PlanetWars", "Index", "Planetwars")</b> Clan: @Html.PrintClan(Global.Clan)
	| Credits: @Global.Account.Credits.ToString("C0") | @Html.ActionLink("Trade", "Trade", "Planetwars", new { username = Global.Account.Name }, null)
	| Influence: @Html.PrintInfluence(Global.Clan, Global.Account.AccountPlanets.Sum(x => (int?)x.Influence) ?? 0, Global.Account.AccountPlanets.Sum(x => (int?)x.ShadowInfluence) ?? 0)
	<input type="image" value="Logout" src="/img/logout.png" style="border: none;
		width: 32px; height: 32px; vertical-align: middle;" alt="Logout" title="Logout"/>
	</form>
}
