@using ZeroKWeb
@using ZkData
@if (!Global.IsLobbyAccess || Global.IsAccountAuthorized)
{

    if (!(Global.IsAccountAuthorized))
    {
        @*<!login>*@
        <form method="post" action="@Url.Action("Logon", "Home")" style="padding: 0; margin: 0;">
            Name:
            <input type="text" name="login" />
            &nbsp;&nbsp; Password:
            <input type="password" name="password" />
            &nbsp;&nbsp;
            <input type="image" value="Login" src="/img/login.png" style="border: none; width: 25px;
        height: 25px; vertical-align: middle;" title="Login with your Zero-K lobby account" alt="Login" />
            <small>
                (<a href="/Wiki/FAQ#11._I_forgot_my_password_/_username._Help_me_pls!" target="_blank">Forgot password / username?</a> /
                <a href="/Wiki/LobbyStart" target="_blank">Create an account</a>)
            </small>
            <input type="hidden" name="referer" value="@(Request["ReturnUrl"] != null ? Request["ReturnUrl"] : Request.Url.ToString())" />
        </form>
    }
    else
    {
        <span>
            &nbsp;
            @Html.PrintAccount(Global.Account)
            <input type="hidden" name="referer" value="@Request.Url" />
            @if (Global.Clan != null)
            {
                <span> | @Html.PrintClan(Global.Clan)</span>
            }

            @if (Global.Account.Faction != null)
            {
                <span> | @Html.PrintFaction(Global.Account.Faction, false)</span>
            }
            @if (Global.Account.Kudos > 0) {
                <span nicetitle="Metagame currency that you can get by donating to Zero-K. You can use it to get access to unique commander decorations"> | Kudos: @Global.Account.Kudos </span>
            }
            @if (GlobalConst.PlanetWarsMode != PlanetWarsModes.AllOffline)
            {
                <span> | @Html.PrintMetal(Global.Account) | @Html.PrintDropships(Global.Account) | @Html.PrintBombers(Global.Account) | @Html.PrintWarps(Global.Account)</span>
            }
            &nbsp;
            @if (Global.IsLobbyAccess)
            {
                <a href="@Url.Action("Logout", "Home")@("@logout")"  nicetitle="Logout"><img src="~/Img/logout.png" style="width:20px" /></a>
            }
            else
            {
                <a href="@Url.Action("Logout", "Home", new { referer = Request.Url })" nicetitle="Logout"><img src="~/Img/logout.png" style="width:20px"/></a>
            }
            
        </span>
        

    }
}
