@using ZeroKWeb
@using ZkData
<nav id="menu">
    @* menu divs must have no whitespace between elements otherwise modern browsers will add spaces and screw up the formatting *@
    <div class="nav-logo">
        <a href="/">
            <img src="/img/zk_logo.png" alt="Zero K" />&nbsp;
        </a>
    </div><div class="login menu">
    @if (!Global.IsAccountAuthorized)
    {
        <i class="fa fa-lock"></i><div class="nav-text">Login</div>
        <div class="submenu">
            <form id="login" method="post" action="@Url.Action("Logon", "Home")">
                <input id="username" type="text" name="username" placeholder="Username" />
                <input id="password" type="password" name="password" placeholder="Password" />
                <input type="submit" value="Login" />
                <hr />
                <button type="submit">
                    <img src="~/img/steam-icon.png" /> Login with STEAM
                </button>
                <input type="hidden" name="referer" value="@(Request["ReturnUrl"] ?? Request.Url?.ToString())" />
            </form>
        </div>

    }
    else
    {
        string logoutUrl = "";
        if (Global.IsLobbyAccess)
        {
            logoutUrl = Url.Action("Logout", "Home") + "@logout";
        }
        else
        {
            logoutUrl = Url.Action("Logout", "Home", new { referer = Request.Url });
        }

        @HtmlHelperExtensions.PrintAccount(Global.Account)

          <div class="submenu">
              @if (Global.Account.HasKudos)
              {
                  <span nicetitle="Metagame currency that you can get by donating to Zero-K. You can use it to get access to unique commander decorations"> | Kudos: @(Global.Account.KudosGained - Global.Account.KudosSpent)</span>
              }

              @if (MiscVar.PlanetWarsMode != PlanetWarsModes.AllOffline)
              {
                  <span> | @Html.PrintMetal(Global.Account) | @Html.PrintDropships(Global.Account) | @Html.PrintBombers(Global.Account) | @Html.PrintWarps(Global.Account)</span>
              }

              <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home<span>There's no place like it</span></a>
              <a href="@Url.Action("UnlockList", "My")"><i class="fa fa-unlock"></i> Unlocks<span>Cool gear to accessorize your commanders</span></a>
              <a href="@Url.Action("Commanders", "My")"><i class="fa fa-male"></i> Commanders<span>Cool mechs you can modify to master the battlefield</span></a>
              <a href="@Url.Action("UserVotes", "Poll", new { id = Global.AccountID })"><i class="fa fa-bar-chart"></i> Polls<span>Voting is important</span></a>
              <a href="@Url.Action("Index", "Contributions")"><i class="fa fa-dollar"></i> Donations<span>Help cover the server costs</span></a>
              <a href="@logoutUrl"><i class="fa fa-sign-out"></i> Logout<span>You'll be back for more sooner or later...</span></a>
          </div>
    }
</div><div class="menu">
        <i class="fa fa-play"></i><div class="nav-text">Play</div>
        <div class="submenu">
            <a href="/Wiki/Download"><i class="fa fa-download"></i> Download Zero-K<span>Download the game! It's Free!</span></a>
            <!--<a href="Url.Action("Index", "Missions")">Missions<span>Single player missions</span></a>-->
            <!--Mission hidden until Chobby supports them-->
            <a href="@Url.Action("Index", "Maps")"><i class="fa fa-map"></i> Maps<span>Lush jungles, arid tundras, rocky meteors, a duck -- the choices are limitless</span></a>
            <a href="@Url.Action("Index", "Battles")"><i class="fa fa-reply-all"></i> Replays<span>All your past victories, stored here!</span></a>
            <a href="@Url.Action("Index", "Ladders")"><i class="fa fa-line-chart"></i> Ladders<span>Do you want to be the very best, like noone ever was?</span></a>
            <a href="@Url.Action("Ratings", "Charts")"><i class="fa fa-pie-chart"></i> Statistics<span>For all the number crunchers out there</span></a>
        </div>
    </div><div class="menu">
        <i class="fa fa-video-camera"></i><div class="nav-text">Media</div>
        <div class="submenu">
            <a href="/Wiki/Media#Screenshots"><i class="fa fa-camera"></i> Screenshots<span>A picture may have a thousand units, vying for victory</span></a>
            <a href="/Wiki/Media#Videos"><i class="fa fa-video-camera"></i> Videos<span>Sit back with some popcorn to fully enjoy the explosions</span></a>
            <a href="/Wiki/Fanart"><i class="fa fa-paint-brush"></i> Fanart<span>Show the world your favorite game</span></a>
        </div>
    </div><div class="menu">
        <i class="fa fa-info-circle"></i><div class="nav-text">Wiki</div>
        <div class="submenu">
            <a href="/mediawiki/index.php?title=Manual" target="_blank"><i class="fa fa-file"></i> Index</a>
            <a href="/mediawiki/index.php?title=Newbie_Guide" target="_blank"><i class="fa fa-book"></i> Newbie guide<span>Just starting out? This should rev up your engines</span></a>
            <a href="/mediawiki/index.php?title=Units" target="_blank"><i class="fa fa-star"></i> Units<span>A comprehensive collection of the many units available</span></a>
            <a href="/mediawiki/index.php?title=Economy_Guide" target="_blank"><i class="fa fa-money"></i> Economy<span>Learn how to fuel your massive robot armies</span></a>
            <a href="/mediawiki/index.php?title=Terraform" target="_blank"><i class="fa fa-road"></i> Terraforming<span>Let's go play in the dirt!</span></a>
            <a href="/mediawiki/index.php?title=FAQ" target="_blank"><i class="fa fa-question"></i> FAQ<span>Frequently Asked Questions</span></a>
        </div>
    </div><div class="menu">
        <i class="fa fa-crosshairs"></i><div class="nav-text">PlanetWars</div>
        <div class="submenu">
            <a href="@Url.Action("Index", "Planetwars")"><i class="fa fa-moon-o"></i> PlanetWars<span>Multiplayer online campaign</span></a>
            <a href="@Url.Action("Ladder", "Planetwars")"><i class="fa fa-line-chart"></i> Ladder<span>The bravest heros and devious villians in the fight for galactic dominance</span></a>
            <a href="@Url.Action("Index", "Factions")"><i class="fa fa-university"></i> Factions<span>The mighty factions controlling huge sectors of galaxy</span></a>
            <a href="@Url.Action("Index", "Clans")"><i class="fa fa-users"></i> Clans<span>Play with your friends or make new ones</span></a>
        </div>
    </div><div class="menu">
        <i class="fa fa-comment"></i><div class="nav-text">Community</div>
        <div class="submenu">
            <a href="@Url.Action("Chat", "Lobby")"><i class="fa fa-comments"></i> Web Chat<span>Keep in touch from anywhere - no downloads required</span></a>
            <a href="@Url.Action("Index", "Forum")"><i class="fa fa-quote-left"></i> Forum<span>Ask for help, discuss past battles or the finer details of the game</span></a>
            <a href="/mediawiki/index.php?title=Zero-K:Code_of_Conduct" target="_blank"><i class="fa fa-gavel"></i> Code of Conduct<span>Be nice, have fun!</span></a>
            <a href="/mediawiki/index.php?title=Zero-K:Privacy_policy" target="_blank"><i class="fa fa-user-secret"></i> Privacy Policy</a>
            <a href="/mediawiki/index.php?title=Zero-K:Contact" target="_blank"><i class="fa fa-envelope"></i> Contact<span>Contact the Zero-K team</span></a>
            <a href="/mediawiki/index.php?title=Credits" target="_blank"><i class="fa fa-address-book"></i> Credits<span>Makers of Zero-K</span></a>
            <a href="/mediawiki/index.php?title=Zero-K:Developing" target="_blank"><i class="fa fa-code-fork"></i> Develop<span>Help make the game with us</span></a>
        </div>
    </div><div class="search menu">
        <i class="fa fa-search"></i><div class="nav-text">Search</div>
        <div class="submenu">
            <form action="@Url.Action("SubmitSearch","Forum")" method="POST">
                <input type="text" name="keywords" id="keywords" data-autocomplete="@Url.Action("Index", "Autocomplete")" data-autocomplete-action="goto" />
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>