@using ZeroKWeb
@using ZkData
<nav id="menu">
    <div class="nav-logo">
        <a href="/">
            <img src="/img/zk_logo.png" alt="Zero K" />
        </a>
    </div>
    <div class="login menu">
        @if (!Global.IsAccountAuthorized)
        {
            <i class="fa fa-lock"></i><div class="nav-text">Login</div>
            <div class="submenu">
                <form id="login" method="post" action="@Url.Action("Logon", "Home")">
                    <div class="login-option">
                        <div class="steam-login" nicetitle="Login using Steam (after creating in-game account)" onclick="$('#login').submit()">
                            <img src="~/img/steam-icon.png" /> Login with STEAM
                        </div>
                    </div>
                    <div class="login-option">
                        <label for="username">Username:</label><input id="username" type="text" name="username" />
                        <label for="password">Password:</label><input id="password" type="password" name="password" />
                        <button type="submit">Login</button>
                    </div>
                    <input type="hidden" name="referer" value="@(Request["ReturnUrl"] ?? Request.Url?.ToString())" />
                </form>
            </div>

        }
        else
        {
            @HtmlHelperExtensions.PrintAccount(Global.Account)

            <div class="submenu">
                @if (Global.Account.HasKudos)
                {
                    <span nicetitle="Metagame currency that you can get by donating to Zero-K. You can use it to get access to unique commander decorations"> | Kudos: @(Global.Account.KudosGained - Global.Account.KudosSpent)</span>
                }

                @if (MiscVar.PlanetWarsMode != PlanetWarsModes.AllOffline)
                {
                    <span> | @Html.PrintMetal(Global.Account) | @Html.PrintDropships(Global.Account) | @Html.PrintBombers(Global.Account) | @Html.PrintWarps(Global.Account)</span>
                }

                @if (Global.IsLobbyAccess)
                {
                    <a href="@Url.Action("Logout", "Home")@("@logout")" nicetitle="Logout">
                        @*<img src="~/Img/logout.png" style="width:20px" />*@
                        Logout
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Logout", "Home", new { referer = Request.Url })" nicetitle="Logout">
                        @*<img src="~/Img/logout.png" style="width:20px" />*@
                        Logout
                    </a>
                }
                <a href="@Url.Action("Index", "Home")">Home</a>
                <a href="@Url.Action("UnlockList", "My")">Unlocks</a>
                <a href="@Url.Action("Commanders", "My")">Commanders</a>
                <a href="@Url.Action("UserVotes", "Poll", new { id = Global.AccountID })">Polls</a>
            </div>
        }
    </div>
    <div class="menu">
        <i class="fa fa-play"></i><div class="nav-text">Play</div>
        <div class="submenu">
            <a href="/Wiki/Download">Download Zero-K<span>Download the game, it's free! :)</span></a>
            <!--<a href="Url.Action("Index", "Missions")">Missions<span>Single player missions</span></a>-->
            <!--Mission hidden until Chobby supports them-->
            <a href="@Url.Action("Index", "Maps")">Maps<span>Thousands of maps to pick</span></a>
            <a href="@Url.Action("Index", "Battles")">Replays<span>All your past victories, stored here!</span></a>
        </div>
    </div>
    <div class="menu">
        <i class="fa fa-video-camera"></i><div class="nav-text">Media</div>
        <div class="submenu">
            <a href="/Wiki/Media#Screenshots">Screenshots</a>
            <a href="/Wiki/Media#Videos">Videos</a>
            <a href="/Wiki/Fanart">Fanart<span>Show the world your favorite game ;-)</span></a>
        </div>
    </div>
    <div class="menu">
        <i class="fa fa-info-circle"></i><div class="nav-text">Wiki</div>
        <div class="submenu">
            <a href="/mediawiki/index.php?title=Manual">Index</a>
            <a href="/mediawiki/index.php?title=Newbie_Guide">Newbie guide<span>Don't know where to begin? Click here.</span></a>
            <a href="/mediawiki/index.php?title=Units">Units</a>
            <a href="/mediawiki/index.php?title=Economy_Guide">Economy</a>
            <a href="/mediawiki/index.php?title=Terraform">Terraforming<span>Let's go play in the dirt!</span></a>
            <a href="/mediawiki/index.php?title=FAQ">FAQ<span>Frequently Asked Questions</span></a>
        </div>
    </div>
    <div class="menu">
        <i class="fa fa-crosshairs"></i><div class="nav-text">PlanetWars</div>
        <div class="submenu">
            <a href="@Url.Action("Index", "Planetwars")">PlanetWars<span>Multiplayer online campaign</span></a>
            <a href="@Url.Action("Ladder", "Planetwars")">Ladder</a>
            <a href="@Url.Action("Index", "Factions")">Factions<span>The mighty factions controlling huge sectors of galaxy</span></a>
        </div>
    </div>
    <div class="menu">
        <i class="fa fa-comment"></i><div class="nav-text">Community</div>
        <div class="submenu">
            <a href="@Url.Action("Index", "Forum")">Forum<span>Discuss, ask for help, have fun!</span></a>
            <a href="@Url.Action("Index", "Clans")">Clans<span>Play with your friends or make friends while playing :)</span></a>
            <a href="@Url.Action("Index", "Ladders")">Ladders</a>
            <a href="@Url.Action("Ratings", "Charts")">Statistics</a>
            <a href="/mediawiki/index.php?title=Zero-K:Code_of_Conduct">Code of Conduct<span>Be nice, have fun!</span></a>
            <a href="/mediawiki/index.php?title=Zero-K:Developing">Develop<span>Make the game with us</span></a>
            <a href="/mediawiki/index.php?title=Zero-K:Privacy_policy">Privacy Policy</a>
            <a href="/mediawiki/index.php?title=Zero-K:Contact">Contact<span>Contact the Zero-K team</span></a>
            <a href="/mediawiki/index.php?title=Credits">Credits<span>Makers of Zero-K</span></a>
        </div>
    </div>
    <div class="donate">
        <a href="@Url.Action("Index", "Contributions")">
            <i class="fa fa-dollar"></i><div class="nav-text">Donate</div>
            <span>Help cover the server costs!</span>
        </a>
    </div>
    <div class="search">
        <form action="@Url.Action("SubmitSearch","Forum")" method="POST">
            <input type="text" name="keywords" id="keywords" data-autocomplete="@Url.Action("Index", "Autocomplete")" data-autocomplete-action="goto" />
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</nav>