@using ZeroKWeb
@using ZkData
<nav>
    <div class="menu">
        Home
        <div class="submenu">
            <a href="@Url.Action("Index", "Home")">Home</a>
            <a href="@Url.Action("UnlockList", "My")">Unlocks</a>
            <a href="@Url.Action("Commanders", "My")">Commanders</a>
            <a href="@Url.Action("UserVotes", "Poll", new { id = Global.AccountID })">Polls</a>
        </div>
    </div>
    <div class="menu">
        Play
        <div class="submenu">
            <a href="/Wiki/Download">Download Zero-K<span>Download the game, it's free! :)</span></a>
            <!--<a href="Url.Action("Index", "Missions")">Missions<span>Single player missions</span></a>-->
            <!--Mission hidden until Chobby supports them-->
            <a href="@Url.Action("Index", "Maps")">Maps<span>Thousands of maps to pick</span></a>
            <a href="@Url.Action("Index", "Battles")">Replays<span>All your past victories, stored here!</span></a>
        </div>
    </div>
    <div class="menu">
        Media
        <div class="submenu">
            <a href="/Wiki/Media#Screenshots">Screenshots</a>
            <a href="/Wiki/Media#Videos">Videos</a>
            <a href="/Wiki/Fanart">Fanart<span>Show the world your favorite game ;-)</span></a>
        </div>
    </div>
    <div class="menu">
        Wiki
        <div class="submenu">
            <a href="/mediawiki/index.php?title=Manual">Index</a>
            <a href="/mediawiki/index.php?title=Newbie_Guide">Newbie guide<span>Don't know where to begin? Click here.</span></a>
            <a href="/mediawiki/index.php?title=Units">Units</a>
            <a href="/mediawiki/index.php?title=Economy_Guide">Economy</a>
            <a href="/mediawiki/index.php?title=Terraform">Terraforming<span>Let's go play in the dirt!</span></a>
            <a href="/mediawiki/index.php?title=FAQ">FAQ<span>Frequently Asked Questions</span></a>
        </div>
    </div>
    <div class="menu">
        Planetwars
        <div class="submenu">
            <a href="@Url.Action("Index", "Planetwars")">PlanetWars<span>Multiplayer online campaign</span></a>
            <a href="@Url.Action("Ladder", "Planetwars")">Ladder</a>
            <a href="@Url.Action("Index", "Factions")">Factions<span>The mighty factions controlling huge sectors of galaxy</span></a>
        </div>
    </div>
    <div class="menu">
        Community
        <div class="submenu">
            <a href="@Url.Action("Index", "Forum")">Forum<span>Discuss, ask for help, have fun!</span></a>
            <a href="@Url.Action("Index", "Clans")">Clans<span>Play with your friends or make friends while playing :)</span></a>
            <a href="@Url.Action("Index", "Ladders")">Ladders</a>
            <a href="@Url.Action("Ratings", "Charts")">Statistics</a>
            <a href="/mediawiki/index.php?title=Zero-K:Code_of_Conduct">Code of Conduct<span>Be nice, have fun!</span></a>
            <a href="/mediawiki/index.php?title=Zero-K:Developing">Develop<span>Make the game with us</span></a>
            <a href="/mediawiki/index.php?title=Zero-K:Privacy_policy">Privacy Policy</a>
            <a href="/mediawiki/index.php?title=Zero-K:Contact">Contact<span>Contact the Zero-K team</span></a>
            <a href="/mediawiki/index.php?title=Credits">Credits<span>Makers of Zero-K</span></a>
        </div>
    </div>
    <div class="donate">
        <a href="@Url.Action("Index", "Contributions")">Donate<span>Help cover the server costs!</span></a>
    </div>
    <div class="search">
        @{ Html.RenderPartial("SiteSearch"); }
    </div>
    <div class="login">
        @if (!Global.IsAccountAuthorized)
        {
            <form id="login" method="post" action="@Url.Action("Logon", "Home")">
                <img src="/img/sits_small.png"
                     onclick="$('#login').submit();"
                     nicetitle="Login using Steam (must create account in-game first)" />
                Username: <input type="text" name="login" />
                Password: <input type="password" name="password" />
                <input type="submit" value="Login" />
                <input type="hidden" name="referer" value="@(Request["ReturnUrl"] ?? Request.Url?.ToString())" />
            </form>
        }
        else
        {
            @HtmlHelperExtensions.PrintAccount(Global.Account)
            
            if (Global.Account.HasKudos)
            {
                <span nicetitle="Metagame currency that you can get by donating to Zero-K. You can use it to get access to unique commander decorations"> | Kudos: @(Global.Account.KudosGained - Global.Account.KudosSpent)</span>
            }

            if (MiscVar.PlanetWarsMode != PlanetWarsModes.AllOffline)
            {
                <span> | @Html.PrintMetal(Global.Account) | @Html.PrintDropships(Global.Account) | @Html.PrintBombers(Global.Account) | @Html.PrintWarps(Global.Account)</span>
            }

            if (Global.IsLobbyAccess)
            {
                <a href="@Url.Action("Logout", "Home")@("@logout")" nicetitle="Logout"><img src="~/Img/logout.png" style="width:20px" /></a>
            }
            else
            {
                <a href="@Url.Action("Logout", "Home", new { referer = Request.Url })" nicetitle="Logout"><img src="~/Img/logout.png" style="width:20px" /></a>
            }

        }
    </div>
</nav>