@using ZkData
@model Planet
<table>
    @{
        var spread = Model.PlanetStructures.Where(x => x.IsActive).Sum(x => x.StructureType.EffectInfluenceSpread);

        var dropshipCapa = Model.PlanetStructures.Where(x => x.IsActive).Sum(x => x.StructureType.EffectDropshipCapacity);
        var dropshipProd = Model.PlanetStructures.Where(x => x.IsActive).Sum(x => x.StructureType.EffectDropshipProduction);
        var bombDefense = Model.PlanetStructures.Where(x => x.IsActive).Sum(x => x.StructureType.EffectBomberDefense);
        var dropDefense = Model.PlanetStructures.Where(x => x.IsActive).Sum(x => x.StructureType.EffectDropshipDefense);
        var warpProd = Model.PlanetStructures.Where(x => x.IsActive).Sum(x => x.StructureType.EffectWarpProduction);
        var bombProd = Model.PlanetStructures.Where(x => x.IsActive).Sum(x => x.StructureType.EffectBomberProduction);
        var victory = Model.PlanetStructures.Where(x => x.IsActive).Any(x => x.StructureType.EffectIsVictoryPlanet == true);
        var aliens = Model.PlanetStructures.Where(x => x.IsActive).Select(x => x.StructureType.EffectBots).Where(x => !string.IsNullOrEmpty(x)).FirstOrDefault();
        var techs = Model.PlanetStructures.Where(x => x.IsActive).Select(x => x.StructureType.Unlock).Where(x => x != null).ToList();
        var energyProd = Model.PlanetStructures.Where(x => x.IsActive).Sum(x => x.StructureType.EffectEnergyPerTurn);
        var allowShips = Model.PlanetStructures.Where(x => x.IsActive).Any(x => x.StructureType.EffectAllowShipTraversal == true);
        var blockWarp = Model.PlanetStructures.Where(x => x.IsActive).Any(x => x.StructureType.EffectBlocksJumpgate == true);
        var blockSpread = Model.PlanetStructures.Where(x => x.IsActive).Any(x => x.StructureType.EffectBlocksInfluenceSpread == true);
        var upkeep = Model.GetUpkeepCost();

        <tr>
            <td>Governor:</td>
            <td>@Html.PrintAccount(Model.Account)  @Html.PrintClan(Model.Account != null ? Model.Account.Clan : null)</td>
        </tr>
        <tr>
            <td>Capabilities:</td>
            <td>
                @if (allowShips) {
                    <span>ship movement</span> 
                }
                @if (spread > 0) {
                    @:, <span>+@Html.PrintInfluence(Model.Faction, spread??0) influence spread</span>
                }
                @if (bombDefense > 0)
                {
                    @:, <span style='color: red'>+@bombDefense bomber defense</span>
                }                
                @if (dropDefense > 0)
                {
                    @:, <span style='color: red'>+@dropDefense ship defense</span>
                }
                @if( energyProd > 0) {
                    @:, <span style="color:lightgreen">+@Html.PrintEnergy(energyProd)</span>    

                }
                @if (upkeep > 0) {
                    @:, <span style='color: red'>-@Html.PrintEnergy(upkeep)</span>
                }
                @if (bombProd > 0)
                {
                    @:, +@Html.PrintWarps(bombProd)
                }    
                @if (warpProd > 0)
                {
                    @:, +@Html.PrintWarps(warpProd)
                }
                @if (dropshipProd > 0)
                {
                    @:, +@dropshipProd ships/turn
                }
                @if (blockWarp) {
                    <span>, blocks enemy warp</span>
                }
                @if (blockSpread) {
                    <span>, blocks enemy influence spreading</span>
                }
                @if (dropshipCapa > 0)
                {
                    @:, +@dropshipCapa starfleet capacity
                }
                @if (victory)
                {
                    @:, @(victory ? "ARTEFACT!" : "")
                }
                
                 @if (techs.Any())
                {
                    foreach (var t in techs)
                    {
                        @:, <span title='$unlock$@t.UnlockID' style='color:@t.LabelColor; white-space: nowrap;' ><img src='@t.ImageUrl' width='20'/>@t.Name</span>
                    }
                }
               
                @if (!string.IsNullOrEmpty(aliens))
                {
                    @:, @aliens
                }
            </td>
        </tr> }
</table>
