@model ZkData.Planet
<table>
  @{
      var link = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectLinkStrength);
      var credits = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectCreditsPerTurn);
      var dropshipCapa = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectDropshipCapacity);
      var dropshipProd = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectDropshipProduction);
      var defense = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectInfluenceDefense);
      var jump = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectWarpGateCapacity);
      var victory = Model.PlanetStructures.Where(x => !x.IsDestroyed).Any(x => x.StructureType.EffectIsVictoryPlanet == true);
      var aliens = Model.PlanetStructures.Where(x => !x.IsDestroyed).Select(x => x.StructureType.EffectBots).Where(x => !string.IsNullOrEmpty(x)).FirstOrDefault();
      var techs = Model.PlanetStructures.Where(x => !x.IsDestroyed).Select(x => x.StructureType.Unlock).Where(x=> x!=null).ToList();
      
      if (Model.OwnerAccountID != null) 
      {
    <tr>
      <td>Owner:</td>
      <td>@Model.Account.Name</td>
    </tr>
        if (Model.Account.ClanID != null) 
        {
    <tr>
      <td>Clan:</td>
      <td>@Model.Account.Clan.ClanName</td>
    </tr>
        }
      }
      if (defense > 0) {
    <tr>
      <td>Defense:</td>
      <td style='color: red'>+@defense influence</td>
    </tr>
      }
    <tr>
      <td>Link strength:</td>
      <td style='color:@(link == 0 ? "red":"")'>@(link * 100)%</td>
    </tr>
      if (credits > 0) {
    <tr>
      <td>Credits production:</td>
      <td style='color: ltGreen'>+@credits</td>
    </tr>
      }
      if (techs.Any()) {
    <tr>
      <td>Technologies:</td>
      <td>
        @foreach (var t in techs)
        {
          <span title='$unlock$@t.UnlockID' style='color:@t.LabelColor; font-size:small'>
            <img src='@t.ImageUrl' width='20'/>@t.Name<br />
          </span>
        }
      </td>
    </tr>
      }
      if (jump > 0) {
    <tr>
      <td>JumpGate capacity:</td>
      <td>@jump</td>
    </tr>      
      }
      if (dropshipProd > 0) {
    <tr>
      <td>Dropship production:</td>
      <td>@dropshipProd</td>
    </tr>
      }
      if (dropshipCapa >0) {
    <tr>
      <td>Dropship capacity:</td>
      <td>@dropshipCapa</td>
    </tr>
      }
      if (victory) {
    <tr>
      <td>Artefacts:</td>
      <td>@(victory ? "YES!" : "")</td>
    </tr>
      }
      if (!string.IsNullOrEmpty(aliens)) {
    <tr>
      <td>Alien presence:</td>
      <td>@aliens</td>
    </tr>
      }
  }
</table>
