@model ZkData.Planet
<table>
  @{
      var link = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectLinkStrength);
      var credits = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectCreditsPerTurn);
      var dropshipCapa = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectDropshipCapacity);
      var dropshipProd = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectDropshipProduction);
      var defense = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectInfluenceDefense);
			var dropDefense = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectDropshipDefense);
      var jump = Model.PlanetStructures.Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectWarpGateCapacity);
      var victory = Model.PlanetStructures.Where(x => !x.IsDestroyed).Any(x => x.StructureType.EffectIsVictoryPlanet == true);
      var aliens = Model.PlanetStructures.Where(x => !x.IsDestroyed).Select(x => x.StructureType.EffectBots).Where(x => !string.IsNullOrEmpty(x)).FirstOrDefault();
      var techs = Model.PlanetStructures.Where(x => !x.IsDestroyed).Select(x => x.StructureType.Unlock).Where(x=> x!=null).ToList();
      
    <tr>
      <td>Governor:</td>
      <td>@Html.PrintAccount(Model.Account)  @Html.PrintClan(Model.Account != null ? Model.Account.Clan : null)</td>
    </tr>
		<tr>
			<td>Bonuses:</td>
			<td><span style='color:@(link == 0 ? "red":"")'>@(link * 100)%</span> link
			@if (defense > 0) {
				@:, <span style='color: red'>+@defense influence</span>
      }
			@if (dropDefense > 0) {
				@:, <span style='color: red'>+@dropDefense ship defense</span>
      }
      @if (credits > 0) {
				@:, <span style='color: ltGreen'>+$@credits/turn</span>
			}
      @if (techs.Any()) {
				foreach (var t in techs)
        {
          @:, <span title='$unlock$@t.UnlockID' style='color:@t.LabelColor; white-space: nowrap;' ><img src='@t.ImageUrl' width='20'/>@t.Name</span>
        }
      }
      @if (jump > 0) {
				@:, +@jump jumpgate
      }
      @if (dropshipProd > 0) {
				@:, +@dropshipProd ships/turn
      }
      @if (dropshipCapa >0) {
				@:, +@dropshipCapa starfleet capacity
			}
      @if (victory) {
	      @:, @(victory ? "ARTEFACT!" : "")
      }
      @if (!string.IsNullOrEmpty(aliens)) {
				@:, @aliens
      }
			</td>
	</tr>		
  }
</table>
