@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model ZkData.Account
@{
    if (!Model.IsDeleted) { Page.Title = Model.Name + " user page"; }
    else
    {
        if (Global.IsModerator) { Page.Title = Model.Name + " (hidden) user page"; }
        else { Page.Title = "Redacted user account"; }
    }
}

@if (Model.AccountID == Global.AccountID && Global.AccountID > 0)
{
    foreach (Poll p in Account.ValidPolls(Global.Account).Where(x => x.IsHeadline && (x.RoleTargetAccountID == null || !x.PollVotes.Any(y => y.AccountID == Global.AccountID))))
    {
        Html.RenderAction("Index", "Poll", new { pollID = p.PollID });
    }
}

@{

    <link href="/Styles/userpage.css" rel="stylesheet">

    int badge_width = 69;
    int padding = 10;
    <style>
        #levelrank {
            height: @(badge_width*2.5)px;
            width: @(badge_width + padding*2)px;
        }

        #badge-star {
            height: @(badge_width*2.5)px;
            left: @(padding)px;
            top: @(-badge_width*1.25)px;
            width: @(badge_width)px;
        }

        #badge-chevrons {
            height: @(badge_width*2.5)px;
            left: @(padding)px;
            top: @(-badge_width*1.25)px;
            width: @(badge_width)px;
        }

        #badge-bars {
            height: @(badge_width*2.5)px;
            left: @(padding)px;
            top: @(-badge_width*3.75)px;
            width: @(badge_width)px;
        }
    </style>
}

@* User Profile Page! *@
<div>
    @if (Model.IsDeleted)
    {
        <h3>Account redacted</h3>
        <br />
    }
    @if (!Model.IsDeleted || Global.IsModerator)
    {
        <div class="user_buttons">
            <table>
                <tr>
                    <td>
                        @if (Model.AccountID != Global.AccountID)
                        {
                            <a href="@Html.PrintSpringLink("chat/user/" + Model.Name)" nicetitle="Chat with @Model.Name in the lobby"><img src="/img/chat.png" height="32" /></a><br />
                        }
                    </td>
                    <td>
                        @if (Model.AccountID == Global.AccountID)
                        {
                            <a href="@Url.Action("ReportToAdmin", "Users", new { id = Model.AccountID })" nicetitle="Contact administrators"><img src="/img/help.png" height="32" /></a>
                        }
                        else
                        {
                            <a href="@Url.Action("ReportToAdmin", "Users", new { id = Model.AccountID })" nicetitle="Report abuse to administrators"><img src="/img/abuse.png" height="32" /></a>
                        }
                    </td>
                    <td>
                        <a href="/mediawiki/index.php?title=Zero-K:Code_of_Conduct" nicetitle="Code of Conduct"><b><img src="/img/conduct.png" height="32" /></b></a>
                    </td>
                </tr>
            </table>
        </div>
        string color = Faction.FactionColor(Model.Faction, Global.FactionID);
        
        <h1 class="username" style="color:@color !important">
            @{
                MvcHtmlString ranks = new MvcHtmlString(Ratings.Ranks.RankBackgroundImages.Select((x, i) => (string)("<img class='icon16' src='/img/ranks/" + Model.GetIconLevel() + "_" + i + ".png'>")).Aggregate((x, y) => x + y));
                MvcHtmlString levels = new MvcHtmlString(Ratings.Ranks.RankBackgroundImages.Select((x, i) => (string)("<img class='icon16' src='/img/ranks/" + i + "_" + Model.Rank + ".png'>")).Aggregate((x, y) => x + y));
            }

            @if (Model.Country != "??" && !Model.HideCountry)
            {
                <img nicetitle="Last known login location. <br /> <br />Contact the administrators if you would like yours not to be shown publicly." src='/img/flags/@(Model.Country).png' class='flag' height='11' width='16' alt='@Model.Country' />
            }
            @Model.Name <img nicetitle="Combined rank/level icon. <br /><br />@ranks<br>Rank is represented by the icon's color. The profile background adjusts based on rank. <br /><br />@levels<br>Level is represented by the icon's shape. It ranges from a single chevron for level 0 to a star for level 100+." src="/img/ranks/@(Model.GetIconLevel())_@(Model.Rank).png" class="icon16" alt="rank" />
        </h1>

        <div id="usr_info" style="background-image: url('@Ratings.Ranks.GetRankBackgroundImagePath(Model)')">
            <div class="ranks">

                <div id="badges">
                    @Html.PrintBadges(Model, 64, false)
                </div>


                <div id="avatarwrap">
                    <div id="avatar">
                        <table>
                            <tr>
                                <td>
                                    <div class="avatarbg" nicetitle="The avatar is chosen randomly upon registering">
                                        @Html.AccountAvatar(Model)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a @if (Model.Clan == null && Model.Faction == null) { @: href="/Clans"
                                       }>
                                        <div class="avatarbg" @if (Model.Clan == null && Model.Faction == null) { @: nicetitle="Click to find a clan!"
                                             }>
                                            <!-- @Html.AccountAvatar(Model) -->
                                            @if (Model.Clan != null)
                                            {@Html.PrintClan(Model.Clan, true, true);
                                        }
                                        else if (Model.Faction != null)
                                        { @Html.PrintFaction(Model.Faction, true);
                                    }
                                    else
                                    {
                                        @: <img style="padding: 22px;" src="/img/search_img.png">
                                    }
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                @if (!Global.IsLobbyAccess)
                {
                    int star = 0;
                    int chev = 0;
                    int bars = 0;
                    <div id="badge">
                        <div id="levelrank" title="This is a graphical representation of the player's exact level. <br /> <br />Play more games to increase your level!">
                            <!--<div id="velvet"><img src="../../img/ranks/level-elo/velvetbacking.jpg" width="100%" height="100%" /></div>-->
                            <div id="badge-center">
                                @if (Model.Level > 125)
                                {
                                    star = 125;
                                    <div id="badge-star">
                                        <img src="../../img/ranks/level-elo/star.png" class="rank star" />
                                    </div>
                                }
                                <div id="badge-chevrons">
                                    @for (int i = 0; i < (Model.Level - star) / 25; i++)
                                    {
                                        <img src="../../img/ranks/level-elo/chevron_gold.png" class="rank chev chev-@(i + 1)" />
                                        chev += 25;
                                    }
                                </div>
                                <div id="badge-bars">
                                    @for (int i = 0; i < (Model.Level - star - chev) / 5; i++)
                                    {
                                        <img src="../../img/ranks/level-elo/bar_gold.png" class="rank bar bar-@(i + 1)" />
                                        bars += 1;
                                    }
                                    <div class="rank dotline bar-@(bars + 1)">
                                        @for (int i = 0; i < (Model.Level - star - chev) % 5; i++)
                                        {
                                            <img src="../../img/ranks/level-elo/dot_gold.png" class="dot" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
            @foreach (Punishment p in Model.PunishmentsByAccountID.Where(x => x.BanExpires > DateTime.UtcNow))
            {
                @Html.DisplayFor(x => p)
            }


            <br class="clearfloat" />
            @{ double ratio = Model.GetLevelUpRatio(); }
            <div title='Current level: <img src="/img/ranks/@(Model.GetIconLevel())_@(Model.Rank).png"  class="icon16" alt="rank" /> Level @(Model.Level) <br /> <br /> Progress to the next level: @((int)(ratio*100))% <br /> <br />XP remaining for level @(Model.Level + 1): @(Account.GetXpForLevel(Model.Level + 1) - Model.Xp)<br /> <br />Play more games to increase your level!'>

                <div class="progress_wrapper_left">
                    <div class="progress_text techfont"> Level @Model.Level </div>
                    <div class="progress_begin"></div>
                </div>
                <div class="progress_wrapper">
                    <div class="progress_filler" style="width: @((int)(100*ratio))%;"></div>
                    <div class="progress_empty" style="width: @((100 - (int)(100*ratio)))%;"></div>
                </div>
                <div class="progress_wrapper_right">
                    <div class="progress_end"></div>
                    <div class="progress_text techfont"> Level @(Model.Level + 1) </div>
                </div>
            </div>
            <br class="clearfloat" />
            @{ ratio = Ratings.Ranks.GetRankProgress(Model); }
            <div title="@Html.PrintRankProgress(Model)">
                <div class="progress_wrapper_left">
                    <div class="progress_text techfont"> @Ratings.Ranks.RankNames[Model.Rank] </div>
                    <div class="progress_begin"></div>
                </div>
                <div class="progress_wrapper">
                    <div class="progress_filler" style="width: @((int)(100*ratio))%;"></div>
                    <div class="progress_empty" style="width: @((100 - (int)(100*ratio)))%;"></div>
                </div>
                <div class="progress_wrapper_right">
                    <div class="progress_end"></div>
                    <div class="progress_text techfont"> @Ratings.Ranks.RankNames[Model.Rank + 1] </div>
                </div>
            </div>
            <br class="clearfloat" />

            @if (Model.Faction != null || Model.Clan != null)
            {
                <br />
                @Html.Partial("~/Views/Users/UserRoleList.cshtml", Model)
            }
        </div>
        <br class="clearfloat" />
    }


    @if (Global.AccountID == Model.AccountID && Model.Level <= 5 && !Model.IsDeleted)
    {
        @Html.IncludeWiki("NewbieIntro")
    }



    @if (!Model.IsDeleted || Global.IsModerator)
    {
        <div id="usr_trophies" class="">
            @foreach (var award in Model.AccountBattleAwards.GroupBy(x => x.AwardKey).OrderByDescending(x => x.Count()))
            {
                <div class="fleft border" style="margin: 3px;">
                    <img src="/img/Awards/trophy_@(award.Key).png" height="30" alt="@award.Key" title="@award.First().AwardDescription.Split(',').First()" />
                    <br />
                    <center>@award.Count()</center>
                </div>
            }
            <br class="clearfloat" />
        </div>


        if (Global.IsModerator)
        {
            <div class="admin">
                @Html.ActionLink("Admin user", "AdminUserDetail", "Users", new { id = Model.AccountID }, null)
            </div>
        }

        <div id="usr_commanders" class="">
            <br />
            <h3>Commanders: </h3>

            <!--div>
                @*@Html.Partial("UnlockedTechnologies", Model.AccountUnlocks)*@
            </div-->
            @foreach (Commander comm in Model.Commanders)
            {
                <span class="fleft border"><center><img src='@comm.Unlock.ImageUrl' alt="unlock" title='$commander$@comm.CommanderID' /><br />@HttpContext.Current.Server.HtmlEncode(comm.Name)</center></span>
            }
            @if (Model.AccountID == Global.AccountID)
            {
                <span class="fleft border"><center><a href='@Url.Action("Commanders", "My")'><img src='/img/avatars/module_autorepair.png' alt="unlock" nicetitle="Configure Commanders<br><br>You can create presets for your commander to use in-game. Give your commander a unique name " /><br />Add/Edit</a></center></span>
            }
            <br class="clearfloat" />
        </div>


        if (Model.SpringBattlePlayers.Any())
        {
            <div id="usr_recentbattles" class="fleft border">
                <h3>@Html.ActionLink("Last battles", "Index", "Battles", new { UserId = Model.AccountID }, null)</h3>
                <span>
                    @Model.SpringBattlePlayers.Count(x => !x.IsSpectator) played, @Model.SpringBattlePlayers.Count(x => x.IsSpectator)
                    watched, @Model.MissionRunCount missions
                </span>
                <br />
                @foreach (SpringBattlePlayer b in Model.SpringBattlePlayers.Where(x => !x.IsSpectator).OrderByDescending(x => x.SpringBattleID).Take(10))
                {
                    <small>@Html.PrintBattle(b)</small>
                    <br />
                }
            </div>
        }

        if (Model.ForumPosts.Any())
        {
            <div id="usr_forumposts" class="fleft border">
                <h3>@Html.ActionLink("Posted threads", "Index", "Forum", new { User = Model.Name }, null)</h3>
                <span>@Model.ForumPosts.Count() posts in @Model.ForumThreadsByLastPostAccountID.Count threads</span>
                <br />
                @foreach (ForumThread t in Model.ForumPosts.OrderByDescending(x => x.ForumPostID).Select(x => x.ForumThread).Where(x => x != null).Distinct().Take(10))
                {
                    <small>@Html.Print(t)</small>
                    <br />
                }
            </div>
        }
        if (Model.PollVotes.Any())
        {
            <div class="fleft border">
                <h3>@Html.ActionLink("Poll votes", "UserVotes", "Poll", new { id = Model.AccountID }, null)</h3>
                <ul>
                    @foreach (PollVote pv in Model.PollVotes.Where(x => !x.Poll.IsAnonymous).OrderByDescending(x => x.PollID).Take(5))
                    {
                        <li><small>@pv.Poll.QuestionText : <b>@pv.PollOption.OptionText</b></small></li>
                    }
                </ul>
            </div>
        }
        <br class="clearfloat" />

        <div class="">
            <h3>Statistics: </h3>
            <b>First Login:</b> @Model.FirstLogin.ToAgoString(), <b>Last Login:</b> @Model.LastLogin.ToAgoString()
            <br />

            @{

                /*
                 *
                var casual = Model.GetRating(RatingCategory.Casual);
                var mm = Model.GetRating(RatingCategory.MatchMaking);
                var pw = Model.GetRating(RatingCategory.Planetwars);
                <b>Competitive rank:</b> @(mm.Rank == int.MaxValue ? $"Unranked, estimated {Math.Round(mm.Elo)} ± {Math.Round(mm.EloStdev)} " : $"{mm.Rank}. ({Math.Round(mm.Elo)} ± {Math.Round(mm.EloStdev)}, Top {Math.Round(mm.Percentile * 1000) / 10f}%) ")
                @Html.ActionLink("Plot graph", "Ratings", "Charts", new { RatingCategory = (int)RatingCategory.MatchMaking, UserId = Model.AccountID }, null)
                <br />
                <b>Casual rank:</b> @(casual.Rank == int.MaxValue ? $"Unranked, estimated {Math.Round(casual.Elo)} ± {Math.Round(casual.EloStdev)} " : $"{casual.Rank}. ({Math.Round(casual.Elo)} ± {Math.Round(casual.EloStdev)}, Top {Math.Round(casual.Percentile * 1000) / 10f}%) ")
                @Html.ActionLink("Plot graph", "Ratings", "Charts", new { RatingCategory = (int)RatingCategory.Casual, UserId = Model.AccountID }, null)
                <br />
                <b>Planetwars rank:</b> @(pw.Rank == int.MaxValue ? $"Unranked, estimated {Math.Round(pw.Elo)} ± {Math.Round(pw.EloStdev)} " : $"{pw.Rank}. ({Math.Round(pw.Elo)} ± {Math.Round(pw.EloStdev)}, Top {Math.Round(pw.Percentile * 1000) / 10f}%) ")
                @Html.ActionLink("Plot graph", "Ratings", "Charts", new { RatingCategory = (int)RatingCategory.Planetwars, UserId = Model.AccountID }, null)
                <br />
                */
            }
            <b>Forum karma:</b> @Html.PrintTotalPostRating(Model)
            <br />
            @Html.ActionLink("Show rating statistics", "Ratings", "Charts", new { RatingCategory = (int)RatingCategory.Casual, UserId = Model.AccountID }, null)
        </div>
        <br class="clearfloat" />

        if (MiscVar.PlanetWarsMode == PlanetWarsModes.Running)
        {
            <div id="usr_planetwars" class="border relative">


                @if (Model.Planets.Any())
                {
                    <h3>Planets owned</h3>
                    <table>
                        @foreach (Planet p in Model.Planets)
                        {
                            <tr>
                                <td>@Html.PrintPlanet(p) </td>
                            </tr>
                        }
                    </table>
                }


                <h3>PlanetWars events</h3>
                @Html.Action("Events", "Planetwars", new { accountID = Model.AccountID, partial = true })

                <span style="color: #222; font-size: 500%; opacity: .75; position: absolute; right: 5%; top: 5%; z-index: -20">PlanetWars</span>
            </div>
        }
    }

    @if (Global.AccountID == Model.AccountID && !string.IsNullOrEmpty(Model.PasswordBcrypt))
    {
        <h3 class="js_expand">Account maintenance</h3>
        <div id="accountMaint" class="collapse width-90">
            <h4>Change password</h4>
            <form method="post" action="@Url.Action("ChangePassword", "Users")">
                Old password: @Html.Password("oldPassword")<br />
                New password: @Html.Password("newPassword")<br />
                Reenter new password: @Html.Password("newPassword2")<br />
                <input type="submit" />
            </form>
        </div>
    }
    
    @if (Global.IsTourneyController && Global.AccountID == Model.AccountID)
    {
        <div class="admin">
            <h3>Tourney extras</h3>
            <a href="@Url.Action("Index", "Tourney")">Tourney control</a><br />
        </div>
    }
    @if (Global.IsModerator && Global.AccountID == Model.AccountID)
    {
        <div class="admin">
            <h3>Admin extras</h3>
            <form action="@Url.Action("SetZklsMaxPlayers", "Admin")" method="post">
                Max lobby server players: @Html.TextBox("maxPlayers", MiscVar.ZklsMaxUsers)
                <input type="submit" value="set" />
            </form>
            <a href="@Url.Action("Index", "Tourney")">Tourney control</a><br />
            <a href="@Url.Action("Index", "LobbyNews")">Lobby news</a><br />
            <a href="@Url.Action("Index", "Users")">User list</a><br />
            <a href="@Url.Action("Index", "Charts")">Charts</a><br />
            <a href="@Url.Action("Index", "PlanetwarsAdmin")">PlanetWars admin</a><br />
            <a href="@Url.Action("EditDynamicConfig", "Admin")">Dynamic config</a><br />
            <a href="@Url.Action("ForceRatingsUpdate", "Admin")">Force Ratings Update</a><br />
            @if (GlobalConst.Mode == ModeType.Test)
            {
                <a href="@Url.Action("ResetDB", "Admin")" class="js_confirm">Reset database (copy from live)</a><br />
            }
            <a href="@Url.Action("Index", "Engines")">Engines</a><br />
            <a href="@Url.Action("ChatHistory", "Lobby")">Lobby chat history</a><br />
            <a href="@Url.Action("TraceLogs", "Admin")">Infrastructure trace logs</a><br />
            <a href="@Url.Content("~/ResourceList.aspx")">Resource list</a><br />
            <a href="@Url.Action("BlockedVPNs", "Lobby")">Blocked VPNs</a><br />
            <a href="@Url.Action("ReportLog", "Users")">Abuse report log</a><br />
        </div>
    }
</div>
