@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model ZkData.Account

@{
    if (!Model.IsDeleted) { Page.Title = Model.Name + " user page"; }
    else
    {
        if (Global.IsModerator) { Page.Title = Model.Name + " (hidden) user page"; }
        else { Page.Title = "Deleted user account"; }
    }
}

@{

    <link href="/Styles/userpage.css" rel="stylesheet">

    int badge_width = 69;
    int padding = 10;
    <style>
        #levelrank {
            height: @(badge_width*2.5)px;
            width: @(badge_width + padding*2)px;
        }

        #badge-star {
            height: @(badge_width*2.5)px;
            left: @(padding)px;
            top: @(-badge_width*1.25)px;
            width: @(badge_width)px;
        }

        #badge-chevrons {
            height: @(badge_width*2.5)px;
            left: @(padding)px;
            top: @(-badge_width*1.25)px;
            width: @(badge_width)px;
        }

        #badge-bars {
            height: @(badge_width*2.5)px;
            left: @(padding)px;
            top: @(-badge_width*3.75)px;
            width: @(badge_width)px;
        }
    </style>
}

@* User Profile Page! *@

@if (Model.IsDeleted)
{
    <h3>This sentient entity has gone dark</h3>
}
@if (!Model.IsDeleted || Global.IsModerator)
{
    if (Model.PunishmentsByAccountID.Any())
    {
        <div class="content punishments">
            @foreach (Punishment p in Model.PunishmentsByAccountID.Where(x => !x.IsExpired).OrderByDescending(x => x.Time))
            {
                @Html.DisplayFor(x => p)
            }
        </div>
    }
    <div class="module-column">
        @{ Html.RenderPartial("_intro", Model); }
        @{ Html.RenderPartial("_userdetail", Model); }
        @{ Html.RenderPartial("_trophies", Model); }
        @{ Html.RenderPartial("_admin", Model); }
        @{ Html.RenderPartial("_commanders", Model); }
        @{ Html.RenderPartial("_battles", Model); }
        @{ Html.RenderPartial("_playerforum", Model); }
        @{ Html.RenderPartial("_polls", Model); }
        @{ Html.RenderPartial("_serverstats", Model); }
        @{ Html.RenderPartial("_planetwars", Model); }
        @{ Html.RenderPartial("_settings", Model); }
    </div>
}
