@model ZkData.Account
@using ZeroKWeb;
@using ZkData;
@{Page.Title = Model.Name + " user page";}
@* @{Html.RenderAction("Index", "Poll", new { pollID = 6 });} *@


@* User Profile Page! *@ @* First column starts here *@
<div>

	<div id="usr_info" class="">
	<h2>@Html.PrintAccount(Model)</h2>
	<a href='spring://chat/user/@Model.Name'> Chat with @Model.Name in the lobby </a><br />
	@if (Model.IsLobbyAdministrator || Model.IsZeroKAdmin)
 {
			<div>
				<b> @Model.Name </b> is an <b>Administrator</b> for: 
				@(Model.IsLobbyAdministrator ? "Lobby" : "Zero-K")
			</div>
 }
	<b>First Login:</b> @Model.FirstLogin.ToAgoString(), <b>Last Login:</b> @Model.LastLogin.ToAgoString()
	<br />
	<b>Elo:</b> @Math.Round(@Model.Elo)
	@{var ratio = (Model.XP - Account.GetXpForLevel(Model.Level)) / (double)(Account.GetXpForLevel(Model.Level + 1) - Account.GetXpForLevel(Model.Level));}
	<div title='Your XP: @Model.XP (next level at: @(Account.GetXpForLevel(Model.Level + 1))) <br /> Your levelprogress: @((int)(ratio * 100))% <br /> Points for unlocks on next level: @(Account.GetXpForLevel(Model.Level + 1) - Account.GetXpForLevel(Model.Level))'>
		<b class="fleft"> Level @Model.Level </b> 
		<img src="/img/progressl_base.png" height="17" class="fleft" />
		<img src="/img/progressl_fill.png" height="17" class="fleft" width="@((int)(300 * ratio))" />
		<img src="/img/progressr_fill.png" height="17" class="fleft" width="@((int)(300 * (1 - ratio)))" />
		<img src="/img/progressr_base.png" height="17" class="fleft" /> 
		<b class="fleft"> Level @(Model.Level + 1) </b>
	</div>
	<br class="clearfloat" />
	</div>

	<div id="usr_trophies" class="">
		<h3>Trophies:</h3>
		@foreach (var award in Model.AccountBattleAwards.GroupBy(x => x.AwardKey).OrderByDescending(x => x.Count()))
  {
			<div class="fleft border" style="margin: 3px;">
			  	<img src="http://zero-k.googlecode.com/svn/trunk/mods/zk/LuaRules/Images/awards/trophy_@(award.Key).png" height="30" alt="@award.Key" title="@award.First().AwardDescription.Split(',').First()"/>
				<br />
				<center>@award.Count()</center>
			</div>
  }
		<br class="clearfloat" />
	</div>
	
	<div id="usr_technology" class="">
		<h3>Technologies: </h3>
		
		@if (Model.AccountID == ZeroKWeb.Global.AccountID)
  {
			<span title="You only get new points for unlocks after reaching the next level (Lvl: @(Model.Level + 1) with @(Account.GetXpForLevel(Model.Level + 1) - Account.GetXpForLevel(Model.Level)) XP)">
				<a href='@Url.Action("UnlockList", "My")'>You can unlock technologies worth @Model.AvailableXP points</a>
			</span>
  }
  else
  {
			<text>@Model.Name can unlock technologies worth @Model.AvailableXP points</text>
  }
		<!--div>
			@Html.Partial("UnlockedTechnologies", Model.AccountUnlocks)
		</div-->
	</div>

	<div id="usr_commanders" class="">
		<h3>Commanders: </h3>
		
		@if (Model.AccountID == ZeroKWeb.Global.AccountID)
  {
			<a href='@Url.Action("Commanders", "My")'>Configure Commanders</a>
  } 
		<br />
		@foreach (var comm in Model.Commanders)
  {
			<span class="fleft border"><center><img src='@comm.Unlock.ImageUrl' alt="unlock" title='$commander$@comm.CommanderID'/><br />@comm.Name</center></span>
  }
		<br class="clearfloat" />
	</div>
	
	@if (Model.SpringBattlePlayers.Any())
 {
		<div id="usr_recentbattles" class="fleft border">
			<h3>Last battles</h3>
			<span>
				@Model.SpringBattlePlayers.Count(x => !x.IsSpectator) played, @Model.SpringBattlePlayers.Count(x => x.IsSpectator)
				watched, @Model.MissionRunCount missions 
			</span>
			<br />
			@foreach (var b in Model.SpringBattlePlayers.OrderByDescending(x => x.SpringBattleID).Take(10))
   {
				<small>@Html.PrintBattle(b)</small><br />
   }
		</div>
 }
	
	@if (Model.ForumPosts.Any())
 {
		<div id="usr_forumposts" class="fleft border">
			<h3>Posted threads</h3>
			<span>@Model.ForumPosts.Count() posts in @Model.ForumThreadsByLastPostAccountID.Count threads</span>
			<br />
			@foreach (var t in Model.ForumPosts.OrderByDescending(x => x.ForumPostID).Select(x => x.ForumThread).Distinct().Take(10))
   {
				<small><img src="../../Img/bullet.png" alt="bullet" />
					<a href='@Url.Action("Thread", "Forum", new { id = t.ForumThreadID })' title='$thread$@t.ForumThreadID'>@t.Title</a></small>
				<br />
   }
		</div>
 }
			
<br class="clearfloat" />

	<div id="usr_planetwars" class="border relative">
	<h3>Clan: </h3>
	@Html.PrintClan(Model.Clan)

	<h3>Credits:</h3>
	@Model.Credits
	<br />
	@if (ZeroKWeb.Global.Account != null && Global.AccountID != Model.AccountID)
 {
		<h3>PlanetWars gifts</h3>
		<form method="post" action="@Url.Action("Give", "Planetwars", new { targetAccountID = Model.AccountID })">
		<span>Credits (@Global.Account.Credits): </span>@Html.TextBox("giveCredits")
		<span>Influence: </span>@Html.DropDownList("planetID", ZeroKWeb.Global.Account.AccountPlanets.Where(x => x.Influence > 0).OrderByDescending(x => x.Influence).Select(x => new SelectListItem() { Text = x.Planet.Name + " - " + x.Influence, Value = x.PlanetID.ToString() }))
		@Html.TextBox("giveInfluence") <input type="submit" value="Send gift"/>
		</form>
 }
	
	@if (Model.Planets.Any())
 {
		<h3>Planets owned</h3>
		<table>
			@foreach (var p in Model.Planets)
   { 
				<tr>
					<td>@Html.PrintPlanet(p) </td>
					<td>@Html.PrintInfluence(p.AccountPlanets.Single(x => x.AccountID == Model.AccountID)) </td>
				</tr>
   }
		</table>
 }
	
	@if (Model.Clan != null)
 {
		<h3>Starships</h3>
		<span nowrap="nowrap">@(Model.DropshipCount)/@(Model.GetDropshipCapacity()) ready to deploy</span>
		<table>
			@foreach (var p in Model.AccountPlanets.Where(x => x.DropshipCount > 0))
   { 
				<tr>
					<td>@Html.PrintPlanet(p.Planet) </td>
					<td><img src='/img/dropship.png' />@p.DropshipCount</td>
				</tr>
   }
		</table>
 }
	
	<h3>PlanetWars events</h3>
	@Html.Action("Events", "Planetwars", new { accountID = Model.AccountID, partial = true })
	@Html.ActionLink("Trade", "Trade", "PlanetWars", new { username = Model.Name }, null)

	<span style="position: absolute; font-family:Skir; top: 5%; right: 5%; font-size: 500%; color: #222; opacity: .75;">PlanetWars</span>
	</div>
	

@if (ZeroKWeb.Global.IsZeroKAdmin && ZeroKWeb.Global.AccountID == Model.AccountID)
{
	<div class="admin">
	<h3>Admin extras</h3>
	<a href="@Url.Content("~/UnlocksAdmin.aspx")">Unlocks admin</a><br />
	<a href="@Url.Content("~/StructuresAdmin.aspx")">Planetwars structures admin</a><br />
	<a href="@Url.Content("~/ResourceList.aspx")">Resource list</a><br />
	</div>
}
</div>