 @model ZkData.Account
@using ZkData;
@{
  Page.Title = Model.Name;
}

@{
  //Html.RenderAction("Index", "Poll", new { pollID = 1 });
  }

@* User Profile Page! *@
@* First column starts here *@
<table border="0" width="100%"><tr><td><h2>@Html.PrintAccount(Model)</h2></td><td align="right">@if(ZeroKWeb.Global.IsLobbyAccess){ <img src="../../Img/zk_logo_miniature.png" /> }</td></tr></table>
<table>
  <tr>
    <td valign="top">
      <table>
        <tr>
          <td>
            Level:
          </td>
          <td><b>@Model.Level</b>
          </td>
        </tr>
        <tr>
          <td>
            XP:
          </td>
          <td>
          @{
            var ratio = (Model.XP - Account.GetXpForLevel(Model.Level)) / (double)(Account.GetXpForLevel(Model.Level + 1) - Account.GetXpForLevel(Model.Level));
            }
            <span title='XP: @Model.XP, next level:@(Account.GetXpForLevel(Model.Level+1)) <br /> Your levelprogress: @((int)(ratio*100))% <br /> Points for unlocks on next level: @(Account.GetXpForLevel(Model.Level+1) - Account.GetXpForLevel(Model.Level))'>
            <table cellpadding='0' cellspacing='0'>
            <tr>
            <td width='1' style="background: url(/img/img_progressbar1_b.png);" height='12'>
            </td>
            <td width='@((int)(300*ratio))' style="background: url(/img/img_progressbar1_h.png);" height='12'>
            </td>
            <td width='@((int)(300*(1-ratio)))' style="background: url(/img/img_progressbar2_h.png);" height='10'>
            </td>
            <td width='1' style="background: url(/img/img_progressbar1_b.png);" height='12'>
            </td>
            </tr>
            </table>
            </span>
          
          </td>
        </tr>
        <tr>
          <td>
            Aliases:
          </td>
          <td>@Model.Aliases
          </td>
        </tr>
        <tr>
          <td>
            Elo:
          </td>
          <td>@Model.Elo
          </td>
        </tr>
        @if (Model.IsAdmin) {
          <tr>
            <td>
              Administrator:
            </td>
            <td>@(Model.IsLobbyAdministrator ? "Lobby" : "Zero-K")
            </td>
          </tr>
        }
        <tr>
          <td>
            First login:
          </td>
          <td>@Model.FirstLogin.ToAgoString()
          </td>
        </tr>
        <tr>
          <td>
            Last login:
          </td>
          <td>@Model.LastLogin.ToAgoString()
          </td>
        </tr>
        <tr>
          <td>
            Games played:
          </td>
          <td>@Model.SpringBattlePlayers.Count(x=>!x.IsSpectator)
          </td>
        </tr>
        <tr>
          <td>
            Games watched:
          </td>
          <td>@Model.SpringBattlePlayers.Count(x=>x.IsSpectator)
          </td>
        </tr>
        <tr>
          <td>
            Missions played:
          </td>
          <td>@Model.MissionRunCount
          </td>
        </tr>
        <tr>
          <td>
            Post count:
          </td>
          <td>@Model.ForumPosts.Count()
          </td>
        </tr>
        @foreach (var award in Model.AccountBattleAwards.GroupBy(x => x.AwardKey).OrderByDescending(x => x.Count())) {
          <tr>
            <td width="75%">
              <img src="http://zero-k.googlecode.com/svn/trunk/mods/zk/LuaRules/Images/awards/trophy_@(award.Key).png" height="30" alt="@award.Key"/>              
              <span>@award.First().AwardDescription.Split(',').First()</span>              
            </td>
            <td>@award.Count()
            </td>
          </tr>    
        }
      </table>
      <a href='spring://chat/user/@Model.Name'>Send private message to @Model.Name</a>
    </td>

    @* Second column starts here *@
    <td width="40%" valign="top">
      @if (Model.ForumPosts.Any()) {
        <h3>
          Posted threads</h3>
        foreach (var t in Model.ForumPosts.Select(x => x.ForumThread).Distinct().OrderByDescending(x => x.ForumThreadID).Take(10)) {
          <small><img src="../../Img/bullet.png" />  <a href='@Url.Action("Thread", "Forum", new { id = t.ForumThreadID })' title='$thread$@t.ForumThreadID'>@t.Title</a></small><br />
        }
      }
      <br />
      @if (Model.SpringBattlePlayers.Any()) {
        <h3>
          Last battles</h3>
        foreach (var b in Model.SpringBattlePlayers.OrderByDescending(x => x.SpringBattleID).Select(x => x.SpringBattle).Take(10)) {
          <small>@Html.PrintBattle(b)</small><br />
        }
      }
      </span>
    </td>
  </tr>

  @* Bottom cell starts here *@
  <tr>
    <td colspan='2'>
      @if (ZeroKWeb.Global.IsAdmin && ZeroKWeb.Global.AccountID == Model.AccountID) {
        <h3>
          Admin extras</h3>
        <a href="@Url.Content("~/UnlocksAdmin.aspx")">Unlocks admin</a><br />
        <a href="@Url.Content("~/ResourceList.aspx")">Resource list</a><br />
      }
      <h3>
        Technologies:</h3>
        @{Html.RenderPartial("UnlockedTechnologies",Model.AccountUnlocks);}
        <br />
        @if (Model.AccountID == ZeroKWeb.Global.AccountID) {
          <a href='@Url.Action("UnlockList", "My")'>You can unlock technologies worth @Model.AvailableXP points</a>
        } else {
          @Model.Name @:Can unlock technologies worth @Model.AvailableXP points
        }
      <h3>Commanders:</h3>
      @foreach (var comm in Model.Commanders) {
        <span style='display:inline-block; width:110px;height:80px' title='$commander$@comm.CommanderID'>
          <img src='@comm.Unlock.ImageUrl'/><br />@comm.Name
        </span>
      }
      <br />
      @if (Model.AccountID == ZeroKWeb.Global.AccountID) {
          <a href='@Url.Action("Commanders", "My")'>Configure commanders</a>
      }

    </td>
  </tr>
</table>
