@model ZkData.Account
@using ZeroKWeb;
@using ZkData;
@{
  Page.Title = Model.Name + " user page";
}
@*@{
  Html.RenderAction("Index", "Poll", new { pollID = 2 });
  }  *@ @* User Profile Page! *@ @* First column starts here *@
<table border="0" width="100%">
  <tr>
    <td><h2>@Html.PrintAccount(Model)</h2>
    </td>
    <td align="right">
      @if (ZeroKWeb.Global.IsLobbyAccess) { <img src="../../Img/zk_logo_miniature.png" alt="zklogo" /> }
    </td>
  </tr>
</table>
<table>
  <tr>
    <td valign="top">
      <table>
        @if (!string.IsNullOrEmpty(Model.Aliases)) {
          <tr>
            <td>Aliases: </td>
            <td>@Model.Aliases
            </td>
          </tr>
        }
        <tr>
          <td>Level: </td>
          <td><b>@Model.Level</b> </td>
        </tr>
        <tr>
          <td>Clan: </td>
          <td>@Html.PrintClan(Model.Clan)
          </td>
        </tr>
        <tr>
          <td>XP: </td>
          <td>
            @{
              var ratio = (Model.XP - Account.GetXpForLevel(Model.Level)) / (double)(Account.GetXpForLevel(Model.Level + 1) - Account.GetXpForLevel(Model.Level));
            }
            <span title='Your XP: @Model.XP (next level at: @(Account.GetXpForLevel(Model.Level + 1))) <br /> Your levelprogress: @((int)(ratio * 100))% <br /> Points for unlocks on next level: @(Account.GetXpForLevel(Model.Level + 1) - Account.GetXpForLevel(Model.Level))'>
              <table cellpadding='0' cellspacing='0'>
                <tr>
                  <td width='1' style="background: url(/img/img_progressbar1_b.png);" height='12'></td>
                  <td width='@((int)(300 * ratio))' style="background: url(/img/img_progressbar1_h.png);" height='12'></td>
                  <td width='@((int)(300 * (1 - ratio)))' style="background: url(/img/img_progressbar2_h.png);" height='10'></td>
                  <td width='1' style="background: url(/img/img_progressbar1_b.png);" height='12'></td>
                </tr>
              </table>
            </span></td>
        </tr>
        <tr>
          <td>Credits: </td>
          <td>@Model.Credits</td>
        </tr>
        <tr>
          <td>Elo: </td>
          <td>@Math.Round(Model.Elo)
          </td>
        </tr>
        @if (Model.IsLobbyAdministrator || Model.IsZeroKAdmin) {
          <tr>
            <td>Administrator: </td>
            <td>@(Model.IsLobbyAdministrator ? "Lobby" : "Zero-K")
            </td>
          </tr>
        }
        <tr>
          <td nowrap="nowrap">Online: </td>
          <td>first @Model.FirstLogin.ToAgoString(), last @Model.LastLogin.ToAgoString()
          </td>
        </tr>
        @foreach (var award in Model.AccountBattleAwards.GroupBy(x => x.AwardKey).OrderByDescending(x => x.Count())) {
          <tr>
            <td><span title="@award.First().AwardDescription.Split(',').First()"><img src="http://zero-k.googlecode.com/svn/trunk/mods/zk/LuaRules/Images/awards/trophy_@(award.Key).png" height="30" alt="@award.Key"/></span>
            </td>
            <td>@award.Count()
            </td>
          </tr>    
        }
      </table>
      <a href='spring://chat/user/@Model.Name'>Send private message to @Model.Name</a> <h3>Commanders:</h3>
      @foreach (var comm in Model.Commanders) {
        <span style='display:inline-block; width:110px;height:80px' title='$commander$@comm.CommanderID'><img src='@comm.Unlock.ImageUrl' alt="unlock" /><br />@comm.Name
        </span>
      }
    </td>
    @* Second column starts here *@
    <td width="40%" valign="top">
      @if (Model.ForumPosts.Any()) {
        <h3>Posted threads</h3>
        <span nowrap="nowrap">@Model.ForumPosts.Count() posts in @Model.ForumThreadsByLastPostAccountID.Count
          threads</span><br />
                                                            foreach (var t in Model.ForumPosts.OrderByDescending(x => x.ForumPostID).Select(x => x.ForumThread).Distinct().Take(10)) {
        <small><img src="../../Img/bullet.png" alt="bullet" />
          <a href='@Url.Action("Thread", "Forum", new { id = t.ForumThreadID })' title='$thread$@t.ForumThreadID'>@t.Title</a></small><br />
                                                            }
      }
      <br />
      @if (Model.Planets.Any()) {
        <h3>Planets owned</h3>
        <table>
          @foreach (var p in Model.Planets) { 
            <tr>
              <td>@Html.PrintPlanet(p)
              </td>
              <td>@Html.PrintInfluence(p.AccountPlanets.Single(x => x.AccountID == Model.AccountID))
              </td>
            </tr>
          }
        </table>
      }
      @if (Model.Clan != null) {
        <h3>Starships</h3>
        <span nowrap="nowrap">@(Model.DropshipCount)/@(Model.Planets.SelectMany(x => x.PlanetStructures).Where(x => !x.IsDestroyed).Sum(x => x.StructureType.EffectDropshipCapacity) + GlobalConst.DefaultDropshipCapacity)
          ready to deploy</span>
        <table>
          @foreach (var p in Model.AccountPlanets.Where(x => x.DropshipCount > 0)) { 
            <tr>
              <td>@Html.PrintPlanet(p.Planet)
              </td>
              <td><img src='/img/dropship.png' />@p.DropshipCount</td>
            </tr>
          }
        </table>
      }
      <br />
      @if (Model.SpringBattlePlayers.Any()) {
        <h3>Last battles</h3>
        <span nowrap="nowrap">
          @Model.SpringBattlePlayers.Count(x => !x.IsSpectator) played, @Model.SpringBattlePlayers.Count(x => x.IsSpectator)
          watched, @Model.MissionRunCount missions </span>
        <br />
              foreach (var b in Model.SpringBattlePlayers.OrderByDescending(x => x.SpringBattleID).Take(10)) {
        <small>@Html.PrintBattle(b)</small><br />
              }
      }
    </td>
  </tr>
  @* Bottom cell starts here *@
  <tr>
    <td colspan='2'>
      @if (Model.AccountID == ZeroKWeb.Global.AccountID) {
        <a href='@Url.Action("Commanders", "My")'>Configure commanders</a>
      }
      <h3>Technologies:</h3>
      @Html.Partial("UnlockedTechnologies", Model.AccountUnlocks)
      <br />
      @if (Model.AccountID == ZeroKWeb.Global.AccountID) {
        <span title="You only get new points for unlocks after reaching the next level (Lvl: @(Model.Level + 1) with @(Account.GetXpForLevel(Model.Level + 1) - Account.GetXpForLevel(Model.Level)) XP)"><a href='@Url.Action("UnlockList", "My")'>
          You can unlock technologies worth @Model.AvailableXP
          points</a></span>
      } else {
        @Model.Name @:Can unlock technologies worth @Model.AvailableXP points
            }
      @if (ZeroKWeb.Global.Account != null && Global.AccountID != Model.AccountID) {
        <h3>PlanetWars gifts</h3>
        <form method="post" action="@Url.Action("Give", "Planetwars", new { targetAccountID = Model.AccountID})">
        <span>Credits (@Global.Account.Credits): </span>@Html.TextBox("giveCredits")
        <span>Influence: </span>@Html.DropDownList("planetID", ZeroKWeb.Global.Account.AccountPlanets.Where(x => x.Influence > 0).OrderByDescending(x => x.Influence).Select(x => new SelectListItem() { Text = x.Planet.Name + " - " + x.Influence, Value = x.PlanetID.ToString() }))
        @Html.TextBox("giveInfluence") <input type="submit" value="Send gift"/>
        </form>
      }
      <h3>PlanetWars events</h3>
      @Html.Action("Events", "Planetwars", new { accountID = Model.AccountID, partial = true })
      @Html.ActionLink("Trade", "Trade", "PlanetWars", new {username = Model.Name}, null)
    </td>
  </tr>
</table>
@if (ZeroKWeb.Global.IsZeroKAdmin && ZeroKWeb.Global.AccountID == Model.AccountID) {
  <h3>Admin extras</h3>
  <a href="@Url.Content("~/UnlocksAdmin.aspx")">Unlocks admin</a><br />
  <a href="@Url.Content("~/StructuresAdmin.aspx")">Planetwars structures admin</a><br />
  <a href="@Url.Content("~/ResourceList.aspx")">Resource list</a><br />
}
<br />
