@model ZkData.Account
@using PlasmaShared
@using ZeroKWeb;
@using ZkData;
@{Page.Title = Model.Name + " user page";}
 
@if (Model.AccountID == Global.AccountID)
{
    foreach (var p in Global.Account.ValidPolls().Where(x => x.IsHeadline && (x.RoleTargetAccountID == null || !x.PollVotes.Any(y => y.AccountID == Global.AccountID)))) 
    {
        Html.RenderAction("Index", "Poll", new { pollID = p.PollID });
    }
}

@{
	var badge_width = 60;
	var padding = 5;
	 <style>
	 #levelrank{ height: @(badge_width*2.5)px; width: @(badge_width+padding*2)px; }
	 #badge-star{ height: @(badge_width*2.5)px; width: @(badge_width)px; top: @(-badge_width*1.25)px; left: @(padding)px; }
	 #badge-chevrons{ height: @(badge_width*2.5)px; width: @(badge_width)px; top: @(-badge_width*1.25)px; left: @(padding)px; }
	 #badge-bars{ height: @(badge_width*2.5)px; width: @(badge_width)px; top: @(-badge_width*3.75)px; left: @(padding)px; }
	 </style>
}

@* User Profile Page! *@
<div>

	<div id="usr_info" class="">

	@if (!Global.IsLobbyAccess)
	{
	var star = 0;
	var chev = 0;
	var bars = 0;
	<div id="badge" class="fleft" >
		<div id="levelrank" title="This is a graphical representation of your level. Play more games to gain more rank!">
		<div id="velvet"><img src="../../img/ranks/level-elo/velvetbacking.jpg" width="100%" height="100%" /></div>
		<div id="badge-center">
			@if(Model.Level > 125)
			{
				star = 125;
				<div id="badge-star">
					<img src="../../img/ranks/level-elo/star.png" class="rank star" />
				</div>
			}
			<div id="badge-chevrons">
			@for(int i=0 ; i<(Model.Level-star)/25; i++)
			{
				<img src="../../img/ranks/level-elo/chevron_gold.png" class="rank chev chev-@(i+1)" />
				chev += 25;
			}
			</div>
			<div id="badge-bars">
			@for (int i=0; i<(Model.Level-star-chev)/5; i++)
			{
				<img src="../../img/ranks/level-elo/bar_gold.png" class="rank bar bar-@(i+1)" />
				bars += 1;
			}
			<div class="rank dotline bar-@(bars+1)">
				@for (int i=0; i<(Model.Level-star-chev)%5; i++)
				{
					<img src="../../img/ranks/level-elo/dot_gold.png" class="dot" />
				}
			</div>
			</div>
		</div>
		</div>
	</div>
 }
    <p class="fright" align="right">
    <a href="@Url.Action("ReportToAdmin","Users", new{id = Model.AccountID})" nicetitle="Report abuse to administrators">Report Player<img src="/img/abuse.png" height="32"/></a>
        <br/>
    <a href="http://zero-k.info/Wiki/CodeOfConduct" nicetitle="Code of Conduct"><b><img src="/img/conduct.png" height="32"/></b></a>
    </p>
    
    <p class="fleft"> 
    
    <span style="float:left;">@Html.AccountAvatar(Model)</span>
	<h2>@Html.PrintAccount(Model)</h2>
    
    @foreach (var p in Model.PunishmentsByAccountID.Where(x=>x.BanExpires > DateTime.UtcNow)) {
        @Html.DisplayFor(x=>p)
    }

    <a href='spring://chat/user/@Model.Name'> Chat with @Model.Name in the lobby </a><br />
	@if (Model.IsLobbyAdministrator || Model.IsZeroKAdmin)
 {
			<div>
				<b> @Model.Name </b> is an <b>Administrator</b> for: 
				@(Model.IsLobbyAdministrator ? "Lobby" : "Zero-K")
			</div>
 }
 
	<b>First Login:</b> @Model.FirstLogin.ToAgoString(), <b>Last Login:</b> @Model.LastLogin.ToAgoString()
	<br />
	<b>Elo:</b> @Math.Round(@Model.EffectiveElo)
	@{var ratio = (Model.XP - Account.GetXpForLevel(Model.Level)) / (double)(Account.GetXpForLevel(Model.Level + 1) - Account.GetXpForLevel(Model.Level));}
	<div title='Your XP: @Model.XP (next level at: @(Account.GetXpForLevel(Model.Level + 1))) <br /> Your levelprogress: @((int)(ratio * 100))% <br /> Points for unlocks on next level: @(Account.GetXpForLevel(Model.Level + 1) - Account.GetXpForLevel(Model.Level))'>
		<b class="fleft"> Level @Model.Level </b> 
		<img src="/img/progressl_base.png" height="17" class="fleft" />
		<img src="/img/progressl_fill.png" height="17" class="fleft" width="@((int)(300 * ratio))" />
		<img src="/img/progressr_fill.png" height="17" class="fleft" width="@((int)(300 * (1 - ratio)))" />
		<img src="/img/progressr_base.png" height="17" class="fleft" /> 
		<b class="fleft"> Level @(Model.Level + 1) </b>
	</div>
	<br class="clearfloat" />
    </p> 
    </div>	
    @if (Global.IsZeroKAdmin)
    {
        <div class="admin">
            @Html.ActionLink("Admin user", "AdminUserDetail", "Users", new { id = Model.AccountID }, null)
        </div>
    }
	
    <div id="usr_trophies" class="">
        <h3>Trophies:</h3>
        @foreach (var award in Model.AccountBattleAwards.GroupBy(x => x.AwardKey).OrderByDescending(x => x.Count()))
        {
            <div class="fleft border" style="margin: 3px;">
                <img src="http://zero-k.googlecode.com/svn/trunk/mods/zk/LuaRules/Images/awards/trophy_@(award.Key).png" height="30" alt="@award.Key" title="@award.First().AwardDescription.Split(',').First()"/>
                <br />
                <center>@award.Count()</center>
            </div>
        }
        <br class="clearfloat" />
    </div>
    
    
	
    @if (!Global.IsLobbyAccess)
    {
        <h3><a href="#" onclick="$('#usr_gamePreferences').toggle()">Game preferences</a></h3>
        <div id="usr_gamePreferences" style="display: none">
            <a href="@Url.Action("Index", "Wiki", new { node = "PlayerJuggler" })">what is this for?</a>
            @if (Model.AccountID == Global.AccountID)
            {
                <form action="@Url.Action("GamePreferences", "My")" method="POST">
                    Active: <input type="checkbox" name="active" value="true" @(Model.MatchMakingActive?"checked='checked'":"") /><br/>
                    <table>
                        @foreach (var kvp in Model.Preferences.Where(x => x.Key != AutohostMode.None).OrderBy(x => x.Key))
                        {
                            <tr>
                                <td>
                                    @kvp.Key.Description() :
                                </td>
                                <td>
                                    <select name="preference">
                                        @foreach (GamePreference o in Enum.GetValues(typeof(GamePreference)).OfType<GamePreference>().OrderBy(x => x))
                                        {
                                            <option value="@o" @(kvp.Value == o ? "selected='selected'" : "")>@o.Description()</option>
                                        }
                                    </select>
                                </td>
                            </tr>

                        }
                    </table>
                    <input type="submit"/>
                </form>
				
				<form action="@Url.Action("LanguageSwitch", "My")" method="POST">
                    Select preferrable language():
					<select name="language">
						<option value="en" selected='selected'>English</option>
						<option value="ru">Russian</option>
					</select>
                    <input type="submit"/>
                </form>
            }
            else
            {
                <table>
                    @foreach (var kvp in Model.Preferences.Where(x => x.Key != AutohostMode.None).OrderBy(x => x.Key))
                    {
                        <tr><td>@kvp.Key.Description()</td><td>@kvp.Value.Description()</td></tr>
                    }
                </table>
            }

        </div>
    }


    <div id="usr_technology" class="">
		<h3>Technologies: </h3>
		
		@if (Model.AccountID == ZeroKWeb.Global.AccountID)
  {
			<span title="You only get new points for unlocks after reaching the next level (Lvl: @(Model.Level + 1) with @(Account.GetXpForLevel(Model.Level + 1) - Account.GetXpForLevel(Model.Level)) XP)">
				<a href='@Url.Action("UnlockList", "My")'>You can unlock technologies worth @Model.AvailableXP points</a>
			</span>
  }
  else
  {
			<text>@Model.Name can unlock technologies worth @Model.AvailableXP points</text>
  }
		<!--div>
			@Html.Partial("UnlockedTechnologies", Model.AccountUnlocks)
		</div-->
	</div>

    <div id="usr_commanders" class="">
        <h3>Commanders: </h3>
		
        @if (Model.AccountID == ZeroKWeb.Global.AccountID)
        {
            <a href='@Url.Action("Commanders", "My")'>Configure Commanders</a>
        } 
        <br />
        @foreach (var comm in Model.Commanders)
        {
            <span class="fleft border"><center><img src='@comm.Unlock.ImageUrl' alt="unlock" title='$commander$@comm.CommanderID'/><br />@comm.Name</center></span>
        }
        <br class="clearfloat" />
    </div>
    
	
    @if (Model.SpringBattlePlayers.Any())
 {
		<div id="usr_recentbattles" class="fleft border">
			<h3>@Html.ActionLink("Last battles","Index","Battles")</h3>
			<span>
				@Model.SpringBattlePlayers.Count(x => !x.IsSpectator) played, @Model.SpringBattlePlayers.Count(x => x.IsSpectator)
				watched, @Model.MissionRunCount missions 
			</span>
			<br />
			@foreach (var b in Model.SpringBattlePlayers.OrderByDescending(x => x.SpringBattleID).Take(10))
   {
				<small>@Html.PrintBattle(b)</small><br />
   }
		</div>
 }
	
	@if (Model.ForumPosts.Any())
 {
		<div id="usr_forumposts" class="fleft border">
			<h3>@Html.ActionLink("Posted threads","Index","Forum")</h3>
			<span>@Model.ForumPosts.Count() posts in @Model.ForumThreadsByLastPostAccountID.Count threads</span>
			<br />
			@foreach (var t in Model.ForumPosts.OrderByDescending(x => x.ForumPostID).Select(x => x.ForumThread).Distinct().Take(10))
   {
				<small>@Html.Print(t)</small>
				<br />
   }
		</div>
 }
 @if (Model.PollVotes.Any())
 {
     <div class="fleft border">
         <h3>@Html.ActionLink("Poll votes", "UserVotes", "Poll", new { id = Model.AccountID }, null)</h3>
         <ul>
        @foreach (var pv in Model.PollVotes.Where(x=>!x.Poll.IsAnonymous).OrderByDescending(x => x.PollID).Take(5)) {
            <li><small>@pv.Poll.QuestionText : <b>@pv.PollOption.OptionText</b></small></li>
        }
        </ul>
     </div>

 }
    <br class="clearfloat" />

	<div id="usr_planetwars" class="border relative">
	
    <h3>Faction: </h3>
    @Html.PrintFaction(Model.Faction)
    
    <h3>Clan: </h3>
    @Html.PrintClan(Model.Clan)
    
    <br/>
    @Html.Partial("~/Views/Poll/PollUserRoles.cshtml", Model)
    
        <h3>Credits:</h3>
	@Model.Credits.ToString("C0") (+@Model.CreditsIncome, -@Model.CreditsExpense)
	<br />
	
	@if (Model.Planets.Any())
 {
		<h3>Planets owned</h3>
		<table>
			@foreach (var p in Model.Planets)
   { 
				<tr>
					<td>@Html.PrintPlanet(p) </td>
					<td>@Html.PrintInfluence(p.AccountPlanets.Single(x => x.AccountID == Model.AccountID)) </td>
				</tr>
   }
		</table>
 }
	
	@if (Model.Clan != null)
 {
		<h3>Starships</h3>
		<span nowrap="nowrap">@(Model.DropshipCount)/@(Model.GetDropshipCapacity()) ready to deploy</span>
		<table>
			@foreach (var p in Model.AccountPlanets.Where(x => x.DropshipCount > 0))
   { 
				<tr>
					<td>@Html.PrintPlanet(p.Planet) </td>
					<td><img src='@Model.Faction.GetShipImageUrl()' />@p.DropshipCount</td>
				</tr>
   }
		</table>
 }
	
	<h3>PlanetWars events</h3>
	@Html.Action("Events", "Planetwars", new { accountID = Model.AccountID, partial = true })
	@Html.ActionLink("Trade", "Trade", "PlanetWars", new { id = Model.AccountID }, null)

	<span style="position: absolute; font-family:Skir; top: 5%; right: 5%; font-size: 500%; color: #222; opacity: .75; z-index: -20">PlanetWars</span>
	</div>
	

@if (ZeroKWeb.Global.IsZeroKAdmin && ZeroKWeb.Global.AccountID == Model.AccountID)
{
	<div class="admin">
	<h3>Admin extras</h3>
	<a href="@Url.Content("~/UnlocksAdmin.aspx")">Unlocks admin</a><br />
	<a href="@Url.Content("~/StructuresAdmin.aspx")">Planetwars structures admin</a><br />
	<a href="@Url.Content("~/ResourceList.aspx")">Resource list</a><br />
	</div>
}
</div>