@using ZeroKWeb
@using ZkData
@model Clan
         
@{
  Page.Title = Model.ClanName + " - " + Model.Shortcut + " clan diplomacy";
  var c = Model;
  var isMember = c.Accounts.Any(y => y.AccountID == Global.AccountID);
}

<h3>@Html.PrintClan(Model) diplomacy</h3>

<table>
<tr>
<td>Our offer</td>
<td>Their offer</td>
</tr>
@foreach (var them in new ZkDataContext().Clans.Where(x => x.ClanID != Model.ClanID)) {
  var our = c.TreatyOffersByOfferingClanID.SingleOrDefault(x => x.TargetClanID == them.ClanID) ?? new TreatyOffer();
  var their = them.TreatyOffersByOfferingClanID.SingleOrDefault(x => x.TargetClanID == c.ClanID) ?? new TreatyOffer();
  var effective = them.GetEffectiveTreaty(Model.ClanID);
  
  <tr>
  <td colspan='2'><b>@Html.PrintClan(them) - <span style='color:@Clan.AllyStatusColor(effective.AllyStatus)'>@them.ClanName</span> - @Html.PrintTreaty(effective) </b>
   </td>
  </tr>
  
  <tr>
  <td valign='top'>
  @if (isMember) {
    if (Global.Account.HasClanRights) {
    <form method="post" action="@Url.Action("OfferTreaty", new { targetClanID = them.ClanID })">
      @Html.PrintTreaty(our)<br />
      Status: @Html.DropDownList("ourStatus", Enum.GetValues(typeof(AllyStatus)).OfType<AllyStatus>().Select(x => new SelectListItem() { Text = x.ToString(), Value = ((int)x).ToString(), Selected = our.AllyStatus == x }))
      Research: @Html.CheckBox("ourResearch", our.IsResearchAgreement)<input type="submit" value="offer"/><br />
      @Html.TextArea("ourMessage", our.OfferingClanMessage, new { rows = 2, cols = 30 })
    </form>
    } else { 
    <span>
      @Html.PrintTreaty(our)<br />
      @our.OfferingClanMessage<br />
    </span>
    }
  } else { 
    <span>
      @Html.PrintTreaty(our)
      <br />
    </span>
  }
  </td>
  <td valign='top'>
    <span>
      @Html.PrintTreaty(their)<br />
    </span>
  </td>
  </tr>  
}
</table>



