@using ZkData
@using ZeroKWeb
@model IQueryable<Clan>
@{
  Page.Title = "List of PlanetWars clans";
}
<script type="text/javascript" language="javascript">
  $(document).ready(function () {
    $('#clanTable').tablesorter({
      sortList: [[3, 1]]
    });
    
  }); 
</script>
@if (Global.Clan == null) {
<div>
To take active part in <a href='@Url.Action("Index", "Planetwars")'>PlanetWars</a> join a clan. <br />
Clan you join or create <b>cannot always be changed</b>, so pick carefully!<br />
You can also @Html.ActionLink("create new clan", "CreateClan", "Planetwars") but biggest clans are most likely to win<br />
Clan size is normally limited to @GlobalConst.MaxClanSkilledSize people.
</div>
}


<table id="clanTable" class="tablesorter">
  <thead style="cursor:pointer">
    <tr>
      <th>Full name</th>
      <th>Faction</th>
      <th>
        Tag
      </th>
      <th>Planets</th>
      <th>
        Influence
      </th>
      <th>Credits</th>
      <th>Dropships</th>
      <th>
        Leader
      </th>
      <th>
        Members
      </th>
      <th>Elo (avg)</th>
      <th>Level (med)</th>
      @if (Global.Account == null) {
      <th>
        Can join?
      </th>
      }
    </tr>
  </thead>
  <tbody>

  @foreach (var c in Model) {
    <tr>
    <td><a href='@Url.Action("Clan", new {id= c.ClanID})'><img src='@c.GetImageUrl()' />@c.ClanName</a></td>
      <td>@Html.PrintFaction(c.Faction)</td>
	  <td>@Html.PrintClan(c)</td>
      <td>@c.Accounts.Sum(x=>x.Planets.Count())</td>
      <td>@c.Accounts.SelectMany(x=>x.AccountPlanets).Sum(x=>(int?)x.Influence)</td>
      <td>@c.Accounts.Sum(x=>x.Credits)</td>
      <td>@c.Accounts.Sum(x=>x.DropshipCount)</td>
      <td>@Html.PrintAccount(c.Accounts.SingleOrDefault(x=>x.IsClanFounder))</td>
      <td>@c.Accounts.Count()</td>
      <td>@Math.Round(c.Accounts.Average(x=>x.Elo))</td>
      <td>@c.Accounts.OrderBy(x=>x.Level).Skip(c.Accounts.Count()/2).First().Level</td>
      
      @if (Global.Clan == null) {
        if (c.CanJoin(Global.Account)) {
        <td>@Html.ActionLink("Join now!", "JoinClan", new { id = c.ClanID }, new { @class = "delete" }) @(string.IsNullOrEmpty(c.Password) ? "" : "password")</td>
        } else {
        <td>Full</td>
        }
      }
      
    </tr>
   }
   </tbody>
</table>
