@using ZeroKWeb
@using ZkData
@model Clan
<form method="post" action="@Url.Action("SubmitCreateClan")" enctype="multipart/form-data">
@Html.HiddenFor(x=>x.ClanID)
<table>
  <tr>
    <td>
      Name:
    </td>
    <td>
    @Html.TextBoxFor(x => x.ClanName, new { maxlength = 50 })
    </td>
  </tr>
  <tr>
    <td>
      Shortcut:
    </td>
    <td>
      @Html.TextBoxFor(x=>x.Shortcut, new { maxlength = 6})
    </td>
  </tr>
  <tr>
  <td>Leader title:</td>
  <td>@Html.TextBoxFor(x=>x.LeaderTitle, new {maxlength=50})</td>
  </tr>
  <tr>
    <td>
      Password (leave blank to allow any to join):
    </td>
    <td>@Html.TextBoxFor(x=>x.Password)
    </td>
  </tr>
  <tr>
    <td>
      Image (64x64 png with transparency):
    </td>
    <td>
      <img src='@Model.GetImageUrl()' />
      <input type="file" name="image" />
    </td>
  </tr>
  <tr>
    <td>
      Background Image for your clan page (png with transparency):
    </td>
    <td>
      <img src='@Model.GetBGImageUrl()' width='128px' />
      <input type="file" name="bgimage" />
    </td>
  </tr>
  <tr>
    <td>
      Topic (internal info):
    </td>
    <td>
      @Html.TextAreaFor(x=>x.SecretTopic, 4,40, null)
    </td>
  </tr>
  <tr>
    <td>
      Description (public):
    </td>
    <td>
      @Html.TextAreaFor(x=>x.Description,4,40,null)
    </td>
  </tr>
  <tr>
  <td colspan='2'><input type='submit' value="Submit"/></td>
  </tr>
</table>
</form>
