@using ZeroKWeb
@using ZkData
@model ZkData.Galaxy
@{
  Page.Title = "Planet-Wars galaxy view";
  ViewBag.Minimal = true;
  var g = Model;

  int maxDropships = g.Planets.SelectMany(x => x.AccountPlanets).Max(x => (int?)x.DropshipCount) ?? 1; // fake max as 1 to prevent division by zero
}
@{Html.RenderPartial("LoginBar");}
<img src='http://3.bp.blogspot.com/_YTJBDUN8iSE/TSjDkNEwJAI/AAAAAAAAD0o/N8w-cy_J_EM/s1600/Tracy_Caldwell_Dyson_in_Cupola_ISS.jpg' width='600'/>
Under construciton, please wait!
<div style="text-align: left; border: 0; position: relative">
  <img src="@Url.Action("GalaxyImage", new { galaxyID = Model.GalaxyID })" style="text-align:left; z-index:-50; " width="@Model.Width" height="@Model.Height"/>
  @foreach (var p in Model.Planets) {
    var pr = p.PlanetRectangle(Model);
    Clan clan = null;
    Clan secondClan = null;
    var secondClanInfluence = 0;

    int shipCount = p.AccountPlanets.Sum(x => (int?)x.DropshipCount) ?? 0;

    if (p.Account != null) {
      clan = p.Account.Clan;
    }

    var secondRatio = 0.0;
    var entry = p.AccountPlanets.GroupBy(x => x.Account.Clan).Where(x => x.Key != clan).OrderByDescending(x => x.Sum(y => y.Influence)).FirstOrDefault();
    if (entry != null) {
      secondClan = entry.Key;
      secondClanInfluence = entry.Sum(y => y.Influence);
      var ipToCapture = p.GetIPToCapture();
      if (ipToCapture - secondClanInfluence < 500) {
        secondRatio = 1.0 - (ipToCapture - secondClanInfluence) / 500.0;
      }
    }
    
    <a href='@Url.Action("Planet",new{id=p.PlanetID})' style='color:White'>
    <table cellpadding="0" cellspacing="0" style="left: @(pr.Left - 40)px; top: @(pr.Top - 50)px; width:@(pr.Width + 80)px; height:50px;" class="pwlabel" width="@(pr.Width + 80)" height="50">
      <tr>
        <td valign="bottom" align="center">
          <span title="$map$@p.MapResourceID" style="color: @(Clan.TreatyColor(Global.Clan, clan))" >@p.Name<br />
            @if (clan != null && Global.Clan != null && clan.ClanID == Global.Clan.ClanID) {
              <span style="font-size: 8px">@p.Account.Name</span>
            }
          </span>
        </td>
      </tr>
    </table>
    
    <span style="position: absolute; left: @(pr.Left - 20)px; top: @(pr.Top)px; width: 20px; height: @(pr.Height)px; text-align:right;">
      <table cellpadding="0" cellspacing="0" style="font-size: 2px;">
        <tr>
          <td>
            @if (clan != null) {
              <img src='@clan.GetImageUrl()' width='20' />
            }
          </td>
        </tr>
        <tr>
          <td>
            @if (secondRatio > 0) {
              <img src='@secondClan.GetImageUrl()' width='@(Math.Round(20.0 * secondRatio))' />
            }
          </td>
        </tr>
      </table>
    </span>
    
    <span style="position: absolute; left: @(pr.Left)px; top: @(pr.Top)px; width: @(pr.Width)px; height: @(pr.Height)px;">
      @foreach (var s in p.PlanetStructures) {
        var img = s.IsDestroyed ? s.StructureType.DestroyedMapIcon : s.StructureType.MapIcon;
        if (img != null) {
        <img src='/img/structures/@img' width='@(pr.Width)' style='position:absolute' />
        }
      }
    </span>
    
    
      @if (shipCount > 0) {
    <span style="position: absolute; left: @(pr.Right)px; top: @(pr.Top)px; width: 100px; height: @(pr.Height)px; display:inline-block;">
      <img src='/img/fleets/war.png' width='@(Math.Round(20.0 * shipCount / (double)maxDropships))' /><span
        style="font-size: 10px">@shipCount</span> </span>
      }
      </a>
  }
</div>
