@using ZeroKWeb
@using ZkData
@model ZkData.Galaxy
@{
	Page.Title = "Planet-Wars galaxy view";
	ViewBag.Minimal = true;
	var g = Model;

	int maxDropships = new ZkDataContext().PlanetFactions.Select(x => (int?)x.Dropships).Max() ?? 1; // fake max as 1 to prevent division by zero
	if (maxDropships == 0)
	{
		maxDropships = 1;
	}
	
}

@* Planet link lines *@

@functions {
}

@section head {
	<script type="text/javascript">
		/*
		window.onload = function () */
		$(document).ready(function()
		{
			var paper = Raphael(document.getElementById("linkMap"), @Model.Width, @Model.Height);

			@foreach (var link in Model.Links)
			{
				var p1 = link.PlanetByPlanetID1;
				var p2 = link.PlanetByPlanetID2;

				var x1 = p1.X * Model.Width;
				var y1 = p1.Y * Model.Height;
				var x2 = p2.X * Model.Width;
				var y2 = p2.Y * Model.Height;


				// lines don't support gradients, so use rectangles instead
				double width = 2;
				var color1 = p1.GetColor(Global.Account);
				var color2 = p2.GetColor(Global.Account);
				var angle = -Math.Atan2(x2 - x1, y2 - y1) / Math.PI * 180;
				var length = Math.Sqrt((x2 - x1) * (x2 - x1) + (y2 - y1) * (y2 - y1));
				var lineX = x1 - width / 2;
				var lineY = y1 + width / 2;

				// don't let the line cover the planets
				lineY += p1.Resource.PlanetWarsIconSize / 2 * 1.5;
				length -= p2.Resource.PlanetWarsIconSize * 1.5;

				@: var r = paper.rect(@String.Format("{0:0}, {1:0}, {2:0}, {3:0}", lineX, lineY, width, length));
				@: r.attr({
				@:	"fill": "90-@color2-@color1",
				@:	"stroke": "none"
				@: });
				@: r.rotate(@angle, @String.Format("{0:0}", x1), @String.Format("{0:0}", y1));
			}
		} )
	</script>
}

<div class="">
    <center>
        @Html.ActionLink("Factions","Index","Factions") | @Html.ActionLink("Clans", "Index", "Clans") | @Html.ActionLink("Events", "Events") | turn: @Model.Turn | galaxy started: @Model.Started.ToAgoString() | <a href='/Wiki/PlanetWarsDesign'>Help/info</a> | <a href='/Forum?categoryID=9'>Forums</a> | <a href='/Forum/Thread/314'>Hall Of Fame</a>
    </center>
</div>
<br />

<h1 style="color:Red">PlanetWars in Alpha state after reworking.  Please report errors.</h1>

@Html.Partial("FactionList")
<br style="clear:both"/>


@{
	var db = new ZkDataContext();
}

@if (g.Turn > 100) { // hide before turn 100

<div id="victory_conquest" class="fleft border" style="min-height: 60px;">
<b>Conquest victory (70% planets):</b>
@{
	var conquest = @Model.Planets.Where(x => x.OwnerAccountID != null).GroupBy(x => x.Faction).Select(x => new { Fac = x.Key, Count = x.Count() }).OrderByDescending(x => x.Count).FirstOrDefault();
	
	if (conquest != null)
	{
        var ratio_planets = @conquest.Count / @Math.Round(Model.Planets.Count() * 0.7);
		<span><b>@Html.PrintFaction(conquest.Fac)</b></span>
	<br />
		<img src="/img/progressl_base.png" height="17" class="fleft" />
		<img src="/img/progressl_fill.png" height="17" class="fleft" width="@((int)(300 * ratio_planets))" />
		<img src="/img/progressr_fill.png" height="17" class="fleft" width="@((int)(300 * (1 - ratio_planets)))" />
		<img src="/img/progressr_base.png" height="17" class="fleft" />
		<span class="fleft">@conquest.Count / @Math.Round(Model.Planets.Count() * 0.7) planets </span>
		<br class="clearfloat" />
	}
}
</div>


<div id="victory_tech" class="fleft border" style="min-height: 60px;">
<b>Technologic victory (all artefacts and techs):</b>
@{
	var arts = Model.Planets.Where(y => y.PlanetStructures.Any(x => x.StructureType.EffectIsVictoryPlanet == true)).Count();
	var artsTaken = Model.Planets.Where(y => y.PlanetStructures.Any(x => x.StructureType.EffectIsVictoryPlanet == true) && y.OwnerAccountID != null).GroupBy(x => x.Faction).Select(x => new { Faction = x.Key, Arts = x.Count() }).OrderByDescending(x=>x.Arts).FirstOrDefault();

	if (artsTaken != null)
	{
		var techs = Model.Planets.Where(x => x.OwnerAccountID != null && x.Faction == artsTaken.Faction).SelectMany(y => y.PlanetStructures).Select(y => y.StructureType).Distinct().Count(y => y.EffectUnlockID != null);
		var owned = artsTaken.Arts;
		var ratio_struct = techs / (double)db.StructureTypes.Where(x => x.EffectUnlockID != null).Count();
		<span><b>@Html.PrintFaction(artsTaken.Faction)</b> </span>
	<br />
		//maybe change colors depending on how many artifacts captured?
		<img src="/img/progressl_base.png" height="17" class="fleft" />
		<img src="/img/progressl_fill.png" height="17" class="fleft" width="@((int)(300 * ratio_struct))" />
		<img src="/img/progressr_fill.png" height="17" class="fleft" width="@((int)(300 * (1 - ratio_struct)))" />
		<img src="/img/progressr_base.png" height="17" class="fleft" />
		<span class="fleft"> @techs / @db.StructureTypes.Where(x => x.EffectUnlockID != null).Count() techs</span>
		<br class="clearfloat" />
	<div>
		@for (int i = 0; i < @owned; i++)
		{
			<img src="/img/artifact_@(i + 1).png" class="fleft" height="30" />
		}

		@for (int i = @owned; i < @arts; i++)
		{
			<img src="/img/artifact_empty.png" class="fleft" height="30" />
		}
		<span> @owned out of @arts Artifacts</span>
		<br class="clearfloat"/>
	</div>
	}
}
</div>

}

<br class="clearfloat" />

@*
<div class="border"><center>
<h1><a href='/Forum/Thread/314'>Valhalla has won!</a></h1>
We are setting up the next round.
<br />
<img src="http://images1.wikia.nocookie.net/__cb20100726165117/starwarstech/images/thumb/0/0d/Imperial_Star_Destroyer_by_MasterofIntelligence.jpg/830px-Imperial_Star_Destroyer_by_MasterofIntelligence.jpg" border="2"	/><br/>
</center>
</div>
*@

<div style="position: relative; z-index: 100" >
	<div id="linkMap" style="position: absolute; z-index: 0"> </div>
	<img src="/img/galaxies/render_@(g.GalaxyID).jpg" style="position: relative; top: 0; left: 0; z-index:-50; " width="@Model.Width" height="@Model.Height"/>
	

@foreach (var p in Model.Planets)
{
	var pr = p.PlanetRectangle(Model);
	var por = p.PlanetOverlayRectangle(Model);
	Clan clan = null;
    Faction faction = p.Faction;
	var autohost = Global.Nightwatch.GetPlanetBattles(p).OrderByDescending(x=>x.Users.Count).FirstOrDefault();

	int shipCount = p.PlanetFactions.Sum(x => (int?)x.Dropships) ?? 0;

	if (p.Account != null)
	{
		clan = p.Account.Clan;
	}
	<div style="position: absolute; left: @(por.Left)px; top: @(por.Top)px; width: @(por.Width)px; height: @(por.Height)px; font-size: 12px; font-weight: bold; " >
		<table style="position: absolute; border: 0; padding: 0; text-align: center; font-size: 10px; z-index: 5; line-height: .85; width:100%; height:25%;"><tr>
		<td style="vertical-align: bottom;" ><div style="display:inline-block;">
			<a href='@Url.Action("Planet", new { id = p.PlanetID })' nicetitle="$planet$@p.PlanetID" style="color: #ffffff; color: @(faction!= null ? Faction.FactionColor(faction, Global.FactionID): "#ffffff");">
			@p.Name<br />
			@if (clan != null && Global.Clan != null && clan.ClanID == Global.Clan.ClanID)
			{
				<span style="font-size: 8px">@p.Account.Name</span>
			}
			</a>
		</div></td></tr></table>

		@if (autohost != null && autohost.Users.Count > 1)
		{ 
			<img src='/img/planetstatus/@(autohost.IsInGame ? "attacking" : "preparing")0.png' width='@(por.Width)' style='position:absolute; left: 0;'/>
		}
		
		<span style="position: absolute; left: @(-por.Width); top: @(por.Height/2);"  >
		@{
			var rendered = new List<string>();
		}
		@foreach (var s in p.PlanetStructures)
		{
			var size = por.Width;
			var urlResized = s.GetPathResized(size);
			if (rendered.Contains(urlResized))
			{
				continue;
			}
			rendered.Add(urlResized);
			var pathResized = Server.MapPath(urlResized);
			if (!File.Exists(pathResized))
			{
				s.GenerateResized(size, Server.MapPath("/img/structures/"));
			}
			<img src='@urlResized' style='position:absolute' />
		}
		</span>
		
		<span style="position: absolute; left: 0; top: 25%; width: 20px; height: 20px; z-index: 10;" nicetitle='$planetInfluence$@p.PlanetID'>
			@if (clan != null)
			{
				<img src='@clan.GetImageUrl()' width='20' />
			} else if (faction != null) {
                <img src='@faction.GetImageUrl()' width='20' />
            }
		</span>

		@if (shipCount > 0)
		{
			<span style="position: absolute; right: 0; top: 20%;" nicetitle='$planetDropships$@p.PlanetID'>
                @foreach (var ships in p.PlanetFactions.Where(x => x.Dropships > 0 ).OrderByDescending(x=>x.Dropships))
                {
                    
                    <img src='@ships.Faction.GetShipImageUrl()' width='@(Math.Round(13 + 12.0 * ships.Dropships / (double)maxDropships))' />
                    <span style="font-size: 10px; color: #ffffff;">@ships.Dropships</span><br />
                }
			</span>
		}
	</div>
}

</div>

<div>
	<h3>Last events</h3>
	<span style='float:left'>
	@Html.Action("Events", new { partial = true, pageSize = 40 })</span>
	<span><img	src='http://3.bp.blogspot.com/_YTJBDUN8iSE/TSjDkNEwJAI/AAAAAAAAD0o/N8w-cy_J_EM/s1600/Tracy_Caldwell_Dyson_in_Cupola_ISS.jpg' width='600' /><br /> Please forgive and report issues :-)</span>
</div>