@using ZeroKWeb.Controllers
@using ZkData
@using Ratings
@model List<PwLadder>
@{
    Page.Title = "PlanetWars Ladder";
    var db = new ZkDataContext();
}

<h2>Top players</h2>
<br />
@foreach (PwLadder ladder in Model)
{
    Faction f = ladder.Faction;
    if (f != null)
    {
        <div style="color: @f.Color">
            <a href="@Url.Action("Detail", "Factions", new { id = f.FactionID })" nicetitle="$faction$@f.FactionID">
            <img src='@f.GetImageUrl()' style='float: left'/></a>
            <a href="@Url.Action("Detail", "Factions", new { id = f.FactionID })" nicetitle="$faction$@f.FactionID">
            <span style="font-size: 120%; color:@f.Color;">@f.Name</span></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Attack points</th>
                    <th>Planets</th>
                    <th>Elo</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int rank = 0;
                    foreach (var acct in ladder.Top10)
                    {
                        <tr>
                            <td>@(++rank)</td>
                            <td>@Html.PrintAccount(acct)</td>
                            <td>@acct.PwAttackPoints</td>
                            <td>@acct.Planets.Count</td> 
                            <td>@(Math.Round(RatingSystems.DisableRatingSystems ? acct.EffectivePwElo : acct.GetRating(RatingCategory.Planetwars).Elo))</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}

