@using ZkData
@using ZeroKWeb
@model Planet
@{
  //  ViewBag.Title = "Planet";
  Page.Title = "Planet " + Model.Name;
}
<h1>
  @Html.Partial("PlanetIcon", Model)
  Planet @Model.Name
</h1>
@if (Model.OwnerAccountID == Global.AccountID) {
  <form method="post" action="@Url.Action("SubmitRenamePlanet")">
  <input type="hidden" name="planetID" value="@Model.PlanetID"/>
  <input type="text" name="newName" value="@Model.Name"/>
  <input type='submit' value="Rename Planet" />
  </form>
}
<table>
  <tr>
    <td valign='top'>
      <h3>
        Dropships</h3>
      <table>
        @foreach (var p in Model.AccountPlanets.GroupBy(x => x.Account.Clan).Select(x => new { clan = x.Key, dropships = x.Sum(y => y.DropshipCount) }).Where(x => x.dropships > 0).OrderByDescending(x => x.dropships)) { 
          <tr>
            <td>@Html.PrintClan(p.clan)
            </td>
            <td>
              <img src='/img/dropship.png' />
              x @p.dropships
            </td>
          </tr>
        }
      </table>
      <h3>
        Influence on @Model.Name</h3>
      @Html.Partial("InfluenceList", Model.AccountPlanets)
    </td>
    <td valign='top'>
      @Html.ActionLink(Model.Resource.InternalName, "Detail", "Maps", new { id = Model.MapResourceID }, new {title="$map$" + Model.MapResourceID})
      <table>
        <tr>
          <td valign='top'>
            <span style="margin: 0; padding: 0; border: 1px dashed gray; display: table-cell;
              text-align: center; vertical-align: middle; width: 96px; height: 96px;" title="$map$@Model.MapResourceID"><a href='@Url.Action("Detail", "Maps", new { id = Model.Resource.ResourceID })'>
                <img src='http://zero-k.info/Resources/@Model.Resource.ThumbnailName' style="margin:0px;padding:0px;"/>
              </a></span>
          </td>
          <td valign='top'>
            <table>
              <tr>
                <td>
                  Size:
                </td>
                <td>@Model.Resource.MapWidth x @Model.Resource.MapHeight
                </td>
              </tr>
              <tr>
                <td colspan='2'>
                  <small>
                    @{Html.RenderPartial("~/Views/Maps/MapTags.cshtml", Model.Resource);}
                  </small>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />
@if (Global.IsAccountAuthorized) {
 if ((Global.Account.DropshipCount??0) <= 0) {
   <span>You have no free dropships to send here</span>
 }  if (Clan.AccessiblePlanets(new ZkDataContext(), Global.ClanID).Any(x=>x.PlanetID == Model.PlanetID)) {
  <form action='@Url.Action("SendDropships","Planetwars", new{planetID = Model.PlanetID})' method="post">
  Number of dropships to send: <input type="text" name="count" /> <input type="submit" value="send" />
  </form>
 } else {
  <span>You cannot access this planet through wormholes</span>
 }
}

<h2>
  Trade</h2>
<h3>
  Sell Orders</h3>
@if (Model.OwnerAccountID == Global.AccountID) {
  var myInfluence = Model.AccountPlanets.Single(ap => ap.AccountID == Model.OwnerAccountID).Influence;
  <form method="post" action="@Url.Action("SubmitPlaceSellOrder")">
  <input type="hidden" name="planetID" value="@Model.PlanetID"/>
  <input type="text" name="quantity" value="@myInfluence"/>
  <input type='submit' value="Place Sell Order" />
  </form>
}
<h4>
  Buy Orders</h4>
<h2>
  Structures</h2>
@foreach (var structure in Model.PlanetStructures) {
     
  <p>
    <img  width="32" height="32" src='@structure.GetImageUrl()'/>@structure.StructureType.Name
    (@structure.StructureType.Description)</p>
}
<h3>@Model.Name events</h3>
@Html.Action("Events", new { planetID = Model.PlanetID, partial = true })
@{Html.RenderPartial("CommentList", new ZeroKWeb.Models.CommentList() { Thread = Model.ForumThread, ActionData = new { planetID = Model.PlanetID, threadID = Model.ForumThreadID } });}
