@using ZkData
@using ZeroKWeb
@model Planet
@{
  //  ViewBag.Title = "Planet";
  Page.Title = "Planet " + Model.Name;
}
<h1>
  @Html.Partial("PlanetIcon", Model)
  Planet @Model.Name
</h1>
@if (Model.OwnerAccountID == Global.AccountID) {
  <form method="post" action="@Url.Action("SubmitRenamePlanet")">
  <input type="hidden" name="planetID" value="@Model.PlanetID"/>
  <input type="text" name="newName" value="@Model.Name"/>
  <input type='submit' value="Rename Planet" />
  </form>
}
<h2>@Html.ActionLink(Model.Resource.InternalName, "Detail", "Maps", new { id = Model.Resource.ResourceID }, null)
</h2>
<br />
<table>
  <tr>
    <td valign='top'>
      <span style="margin: 0; padding: 0; border: 1px dashed gray; display: table-cell;
        text-align: center; vertical-align: middle; width: 96px; height: 96px;">
        <img src='http://zero-k.info/Resources/@Model.Resource.ThumbnailName' style="margin:0px;padding:0px;"/>
      </span>
    </td>
    <td valign='top'>
      <table>
        <tr>
          <td>
            Size:
          </td>
          <td>@Model.Resource.MapWidth x @Model.Resource.MapHeight
          </td>
        </tr>
        <tr>
          <td colspan='2'>
            <small>
              @{Html.RenderPartial("~/Views/Maps/MapTags.cshtml", Model.Resource);}
            </small>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<h2>
  Clan Influence</h2>
<table>
  @{
        
  }
  @foreach (var clanGroup in Model.AccountPlanets.GroupBy(ap => ap.Account.Clan).OrderBy(g => g.Sum(ap => ap.Influence + ap.ShadowInfluence))) {
    <tr>
      <td>
        <h3>@Html.PrintClan(clanGroup.Key)</h3>
      </td>
      <td>
        <h3>@clanGroup.Sum(ap => ap.Influence + ap.ShadowInfluence)</h3>
      </td>
      @foreach (var accountPlanet in clanGroup.OrderByDescending(ap => ap.Influence + ap.ShadowInfluence)) {
        <tr>
          <td>@Html.PrintAccount(accountPlanet.Account)
          </td>
          <td>@String.Format("{0}", accountPlanet.Influence + accountPlanet.ShadowInfluence)
          </td>
        </tr>
         if (accountPlanet.Influence > 0) {
        <tr>
          <td>
            Planet influence
          </td>
          <td>@accountPlanet.Influence
          </td>
        </tr>
         }
         if (accountPlanet.ShadowInfluence > 0) {
        <tr>
          <td>
            Influence from connected planets
          </td>
          <td>@accountPlanet.ShadowInfluence
          </td>
        </tr>
         }
      }
    </tr>
  }
</table>
<h2>
  Trade</h2>
<h3>
  Sell Orders</h3>
@if (Model.OwnerAccountID == Global.AccountID) {
  var myInfluence = Model.AccountPlanets.Single(ap => ap.AccountID == Model.OwnerAccountID).Influence;
  <form method="post" action="@Url.Action("SubmitPlaceSellOrder")">
  <input type="hidden" name="planetID" value="@Model.PlanetID"/>
  <input type="text" name="quantity" value="@myInfluence"/>
  <input type='submit' value="Place Sell Order" />
  </form>
}
<h4>
  Buy Orders</h4>
<h2>
  Structures</h2>
@foreach (var structure in Model.PlanetStructures) {
     
  <p>
    <img  width="32" height="32" src='@structure.GetImageUrl()'/>@structure.StructureType.Name
    (@structure.StructureType.Description)</p>
}
@{Html.RenderPartial("CommentList", new ZeroKWeb.Models.CommentList() { Thread = Model.ForumThread, ActionData = new { planetID = Model.PlanetID, threadID = Model.ForumThreadID } });}
