@using LobbyClient
@using PlasmaShared
@using ZeroKWeb
@using ZkData
@model LobbyClient.PwMatchCommand
@{
    PwMatchCommand pw = Model;
    string text = "";
    var db = new ZkDataContext();
    if (pw.Mode == PwMatchCommand.ModeType.Attack)
    {
        text = string.Format("{0} picks a planet to attack", pw.AttackerFaction);
    }
    else
    {
        PwMatchCommand.VoteOption opt = pw.Options.First();
        text = string.Format("{0} attacks planet {2}, {1} defends", pw.AttackerFaction, string.Join(",", pw.DefenderFactions), opt.PlanetName);
    }

    bool canClick = (pw.Mode == PwMatchCommand.ModeType.Attack && pw.AttackerFaction == Global.Account.Faction.Shortcut) || (pw.Mode == PwMatchCommand.ModeType.Defend && pw.DefenderFactions.Contains(Global.Account.Faction.Shortcut));
}

<div id="matchMaker">
    @Ajax.ActionLink("refresh", "MatchMaker", new AjaxOptions { UpdateTargetId = "matchMaker", InsertionMode = InsertionMode.Replace })
    &nbsp;
    <span id="pwTimer">
        Deadline: @Utils.PrintTimeRemaining(pw.DeadlineSeconds)
    </span>
    <span>@text</span>
    @foreach (PwMatchCommand.VoteOption opt in pw.Options)
    {
        <span style="border: 1px solid cyan;">
            @if (canClick)
            {
                @Ajax.ActionLink("Join", "MatchMakerJoin", new { planetID = opt.PlanetID }, new AjaxOptions { UpdateTargetId = "matchMaker", InsertionMode = InsertionMode.Replace })
            }
            @Html.PrintPlanet(db.Planets.First(x => x.PlanetID == opt.PlanetID))
            <span>[@opt.Count/@opt.Needed]</span>
        </span>
        <text>&nbsp; &nbsp;&nbsp;</text>
    }
    
</div>