@model ZeroKWeb.Controllers.MapsController.MapIndexData
@using ZeroKWeb
@using ZkData
@{
    Page.Title = "Maps";
}

<script>
    $(document).ready(function () {
        $(".clickable").click(function (self) {
            var slider = $(this).parent().children(".slider");
            if ($(this).hasClass("left")) {
                slider.toggleClass("left");
            } else if ($(this).hasClass("right")) {
                slider.toggleClass("right");
            }
            if (slider.hasClass("left") && slider.hasClass("right")) {
                slider.removeClass("left");
                slider.removeClass("right");
            }
        });
    });
</script>
<div id="maps" class="content">

    <div id="ajaxScrollTarget" class="maplist">

        <div id="mapfilters">
            <h2>Map Search</h2>
            <div>
                <input type="text" id="search" name="search" class="ui-autocomplete-input" placeholder="Search for Map or Author"
                       autocomplete="off" data-autocomplete="/Autocomplete/Maps" data-autocomplete-action="submit" />
            </div>
            <div class="filtergroup">
                <label for="mapSize">Size:</label>
                <select id="mapSize" name="size">
                    <option>Any Size</option>
                    <option value='1'>Small</option>
                    <option value='2'>Medium</option>
                    <option value='3'>Big</option>
                </select>

                <label for="mapSeaAmount">Water Ratio:</label>
                <select id="mapSeaAmount" name="sea">
                    <option>Any Water</option>
                    <option value="1">Land</option>
                    <option value="2">Land &amp; Sea</option>
                    <option value="3">Sea</option>
                </select>

                <label for="mapTerrain">Terrain Type:</label>
                <select id="mapTerrain" name="hills">
                    <option>Any Terrain</option>
                    <option value="1">Flat</option>
                    <option value="2">Hills</option>
                    <option value="3">Cliffs</option>
                </select>

                <label for="mapSupportLevel">Support:</label>
                <select id="mapSupportLevel" name="mapSupportLevel">
                    <option value='0'>Unsupported</option>
                    <option value='1'>Supported</option>
                    <option value='2' selected="selected">Featured</option>
                    <option value='3'>MatchMaker</option>
                </select>
            </div>
            <div class="filtergroup">
                <div class="filter switch3">
                    <div class="slider"></div>
                    <div class="clickable left"><span>Oblong</span></div>
                    <div class="clickable right"><span>Square</span></div>
                </div>
                <div class="filter switch3">
                    <div class="slider"></div>
                    <div class="clickable left"><span>Asymmetric</span></div>
                    <div class="clickable right"><span>Symmetric</span></div>
                </div>
                <div class="filter switch3">
                    <div class="slider"></div>
                    <div class="clickable left"><span>Non Teams</span></div>
                    <div class="clickable right"><span>Teams Only</span></div>
                </div>
                <div class="filter switch3">
                    <div class="slider"></div>
                    <div class="clickable left"><span>Non 1v1</span></div>
                    <div class="clickable right"><span>1v1 Only</span></div>
                </div>
                <div class="filter switch3">
                    <div class="slider"></div>
                    <div class="clickable left"><span>Non FFA</span></div>
                    <div class="clickable right"><span>FFA Only</span></div>
                </div>
                <div class="filter switch3">
                    <div class="slider"></div>
                    <div class="clickable left"><span>Non Chicken</span></div>
                    <div class="clickable right"><span>Chicken Only</span></div>
                </div>
                <div class="filter switch3">
                    <div class="slider"></div>
                    <div class="clickable left"><span>Non Special</span></div>
                    <div class="clickable right"><span>Special Only</span></div>
                </div>
            </div>
            <div>
                <input type="submit" id="submit" value="Search" />
            </div>
        </div>

        @{Html.RenderPartial("MapTileList", Model.Latest);}

        <br />
    </div>
</div>

<form action="@Url.Action("Index")" id='ajaxScrollForm' method="post" style="display: none;">
    <div class="filter-section">

        <label for="mapDimensions">Aspect Ratio:</label>
        <select id="mapDimensions" name="elongated">
            <option>Any Aspect Ratio</option>
            <option value='false'>Square-like</option>
            <option value='true'>Elongated</option>
        </select>

        <label for="mapSymmetry">Symmetry:</label>
        <select id="mapSymmetry" name="assymetrical">
            <option>Any Symmetry</option>
            <option value="false">Symmetrical</option>
            <option value="true">Asymmetrical</option>
        </select>
    </div>
    <div class="filter-section">
        <label for="mapSupportsTeams">
            Team:
            <span title='Maps suitable for team games'></span>
        </label>
        <select id="mapSupportsTeams" name="isTeams">
            <option>Can be for Teams</option>
            <option value="false">Non Teams</option>
            <option value="true">Teams Only</option>
        </select>

        <label for="mapSupports1v1">
            1v1:
            <span title='Maps suitable for 1v1 games'></span>
        </label>
        <select id="mapSupports1v1" name="is1v1">
            <option>Can be for 1v1</option>
            <option value="false">Non 1v1</option>
            <option value="true">1v1 Only</option>
        </select>

        <label for="mapSupportsFFA">
            FFA:
            <span title='Maps suitable for Free-For-All games - multiple teams'></span>
        </label>
        <select id="mapSupportsFFA" name="ffa">
            <option>Can be for FFA</option>
            <option value='false'>Non FFA</option>
            <option value='true'>FFA Only</option>
        </select>

        <label for="mapSupportsChickens">
            Chickens:
            <span title='Maps suitable for chicken games?'></span>
        </label>
        <select id="mapSupportsChickens" name="chicken">
            <option>Can be for Chickens</option>
            <option value="false">Non Chicken</option>
            <option value="true">For Chickens Only</option>
        </select>

        <label for="mapIsSpecial">
            Special:
            <span title='Maps with special features, speedmetal, duck, greenfields etc'></span>
        </label>
        <select id="mapIsSpecial" name="special">
            <option value="-1">Can be Special</option>
            <option value="0" selected>Only Standard Maps</option>
            <option value="1">Special Only</option>
        </select>

    </div>
    <div class="filter-section">
        <label for="mapSupportLevel">Support:</label>
        <select id="mapSupportLevel" name="mapSupportLevel">
            <option value='0'>Unsupported</option>
            <option value='1'>Supported</option>
            <option value='2' selected="selected">Featured</option>
            <option value='3'>MatchMaker</option>
        </select>

        <label for="mapIsDownloadable">Download:</label>
        <select id="mapIsDownloadable" name="isDownloadable">
            <option value='-1'>Any Download Status</option>
            <option value='1' selected>Downloadable</option>
            <option value='0'>Download Not Verified</option>
        </select>

        <label for="needsTagging">
            Needs tagging:
            <span title='Show maps that need to be manually tagged (sea, terrain, FFA etc diagnosed)'></span>
        </label>
        <input id="needsTagging" name="needsTagging" value="true" type="checkbox">
    </div>

    <label for="search">Name or Author:</label>
    <input data-autocomplete="/Autocomplete/Maps" data-autocomplete-action="submit" id="search" name="search" value="" class="ui-autocomplete-input" autocomplete="off" type="text">

    <input type="submit" id="submit" value="Search" />
</form>
<table width='100%'>
    <tr>
        <td width="250" valign="top" align="left">
            <h3>
                Highest rated
            </h3>
            <ul>
                @foreach (var r in Model.TopRated.Take(15))
                {
                    <li><span title='$map$@r.ResourceID'>@Html.ActionLink(r.InternalName, "Detail", new { id = r.ResourceID })</span></li>
                }
            </ul>
            <h3>
                Last comments
            </h3>
            <ul>
                @foreach (var r in Model.LastComments.Take(15))
                {
                    <li><span title='$map$@r.ResourceID'>@Html.ActionLink(r.InternalName, "Detail", new { id = r.ResourceID })</span></li>
                }
            </ul>
            <h3>
                Most downloads
            </h3>
            <ul>
                @foreach (var r in Model.MostDownloads.Take(15))
                {
                    <li><span title='$map$@r.ResourceID'>@Html.ActionLink(r.InternalName, "Detail", new { id = r.ResourceID })</span></li>
                }
            </ul>
            @if (Global.Account != null)
            {
                <form action="@Url.Action("UploadResource")" enctype="multipart/form-data" method="post">
                    Upload map or game (sd7 or sdz): <input type="file" name="file" accept=".sd7,.sdz"> <input type="submit" value="Upload" />
                </form>
            }

        </td>
    </tr>
</table>
