@using ZkData
@model IQueryable<ZkData.Resource>
@{
    Layout = "";
}

<style>
    #ajaxScrollTarget {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .map-link {
        color: white;
        position: relative;
        width: 256px;
        height: 256px;
        border: 2px solid black;
        font-family: "OpenSans", sans-serif;
        overflow: hidden;
    }
    .map-tags {
        position: absolute;
        top: 0.5em;
        left: -20em;
        right: 0.5em;
        opacity: 0;
        transition: 0.5s;
    }
    .map-link:hover .map-tags {
        opacity: 1;
        left: 0.5em;
    }
    .map-tags .tag {
        display: inline-flex;
        background: rgba(0,0,0,0.75);
        padding: 0.1em 0.25em;
        margin-bottom: 0.2em;
        grid-gap: 5px;
    }
    .map-rating {
        display: none;
        padding-bottom: 1em;
    }
    .map-link:hover .map-rating {
        display: block;
    }
    .map-details {
        position: absolute;
        background: rgba(0,0,0,0.75);
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.5em;
        text-shadow: 2px 2px 5px #000;
    }
    .map-name {
        font-weight: bold;
    }
    .map-author {
        font-size: 12px;
    }
    .map-support {
        position: absolute;
        right: 0.5em;
        bottom: 0.5em;
    }

    .matchmaker {
        animation: matchmaker-blink 5s ease infinite;
    }
    @@keyframes matchmaker-blink {
        0% {color: rgba(255, 255, 64, 1);}
        50% {color: rgba(255, 255, 32, 1);}
        100% {color: rgba(255, 255, 64, 1);}
    }
    .featured {
        color: rgba(0, 255, 64, 1);
        /*animation: feature-blink 5s ease-in-out infinite;*/
    }
    @@keyframes feature-blink {
        0% {color: rgba(0, 255, 64, 0.5);}
        50% {color: rgba(0, 255, 64, 1);}
        100% {color: rgba(0, 255, 64, 0.5);}
    }
    .unsupported {
        animation: unsupported-blink 5s ease-out infinite;
    }
    @@keyframes unsupported-blink {
        0% {color: rgba(255, 0, 0, 0.5);}
        50% {color: rgba(255, 0, 0, 1);}
        100% {color: rgba(255, 0, 0, 0.5);}
    }
</style>

@foreach (var m in Model)
{
    int mapsize = 256;
    float maxdim = Math.Max((int)m.MapHeight, (int)m.MapWidth);
    int width = (int)Math.Truncate(mapsize * (int)m.MapWidth / maxdim);
    int height = (int)Math.Truncate(mapsize * (int)m.MapHeight / maxdim);

    <a class="map-link" href="@Url.Action("Detail", new { id = m.ResourceID })" 
       style="background: rgba(0,0,0,0.25) url('/Resources/@m.ThumbnailName') no-repeat center; background-size: @(width)px @(height)px;">
        <div class="map-tags">
            @{Html.RenderPartial("MapTags", m);}
        </div>
        <div class="map-details">
            <div class="map-rating">
                @*@Html.Stars(StarType.GreenStarSmall, m.MapRating)*@
                @{Html.RenderPartial("_rating", m);}
            </div>
            <div class="map-name">@m.InternalName</div>
            <div class="map-author">@m.AuthorName</div>
        </div>
        <div class="map-support">
            @if (m.MapSupportLevel >= MapSupportLevel.MatchMaker)
            {
                <i class="matchmaker fa fa-star"></i>
                @*<i class="matchmaker fa fa-certificate"></i>*@
                @*<i class="matchmaker fa fa-moon-o"></i>*@
            }
            else if (m.MapSupportLevel >= MapSupportLevel.Featured)
            {
                @*<i class="featured fa fa-bookmark"></i>*@
                @*<i class="featured fa fa-thumb-tack"></i>*@
                @*<i class="featured fa fa-star"></i>*@
                <i class="featured fa fa-certificate"></i>
            }
            else if (m.MapSupportLevel >= MapSupportLevel.Supported)
            {
                // standard -- no icon
            }
            else
            {
                <i class="unsupported fa fa-exclamation-triangle"></i>
            }
        </div>
	</a>
}
