@using ZeroKWeb
@using ZkData
@model ZkData.Account

<div id="battles" class="module">
    <h2 class="handle">Ongoing Battles</h2>
    @if (Model.SpringBattlePlayers.Any())
    {
        <h3>@Html.ActionLink("Last battles", "Index", "Battles", new { UserId = Model.AccountID }, null)</h3>
        <span>
            @Model.SpringBattlePlayers.Count(x => !x.IsSpectator) played, @Model.SpringBattlePlayers.Count(x => x.IsSpectator)
            watched, @Model.MissionRunCount missions
        </span>
        <br />
        foreach (SpringBattlePlayer b in Model.SpringBattlePlayers.Where(x => !x.IsSpectator).OrderByDescending(x => x.SpringBattleID).Take(10))
        {
            <small>@Html.PrintBattle(b)</small>
            <br />
        }
    }
    else
    {
        <h4>The galaxy is cold...</h4>
    }
</div>