@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model ZeroKWeb.Controllers.HomeController.IndexResult

<div id="headlines" class="module">
    @foreach (var n in Model.Headlines.Take(1))
    {
        <div class="js_dialog" title="News headlines">
            <h1>@n.Title</h1>
            @if (n.ImageRelativeUrl != null)
            {
                <img src="@n.ImageRelativeUrl" style="float:left; width:800px; margin: 6px;" />
            }
            <div>@Html.BBCodeCached(n)</div>
            <small>Posted by @Html.PrintAccount(n.Account) @n.Created.ToAgoString() - @Html.ActionLink("comment", "Thread", "Forum", new { id = n.ForumThreadID }, null)</small>
        </div>
    }
</div>