@using ZeroKWeb
@using ZkData
@model IEnumerable<News>

<div id="empty" class="module">
    <h3 class="handle">News</h3>
    @foreach (var news in Model.Take(4))
    {
        <h1>@news.Title</h1>
        if (news.ThumbRelativeUrl != null)
        {
            <a href="@news.ImageRelativeUrl"><img src="@news.ThumbRelativeUrl" style="float:left; width:120px; margin: 6px;" /></a>
        }
        <div>@Html.BBCodeCached(news)</div>
        <small>
            Posted by @Html.PrintAccount(news.Account) @news.Created.ToAgoString() - @Html.ActionLink("comment", "Thread", "Forum", new { id = news.ForumThreadID }, null)
            @if (Global.IsModerator)
            {
                <span class="admin">
                    @Html.ActionLink("Edit", "Detail", "News", new { id = news.NewsID }, null)
                </span>
            }
        </small>
        <br /><br />
    }
    <a href="@Url.Action("Index", "News")"><img src="/img/rss.png" width="25" alt="rss" /> RSS feed</a> | <a href='/Forum?categoryID=13'>news archive</a>
</div>