@model ZeroKWeb.Controllers.BattlesController.BattleSearchModel

@{
    Page.Title = "Replay Search";
}
<form action="@Url.Action("Index")" id="ajaxScrollForm" method="post">
    <table>
        <tr>
            <td>Title: </td><td>@Html.TextBoxFor(x => x.Title)</td>
            <td>Map: </td><td>@Html.TextBoxFor(x => x.Map, new { data_autocomplete = Url.Action("Maps", "Autocomplete"), data_autocomplete_action = "submit" })</td>
        </tr>
        <tr>
            <td>Players: </td><td>@Html.TextBox("User","", new { data_autocomplete = Url.Action("Users", "Autocomplete"), data_autocomplete_action = "add" })</td>
            <td>Player count: </td><td>@Html.TextBoxFor(x => x.PlayersFrom) - @Html.TextBoxFor(x => x.PlayersTo)</td>
        </tr>
        <tr>
            <td></td><td>
            <div id="players">
            </div>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td colspan="4">  
            Age: @Html.EnumDropDownListFor(x => x.Age)
            Mission: @Html.EnumDropDownListFor(x => x.Mission)
            Bots: @Html.EnumDropDownListFor(x => x.Bots)
            <input name="sa" value="Search" alt="Search" type="image" src="/img/search_img.png" style="border: none; vertical-align: middle;" /></td>
        </tr>
    </table>
    @if (Model.UserId != null) { Html.Raw(string.Concat(Model.UserId.Select(x => Html.Hidden("UserId[]", x)).ToList())); }
</form>
<table>
    <tr>
        <td>
            <div id="ajaxScrollTarget">
                @{ Html.RenderPartial("BattleTileList", Model); }
            </div>
        </td>
    </tr>
</table>
