@model ZeroKWeb.Controllers.BattlesController.BattleSearchModel
@using ZkData
@{
    Page.Title = "Replay Search";
}
<form action="@Url.Action("Index")" id="ajaxScrollForm" method="post">
    <table class="inputTable">
        <tr>
            <td>Title: </td>
            <td>@Html.TextBoxFor(x => x.Title)</td>
            <td>Map: </td>
            <td>@Html.TextBoxFor(x => x.Map, new { data_autocomplete = Url.Action("Maps", "Autocomplete"), data_autocomplete_action = "submit" })</td>
        </tr>
        <tr>
            <td>Players: </td>
            <td>
                @using (var db = new ZkDataContext())
                {@Html.MultiSelectFor(x => x.UserId, Url.Action("UsersNoLink", "Autocomplete"), x => Html.PrintAccount(db.Accounts.Find(x)));
            }
            </td>
            <td>Player count: </td>
            <td> @Html.TextBoxFor(x => x.PlayersFrom) - @Html.TextBoxFor(x => x.PlayersTo)</td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="4">
                Age: @Html.EnumDropDownListFor(x => x.Age)
                Mission: @Html.EnumDropDownListFor(x => x.Mission)
                Bots: @Html.EnumDropDownListFor(x => x.Bots)
                Rank: @Html.EnumDropDownListFor(x => x.Rank)
                Victory: @Html.EnumDropDownListFor(x => x.Victory)
                MM: @Html.EnumDropDownListFor(x => x.Matchmaker)
                Rating: @Html.EnumDropDownListFor(x => x.Rating)
                <input name="sa" value="Search" alt="Search" type="image" src="/img/search_img.png" style="border: none; vertical-align: middle;" />
            </td>
        </tr>
    </table>
    @if (Model.UserId != null) { Html.Raw(string.Concat(Model.UserId.Select(x => Html.Hidden("UserId", x)).ToList())); }
</form>
<table>
    <tr>
        <td>
            <div id="ajaxScrollTarget">
                @{ Html.RenderPartial("BattleTileList", Model); }
            </div>
        </td>
    </tr>
</table>
