@model IQueryable<ZkData.SpringBattle>
@{
  Layout = "";
}
@foreach (var m in Model) {
  var map = m.ResourceByMapResourceID;
  var mod = m.ResourceByModResourceID;
  var players = m.SpringBattlePlayers.Select(p => p.IsSpectator).ToList();
    <div class='mission fleft' style='width:400px' onclick="window.location='@Url.Action("Detail", new { id = m.SpringBattleID })'">
      <b>@m.Title</b>
      <br />
      @map.InternalName (@mod.InternalName)<br />
      <table>
        <tr>
          <td valign='top'>
            <span style="margin: 0; padding: 0; border: 1px dashed gray; display: table-cell;
              text-align: center; vertical-align: middle; width: 96px; height: 96px;">
              <img src='http://zero-k.info/Resources/@m.ResourceByMapResourceID.ThumbnailName' style="margin:0px;padding:0px;"/>
            </span>
          </td>
          <td valign='top'>
            <table>
              <tr>
                <td>
                  Players:
                </td>
                <td>@players.Where(p => !p).Count()
                </td>
              </tr>
              <tr>
                <td>
                  Spectators:
                </td>
                <td>@players.Where(p => p).Count()
                </td>
              </tr>
              <tr>
                <td>
                  Age:
                </td>
                <td>@((DateTime.UtcNow - m.StartTime).ToAgoString())
                </td>
              </tr>
              <tr>
                <td>
                  Duration:
                </td>
                <td>@TimeSpan.FromSeconds(m.Duration).ToNiceString()
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
}
