@model IList<ZeroKWeb.Controllers.BattleQuickInfo>

@{
  Layout = "";
}
@foreach (var m in Model) {
  var players = m.Players.Count(p => !p.IsSpectator);
  var specs = m.Players.Count(p => p.IsSpectator);
	<a href='@Url.Action("Detail", new { id = m.Battle.SpringBattleID })'>
	<div class='mission fleft' style='width:400px; color: #fff; padding-bottom: 1em;'>
      <b>@m.Battle.Title</b>
      <br />
      Teams:
      @string.Join("v", m.Players.Where(p => !p.IsSpectator).GroupBy(p => p.AllyNumber).Select(g => g.Count()))
      @if (m.Battle.HasBots)
	  { <text>+ Bots</text> }
      <br />
      @m.Map.InternalName (@m.Mod.InternalName)<br />
      <table>
        <tr>
          <td valign='top'>
            <span style="margin: 0; padding: 0; border: 1px dashed gray; display: table-cell;
              text-align: center; vertical-align: middle; width: 96px; height: 96px;">
              <img src='/Resources/@m.Map.ThumbnailName' style="margin:0px;padding:0px;"/>
            </span>
          </td>
          <td valign='top'>
            <table>
              <tr>
                <td>
                  Players:
                </td>
                <td>@players
                </td>
              </tr>
              <tr>
                <td>
                  Spectators:
                </td>
                <td>@specs
                </td>
              </tr>
              <tr>
                <td valign="top">
                  Date:
                </td>
                <td>@m.Battle.StartTime.AddTicks(-(m.Battle.StartTime.Ticks % TimeSpan.TicksPerSecond)) (@((DateTime.UtcNow - m.Battle.StartTime).ToAgoString()))
                </td>
              </tr>
              <tr>
                <td>
                  Duration:
                </td>
                <td>@TimeSpan.FromSeconds(m.Battle.Duration).ToNiceString()
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
	</a>
}
