@model ZkData.SpringBattle

@{
  Page.Title = "Zero-K battle detail";
}
Title: @Model.Title<br />

<span style='float: right;'>
<a href="@Url.Action("Detail","Maps",new {id= @Model.MapResourceID})"><img src='http://zero-k.info/Resources/@Model.ResourceByMapResourceID.ThumbnailName' style="margin:0px;padding:0px;" alt="@Model.ResourceByMapResourceID.InternalName"/></a>
</span>


Host: @Model.Account.Name <br />
Game version: @Model.ResourceByModResourceID.InternalName<br />
Engine version: @Model.EngineVersion<br />
Started: @Model.StartTime.ToAgoString() <br />
Duration: @TimeSpan.FromSeconds(Model.Duration).ToNiceString() <br />
Players: @Model.PlayerCount <br />
Bots: @Model.HasBots<br />
IsMisison: @Model.IsMission<br />
Winners XP: @Model.WinnerTeamXpChange<br />
Losers XP: @Model.LoserTeamXpChange<br />

REPLAY: <a href="@Uri.EscapeUriString(string.Format("spring://http://zero-k.info/Battles.mvc/Detail/{4}@start_replay:{0},{1},{2},{3}", "http://springdemos.licho.eu/" + Model.ReplayFileName, Model.ResourceByModResourceID.InternalName, Model.ResourceByMapResourceID.InternalName, Model.EngineVersion, Model.SpringBattleID))">  <img src="../../img/playnow.png" width="250" alt="Play now"/></a><br />

@if (!ZeroKWeb.Global.IsLobbyAccess) {
  <a href='http://springdemos.licho.eu/@Model.ReplayFileName'>Manual download</a> <br />
}

<div>
@foreach (var grp in Model.SpringBattlePlayers.Where(x=>!x.IsSpectator).GroupBy(x=>x.AllyNumber)) {
<span style='display:inline-block; @(grp.First().IsInVictoryTeam ? "background-color: #207020;":"background-color: #702020;")'>
<h3>Team @(grp.Key+1)</h3>
@foreach (var u in grp) {
  <span>@Html.PrintAccount(u.Account)
    @(u.LoseTime.HasValue ? "died in " + TimeSpan.FromSeconds(u.LoseTime.Value).ToNiceString() : "")  
    @if (u.EloChange.HasValue) {
      @:Elo: @u.EloChange.Value.ToString("F1")
    }
    @foreach (var award in Model.AccountBattleAwards.Where(x => x.AccountID == u.AccountID)) {
      <img src="http://zero-k.googlecode.com/svn/trunk/mods/zk/LuaRules/Images/awards/trophy_@(award.AwardKey).png" height="30" title="@award.AwardDescription"/>
      
    }
  </span><br />
}
</span>
}

 <span style='display:inline-block; background-color: #202020;'>
 <h4>Spectators</h4>
 @foreach (var u in Model.SpringBattlePlayers.Where(x => x.IsSpectator)) {
 <small>@Html.PrintAccount(u.Account)</small><br />
 }
 </span>
</div>



