@model IList<ZeroKWeb.Controllers.BattleQuickInfo>
@using ZeroKWeb

@{
    Page.Title = "Replay Search";
}
<form action="@Url.Action("Index")" id='ajaxScrollForm' method="post">
  Title:
  @Html.TextBox("battleTitle")
  Map:
  @Html.TextBox("map")
  Game:
  @Html.TextBox("mod", "Zero-K")
  <br />
  Player Involved:
  @*@Html.TextBox("user")*@
  @Html.TextBox("user", Global.IsAccountAuthorized ? Global.Account.Name : "")
  # of Players:
  @Html.TextBox("players")
  <br />
  Age:
  <select name="age">
    <option value="1">Today</option>
    <option value="2">This Week</option>
    <option value="3">This Month</option>
    <option selected="selected">All Time</option>
  </select>
  Duration: (± 5 Minutes)
  <input type="text" name="duration" />
  Mission:
  <select name="mission">
    <option>Any</option>
    <option value='true'>Yes</option>
    <option value='false'>No</option>
  </select>
  Bots:
  <select name="bots">
    <option>Any</option>
    <option value='true'>Yes</option>
    <option value='false'>No</option>
  </select>
  <br />
  <input type="submit" id="submit" value="Search" />
</form>
<table>
  <tr>
    <td>
      <div id='ajaxScrollTarget'>
        @{Html.RenderPartial("BattleTileList", Model);}
      </div>
    </td>
  </tr>
</table>
