@using PlasmaShared
@using ZeroKWeb
@using ZkData
@model dynamic
<h1>Contribute to Zero-K and Spring project</h1>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

    <input type="hidden" name="business" value="S7LYLK6P63H48">

    <!-- Specify a Donate button. -->
    <input type="hidden" name="cmd" value="_donations">

    <!-- Specify details about the contribution -->
    <input type="hidden" name="item_name" value="Zero-K">
    <input type="hidden" name="item_number" value="@PayPalInterface.GetItemCode(Global.AccountID, null)">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="notify_url" value="@Url.Action("Ipn")">
    <input type="hidden" name="no_note" value="0"/>
    <input type="hidden" name="cn" value="Send message to the team"/>
    <input type="hidden" name="no_shipping" value="1"/>
    <input type="hidden" name="rm" value="1"/>
    <input type="hidden" name="return" value="@Url.Action("ThankYou")">
    
    <!-- Display the payment button. -->
    <input type="image" name="submit" border="0"
           src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
           alt="PayPal - The safer, easier way to pay online">
    <img alt="" border="0" width="1" height="1"
         src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
</form>

<h2>Donations jars</h2>
You can select where your donation goes! :-)<br/>
<table>
    <tr>
        <td style="text-align: center">Jar</td><td style="text-align: center">Guarantor</td><td style="min-width: 80px; text-align: right">Pledged</td><td style="text-align: center">Progress</td><td>Needed</td>
    </tr>
    @foreach (var jar in new ZkDataContext().ContributionJars) {
        var funded = Math.Round(jar.Contributions.Sum(x => x.EurosNet) ?? 0);
        var ratio = funded/jar.TargetGrossEuros;
        if (ratio > 1) {
            ratio = 1;
        }
        <tr><td><span nicetitle="@jar.Description">@jar.Name</span></td><td>@Html.PrintAccount(jar.Account)</td><td style="text-align: right; ">€@funded</td>
            <td>
                <div nicetitle="@jar.Description">
                    <img src="/img/progressl_base.png" height="17" class="fleft" />
                    <img src="/img/progressl_fill.png" height="17" class="fleft" width="@((int)(300*ratio))" />
                    <img src="/img/progressr_fill.png" height="17" class="fleft" width="@((int)(300*(1 - ratio)))" />
                    <img src="/img/progressr_base.png" height="17" class="fleft" /> 
                </div>
            </td>
            <td>€@jar.TargetGrossEuros.ToString("F0")</td>
        </tr>
    
    }
</table>



<h2>Many thanks to those great people!</h2>
<table>

    @foreach (var c in new ZkDataContext().Contributions.OrderByDescending(x => x.Time)) {
        <tr>
            <td>
                @if (c.AccountByAccountID != null) {
                    @Html.PrintAccount(c.AccountByAccountID)
                }
                else {
                    <span>@c.Name</span>
                }

            </td>
            <td>€@c.Euros.Value.ToString("F2")</td>
        </tr>
    }
</table>

@if (Global.IsZeroKAdmin) {
    <div class="admin">
        <h3>Add a manual contribution</h3>
        <form action="@Url.Action("AddContribution")" method="POST">
            <table>
                <tr><td>Account ID</td><td>@Html.TextBox("accountID")</td></tr>
                <tr><td>Kudos</td><td>@Html.TextBox("kudos")</td></tr>
                <tr><td>Date</td><td>@Html.TextBox("date", DateTime.Now, new{@class="datepicker"})</td></tr>
                <tr><td>Item</td><td>@Html.TextBox("item")</td></tr>
                <tr><td>Original currency</td><td>@Html.TextBox("currency")</td></tr>
                <tr><td>Original amount</td><td>@Html.TextBox("gross")</td></tr>
                <tr><td>Gross EUR</td><td>@Html.TextBox("grossEur")</td></tr>
                <tr><td>Net EUR</td><td>@Html.TextBox("netEur")</td></tr>
                <tr><td>Email</td><td>@Html.TextBox("email")</td></tr>
                <tr><td>Comment</td><td>@Html.TextBox("comment")</td></tr>
                <tr><td>Is spring donation</td><td>@Html.CheckBox( "isSpring")</td></tr>
            </table>
            <input type="submit" value="Add a contribution"/>
        </form>

    </div>

}