@model IQueryable<ZkData.Mission>
@{
	Layout = "";
}
@foreach (var mission in Model) {
	<div id='@mission.MissionID' class='mission left relative' title="$mission$@mission.MissionID" onclick="window.location='@Url.Action("Detail", new { id = mission.MissionID })'" >
		<b>@mission.Name</b><br />
		@Html.PrintAccount(mission.Account)
		<br />
		<img width='96' height='96' border='1' src='@Href(string.Format("~/img/missions/{0}.png", mission.MissionID))' class='left' />
		<table>
		<tr>
			<td>Rating:</td>
			<td>@Html.Stars(StarType.GreenStarSmall, mission.Rating)</td>
		</tr>
		<tr>
			<td>Difficulty:</td>
			<td>@Html.Stars(StarType.RedSkull, mission.Difficulty)</td>
		</tr>
		<tr>
			<td colspan='2'><small>@Html.PrintLines(mission.GetPseudoTags())</small></td>
		</tr>
		</table>
		
		@if (mission.TopScoreLine != null) {
			<small><img src='/img/cup.png' class='icon16'>@mission.TopScoreLine</small>
		}
		<span class="play"><a href='spring://@(Url.Action("Detail", "Missions", new { id = mission.MissionID }, Request.Url.Scheme) + (mission.IsScriptMission ? "@start_script_mission:" : "@start_mission:") + mission.Name)'>
				<img src="../../img/playnow.png" width="220" /></a>
		</span>
	</div>
}
