@using ZeroKWeb
@using ZkData
@model Campaign
@{
    Page.Title = "Campaign " + Model.Name + " - Galaxy Map";
	ViewBag.Minimal = true;
    var db = new ZkDataContext();
	Campaign camp = Model;
}

@* Planet link lines *@

@functions {
}

@section head {
	<script type="text/javascript">
		/*
		window.onload = function () */
		$(document).ready(function()
		{
			var paper = Raphael(document.getElementById("linkMap"), @Model.MapWidth, @Model.MapHeight);

            @foreach (var link in Model.CampaignLinks)
            { 
                var p1 = db.CampaignPlanets.First(x => x.PlanetID == link.PlanetToUnlockID);
                var p2 = db.CampaignPlanets.First(x => x.PlanetID == link.UnlockingPlanetID);

                var x1 = p1.X * Model.MapWidth;
                var y1 = p1.Y * Model.MapHeight;
                var x2 = p2.X * Model.MapWidth;
                var y2 = p2.Y * Model.MapHeight;
          
                var width = 2;
                var color1 = p1.GetColor(Global.Account);
                var color2 = p2.GetColor(Global.Account);
                var angle = -Math.Atan2(x2 - x1, y2 - y1) / Math.PI * 180;
                var length = Math.Sqrt((x2 - x1) * (x2 - x1) + (y2 - y1) * (y2 - y1));
                @: var r = paper.rect(@x1-@width/2, @y1, @width, @length);
                @: r.attr({
                @:  "fill": "90-@color2-@color1",
                @:  "stroke": "none",
                @: });
                @: r.rotate(@angle, @x1, @y1);
            } 
		} )
	</script>
}
<br />

<h1 style="color:Red">Campaign is in alpha stage. Please report errors.</h1>
<br style="clear:both"/>
<br class="clearfloat" />

<div class="">
    <h3>@Html.ActionLink("Journal", "JournalList")</h3>
</div>
<br />

<div style="position: relative; z-index: 100" >
	<div id="linkMap" style="position: absolute; z-index: 0"> </div>
	<img src="/img/galaxies/campaign/render_@(camp.CampaignID).jpg" style="position: relative; top: 0; left: 0; z-index:-50; " width="@Model.MapWidth" height="@Model.MapHeight"/>
	

@foreach (var p in Model.CampaignPlanets)
{
	var pr = p.PlanetRectangle(Model);
	var por = p.PlanetOverlayRectangle(Model);
    AccountCampaignProgress progress = db.AccountCampaignProgress.FirstOrDefault(x => x.CampaignID == Model.CampaignID && x.PlanetID == p.PlanetID);
	<div style="position: absolute; left: @(por.Left)px; top: @(por.Top)px; width: @(por.Width)px; height: @(por.Height)px; font-size: 12px; font-weight: bold; " >
		<table style="position: absolute; border: 0; padding: 0; text-align: center; font-size: 10px; z-index: 5; line-height: .85; width:100%; height:25%;"><tr>
		<td style="vertical-align: bottom;" ><div style="display:inline-block;">
            @if((progress != null && progress.IsUnlocked) || p.StartsUnlocked) {
                <a href='@Url.Action("Planet", new { id = p.PlanetID })' nicetitle="$campaignplanet$@p.PlanetID" style="color: #ffffff; color: @p.GetColor(Global.Account)">@p.Name<br /></a>
            }
            else
            {
                <span nicetitle="$campaignplanet$@p.PlanetID" style="color: #ffffff; color: @p.GetColor(Global.Account)">@p.Name<br /></span>
            }
		</div></td></tr></table>
	</div>
}

</div>

<div>
	<span><img	src='http://3.bp.blogspot.com/_YTJBDUN8iSE/TSjDkNEwJAI/AAAAAAAAD0o/N8w-cy_J_EM/s1600/Tracy_Caldwell_Dyson_in_Cupola_ISS.jpg' width='600' /><br /> Please forgive and report issues :-)</span>
</div>