@using ZeroKWeb
@using ZkData
@model Campaign
@{
    Page.Title = "Campaign " + Model.Name + " - Journal";
    var db = new ZkDataContext();
    Campaign camp = Model;
    Dictionary<string, List<CampaignJournal>> journals = new Dictionary<string, List<CampaignJournal>>();
    foreach (var journalsByCategory in db.CampaignJournals.Where(x => x.CampaignID == Model.CampaignID).OrderBy(x => x.Title).GroupBy(x => x.Category))
    {
        if (journalsByCategory.Any(journal => journal.IsUnlocked(Global.AccountID)))
        {
            journals.Add(journalsByCategory.Key ?? "Uncategorized", journalsByCategory.ToList());
        }
    }
}
<script type="text/javascript" src='@Href("~/Scripts/jquery.expand.js")' > </script>
<script type="text/javascript">
    $(function () {
        $("h3.expand").toggler({ method: "slideToggle", speed: "fast" });
        $("h4.expand").toggler({ method: "slideToggle", speed: "fast" });
    });
</script>

<h1>
    Campaign @Model.Name
</h1>
<div class="">
@Html.BBCode(@Model.Description)
</div>
<br />
<div class="">
    @Html.ActionLink("Back to map", "Index")
</div>
<br />
<h2>Journals</h2>
@if (journals != null && journals.Count > 0)
{
    foreach (var kvp in journals)
    {
        <h3 class="expand">@kvp.Key</h3>
        <div id="@kvp.Key" class="collapse width-90">
            @foreach( CampaignJournal journal in kvp.Value.Where(j => j.IsUnlocked(Global.AccountID)))
            {
                <h4 class="expand">@journal.Title</h4>
                <div id="@journal.Title" class="collapse width-90">
                    @Html.BBCode(journal.Text)
                </div>
            }
        </div>
        <br />
    } 
}
