@using ZeroKWeb
@using ZkData
@model Campaign
@{
    Page.Title = "Campaign " + Model.Name + " - Journal";
    var db = new ZkDataContext();
    Campaign camp = Model;
    List<CampaignJournal> journals = db.CampaignJournals.Where(x => x.CampaignID == Model.CampaignID).OrderBy(x => x.Category).ThenBy(x=> x.Title).ToList();
}
<script type="text/javascript" src='@Href("~/Scripts/jquery.expand.js")' > </script>
<script type="text/javascript">
    $(function () {
        $("h3.expand").toggler({ speed: 0 });
    });
</script>

<h1>
    Campaign @Model.Name - Journal
</h1>

@Html.BBCode(@Model.Description)
<br /><br />

<h2>Journals</h2>
@if (journals != null && journals.Count > 0)
{
    foreach (var journal in journals)
    {
        if ( journal.IsUnlocked(Global.AccountID) ) 
        {
            <h3 class="expand">@journal.Title</h3>
            <div id="journals" class="collapse width-90">
                @Html.BBCode(journal.Text)
            </div>
            <br />
        }
    } 
}
