@using PlasmaShared
@using ZkData
@model ZkData.Clan
<form method="post" action="@Url.Action("SubmitCreate")" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.ClanID)
    @if (Model.ClanID > 0) {
        @Html.HiddenFor(x => x.FactionID)
    }
    <table>
        <tr>
            <td>
                Name:<br/>
                NOTE: for consistency reasons make sure it matches theme of Planetwars and the faction you choose
            </td>
            <td>
                @Html.TextBoxFor(x => x.ClanName, new { maxlength = 50 })
            </td>
        </tr>
        <tr>
            <td>
                Shortcut:
            </td>
            <td>
                @Html.TextBoxFor(x => x.Shortcut, new { maxlength = 6 })
            </td>
        </tr>
  
        @if (GlobalConst.CanChangeClanFaction || Model.ClanID == 0) {
            <tr><td>Faction:</td>
                <td>@Html.DropDownListFor(x => x.FactionID, new ZkDataContext().Factions.Where(x => !x.IsDeleted).Shuffle().Select(x => new SelectListItem { Text = x.Name, Value = x.FactionID.ToString(), Selected = x.FactionID == Model.FactionID }))  <a href='http://zero-k.info/Wiki/PlanetWarsFactions'>read more</a>
                <br />No faction? <input type="checkbox" name="noFaction"/>
                </td>
            </tr>
        }
      

        <tr>
            <td>
                Password (leave blank to allow any to join):
            </td>
            <td>@Html.TextBoxFor(x => x.Password)
            </td>
        </tr>
        <tr>
            <td>
                Image (64x64 png with transparency):<br/>
                NOTE: for consistency reasons make sure it matches color of the faction and is thematically matching (no troll face or cat if you are killer robots faction)
            </td>
            <td>
                <img src='@Model.GetImageUrl()' />
                <input type="file" name="image" />
            </td>
        </tr>
        <tr>
            <td>
                Background Image for your clan page (png with transparency):
            </td>
            <td>
                <img src='@Model.GetBGImageUrl()' width='128px' />
                <input type="file" name="bgimage" />
            </td>
        </tr>
        <tr>
            <td>
                Topic (internal info):
            </td>
            <td>
                @Html.TextAreaFor(x => x.SecretTopic, 4, 40, null)
            </td>
        </tr>
        <tr>
            <td>
                Description (public):
            </td>
            <td>
                @Html.TextAreaFor(x => x.Description, 4, 40, null)
            </td>
        </tr>
        <tr>
            <td colspan='2'><input type='submit' value="Submit"/></td>
        </tr>
    </table>
</form>