@using ZeroKWeb
@using ZeroKWeb.Models
@using ZkData
@model ZkData.Clan
@{
    Clan c = Model;
    bool isMember = c.Accounts.Any(y => y.AccountID == Global.AccountID);
    Page.Title = Model.ClanName + " - " + Model.Shortcut + " clan detail";
    string bgStyle = "";
}
@section head {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabs").tabs();
        });
    </script>
}
@Html.ActionLink("Back to clan list", "Index", "Clans")
<div id="clanBlock">
    <h2>@c.ClanName</h2>
    <table>
        <tr>
            <td style="vertical-align: top">
                <h3>@Html.PrintClan(c)</h3>
                <img  src='@c.GetImageUrl()'/><br />
                <table>
                    @foreach (Account a in c.Accounts)
                    {
                        <tr>
                            <td>
                                @Html.PrintAccount(a)
                            </td>
                            <td>
                                @if (isMember && Global.Account.HasClanRight(x => x.RightKickPeople))
                                {
                                    @:&nbsp
                        string question = String.Format("Expelling {0} will make him sad. Are you sure you want to proceed?", a.Name);
                                    @Html.ActionLink("kick", "KickPlayerFromClan", new { clanID = c.ClanID, accountID = a.AccountID }, new { @onclick = String.Format("return confirm('{0}')", question) })
                                }
                            </td>
                        </tr>
                                foreach (Planet p in a.Planets)
                                {
                        <tr>
                            <td><small>@Html.PrintPlanet(p)</small> </td>
                            <td></td>
                        </tr>
                                }
                    }
                </table>
            </td>
            <td style="vertical-align: top">
                <span style='float: right'>@Html.PrintFaction(Model.Faction)</span>
                <div style='font-size: 80%; margin: 10px;'>
                    @Html.BBCode(c.Description)
                </div>
            </td>
            <td style="vertical-align: top">
                @if (File.Exists(Server.MapPath(c.GetBGImageUrl()))) {
                    <img src="@c.GetBGImageUrl()" style="max-width: 100%" />
                }
            </td>
        </tr>
    </table>
    @if (c.CanJoin(Global.Account))
    {
        @Html.ActionLink("Join this clan", "JoinClan", new { id = c.ClanID }, new { @class = "delete" })<br />
    }
    @if (isMember && Model.Accounts.Count() <= GlobalConst.ClanLeaveLimit)
    {
        @Html.ActionLink("leave this clan", "LeaveClan", null, new { @class = "delete" })<br />
    }
    @if (isMember)
    {
        <b>Secret topic:</b>
        <br />
        @Html.BBCode(c.SecretTopic)
    }
    @if (isMember && Global.Account.HasClanRight(x => x.RightEditTexts))
    {
        //has rights
        <br />
        @Html.ActionLink("Modify clan information", "Create", new { id = c.ClanID })
    }

    <br />
    @foreach (RoleType rt in new ZkDataContext().RoleTypes.Where(x => x.IsClanOnly && (x.RestrictFactionID == null || x.RestrictFactionID == Model.FactionID)).OrderBy(x => x.DisplayOrder))
    {
        @Html.PrintRoleType(rt)
        @Html.PrintClanRoleHolders(rt, c);
    }
    <br />



</div>

<div id="tabs">
    <ul>
        <li><a href="#events"><span>Events</span></a></li>
    </ul>
    <div id="events">
        @Html.Action("Events", "Planetwars", new { clanID = c.ClanID, partial = true })
    </div>
</div>
@Html.ActionLink("Back to clan list", "Index", "Clans")
<hr />
@if (isMember)
{
    Html.RenderPartial("CommentList", new CommentList { Thread = Model.ForumThread, ActionData = new { clanID = c.ClanID, threadID = Model.ForumThreadID } });
}
