@model ZeroKWeb.Controllers.MapsController.MapDetailData
@using ZkData;
@using PlasmaShared;
@{
  var m = Model.Resource;
  var mi = Model.MapInfo;
}
@{
  Page.Title = "Zero-K map " + m.InternalName;
  var size = m.ScaledImageSize(200);
}
<script type="text/javascript">
  $(document).ready(function () {
    $("#rating").stars({
      callback: function (ui, type, value) {
        $.get('@Url.Action("Rate", new { id = m.ResourceID })?rating=' + value, function (ret) { if (ret != "") alert(ret); });
      }
    });
  });
</script>
@Html.ActionLink("Back to List", "Index")

<div class="wrapper">
  <h2>@m.InternalName</h2>
  By @m.AuthorName<br />
  <h3>
    <a href='spring://chat/battle@select_map:@m.InternalName'>PLAY THIS MAP</a></h3>
  @if (!ZeroKWeb.Global.IsLobbyAccess) {
    <small>Manual downloads:
      <br />
      @foreach (var l in m.ResourceContentFiles.Where(x => x.LinkCount > 0).Select(x => x.Links).SelectMany(x => x.Split('\n')).Shuffle()) {
        <a href='@l'>@l</a><br />
      }
    </small>
  }
  Size: @m.MapWidth x @m.MapHeight
  <br />
  @{Html.RenderPartial("MapTags", m);}
  <br />
  Downloads: @m.DownloadCount<br />
  @if (mi != null) {
@mi.Description 
<small>
  <table>
    <tr>
      <td>
        Wind:
      </td>
      <td>@mi.MinWind - @mi.MaxWind
      </td>
    </tr>
    <tr>
      <td>
        Metal:
      </td>
      <td>@mi.MaxMetal
      </td>
    </tr>
    <tr>
      <td>
        Tidal:
      </td>
      <td>@mi.TidalStrength
      </td>
    </tr>
    <tr>
      <td>
        Gravity:
      </td>
      <td>@mi.Gravity
      </td>
    </tr>
    <tr>
      <td>
        Extractor radius:
      </td>
      <td>@mi.ExtractorRadius
      </td>
    </tr>
  </table>
</small>
  }
  <table>
    <tr>
      <td>
        Rating:
      </td>
      <td>@Html.Stars(StarType.GreenStarSmall, m.MapRating)
      </td>
      <td>
        Your vote:
        <div id='rating'>
          @Html.Select("rating", new List<SelectOption>()
			                              {
			                              	new SelectOption() { Value = "1", Name = "Poor" },
			                              	new SelectOption() { Value = "2", Name = "Below average" },
			                              	new SelectOption() { Value = "3", Name = "Average" },
			                              	new SelectOption() { Value = "4", Name = "Good" },
			                              	new SelectOption() { Value = "5", Name = "Awesome" }
			                              },
                                    Model.MyRating.Rating.ToString())
        </div>
      </td>
    </tr>
  </table>
  <div style='border: 1px dashed teal'>
    Tag this map
    @if (m.TaggedByAccountID != null) {
      @: - Last tagged by @m.Account.Name
    }
    <form action="@Url.Action("Tag", new { id = m.ResourceID })" method="post">
    Sea: @Html.Select("sea", typeof(Resource.WaterLevel), m.MapWaterLevel, "?") &nbsp;&nbsp;
    Hills: @Html.Select("hills", typeof(Resource.Hill), m.MapHills, "?") &nbsp;&nbsp;
    FFA: @Html.BoolSelect("ffa", m.MapIsFfa, "?") &nbsp;&nbsp; Assymetrical: @Html.BoolSelect("assymetrical", m.MapIsAssymetrical, "?")
    &nbsp;&nbsp; <span title='Maps with special features, speedmetal, duck, greenfields etc'>
      Special: @Html.BoolSelect("special", m.MapIsSpecial, "?") &nbsp;&nbsp; </span>
    Author: @Html.TextBox("author", m.AuthorName)
    <input type="submit" value="Update" />
    </form>
  </div>
  <!-- 
  <table>
    <tr valign='top'>
      <td align="center">
        <a href='http://zero-k.info/Resources/@(m.MinimapName)'>
          <img src='http://zero-k.info/Resources/@(m.MinimapName)' style='width:@(size.Width)px; height:@(size.Height)px' class='zoom' />
        </a>
      </td>
      <td align="center">
        <a href='http://zero-k.info/Resources/@(m.HeightmapName)'>
          <img src='http://zero-k.info/Resources/@(m.HeightmapName)' style='width:@(size.Width)px; height:@(size.Height)px' class='zoom' />
        </a>
      </td>
      <td align="center">
        <a href='http://zero-k.info/Resources/@(m.MetalmapName)'>
          <img src='http://zero-k.info/Resources/@(m.MetalmapName)' style='width:@(size.Width)px; height:@(size.Height)px' class='zoom' />
        </a>
      </td>
    </tr>
  </table>
-->


<form method="post" action="@Url.Action("SubmitPost", "Forum", new { threadID = m.ForumThreadID, resourceID = m.ResourceID })">
  <textarea name="text" rows="4" cols="50"></textarea><br />
  <input type="submit" value="Submit Comment" />
</form>


@foreach (var p in Model.Posts) {
  <table>
    <tr>
      <td width='120px'>
        @Html.PrintAccount(p.Author)<br />
        @Html.AccountAvatar(p.Author)
        <br />
        <small>@p.Created.ToAgoString()</small><br />
        @Html.Stars(StarType.GreenStarSmall, p.Rating)
      </td>
      <td valign="top">
        @p.Text
      </td>
    </tr>
  </table>
}

</div>
<!needs to be outside wrapper because wrapper is relatively positioned>
<div id="maps" class="abs top left">
	<h2>Map Views:</h2>
	<a href='http://zero-k.info/Resources/@(m.MinimapName)'>
          <img src='http://zero-k.info/Resources/@(m.MinimapName)' style='width:@(size.Width)px; height:@(size.Height)px' class='zoom' />
        </a>
        <br />
        <a href='http://zero-k.info/Resources/@(m.HeightmapName)'>
          <img src='http://zero-k.info/Resources/@(m.HeightmapName)' style='width:@(size.Width)px; height:@(size.Height)px' class='zoom' />
        </a>
        <br />
         <a href='http://zero-k.info/Resources/@(m.MetalmapName)'>
          <img src='http://zero-k.info/Resources/@(m.MetalmapName)' style='width:@(size.Width)px; height:@(size.Height)px' class='zoom' />
        </a>
</div><!close maps>

@Html.ActionLink("Back to List", "Index") 
