@model IQueryable<ZkData.Resource>
@{
  Page.Title = "Zero-K maps";
}
<form action="@Url.Action("Index")" id='ajaxScrollForm' method="post">
Size:
<select name="size">
  <option>Any</option>
  <option value='1'>Small</option>
  <option value='2'>Medium</option>
  <option value='3'>Big</option>
</select>
Sea:
<select name="sea">
  <option>Any</option>
  <option value="1">Land</option>
  <option value="2">Mixed</option>
  <option value="3">Sea</option>
</select>
Hills:
<select name="hills">
  <option>Any</option>
  <option value="1">Flat</option>
  <option value="2">Hills</option>
  <option value="3">Mountains</option>
</select>
<span title='Maps suitable for Free-For-All games - multiple teams'>
FFA:
<select name="ffa">
  <option>Any</option>
  <option value='false'>Normal</option>
  <option value='true'>FFA</option>
</select>
</span>
Dimensions:
<select name="elongated">
  <option>Any</option>
  <option value='false'>Square-like</option>
  <option value='true'>Elongated</option>
</select>
Assymetrical:
<select name="assymetrical">
  <option>Any</option>
  <option value="false">Symmetrical</option>
  <option value="true">Assymetrical</option>
</select>
<span title='Maps with special features, speedmetal, duck, greenfields etc'>
Special:
  <select name="special">
    <option value="-1">Any</option>
    <option value="0" selected>Normal</option>
    <option value="1">Special</option>
  </select>
</span>
Download: <select name="isDownloadable">
    <option>Any</option>
    <option value='true' selected>Downloadable</option>
    <option value='false'>Not verified</option>
  </select>
<br />
Name or author: @Html.TextBox("search")
<input type="submit" id="submit" value="Search" />
</form>
<table width='100%'>
  <tr>
    <td>
      <div id='ajaxScrollTarget'>
        <b>Latest maps</b><br />
        @{Html.RenderPartial("MapTileList", Model);}
      </div>
    </td>
    <td width="250" valign="top" align="left">
      <h3>
        Highest rated (TODO)</h3>
      <ul>
        @foreach (var r in Model.Take(15)) {
          <li><span title='$map$@r.ResourceID'>@Html.ActionLink(r.InternalName, "Detail", new { id = r.ResourceID })</span></li>
        }
      </ul>
      <h3>
        Popular this week (TODO)</h3>
      <ul>
        @foreach (var r in Model.Take(15)) {
          <li><span title='$map$@r.ResourceID'>@Html.ActionLink(r.InternalName, "Detail", new { id = r.ResourceID })</span></li>
        }
      </ul>
      <h3>
        Most played (TODO)</h3>
      <ul>
        @foreach (var r in Model.Take(15)) {
          <li><span title='$map$@r.ResourceID'>@Html.ActionLink(r.InternalName, "Detail", new { id = r.ResourceID })</span></li>
        }
      </ul>
    </td>
  </tr>
</table>
<span style="display: none" id='ajaxScrollProgress'>Loading ... </span>