@model IQueryable<ZkData.Resource>

@{
  Page.Title = "Zero-K maps";
}


<form action="@Url.Action("Index")" id='ajaxScrollForm' method="post">
  @Html.TextBox("search")
  <input type="submit" id="submit" value="Search" />
</form>

<table width='100%'>
  <tr>
    <td>
      <div id='ajaxScrollTarget'>
        <b>Latest maps</b><br />
        @{Html.RenderPartial("MapTileList", Model);}
      </div>
    </td>
    <td width="250" valign="top" align="left">
      <h3>
        Highest rated (TODO)</h3>
      <ul>
        @foreach (var r in Model.Take(15)) {
          <li><span title='$map$@r.ResourceID'>@Html.ActionLink(r.InternalName, "Detail", new { id = r.ResourceID })</span></li>
        }
      </ul>
      <h3>
        Popular this week (TODO)</h3>
      <ul>
        @foreach (var r in Model.Take(15)) {
          <li><span title='$map$@r.ResourceID'>@Html.ActionLink(r.InternalName, "Detail", new { id = r.ResourceID })</span></li>
        }
      </ul>
      <h3>
        Most played (TODO)</h3>
      <ul>
        @foreach (var r in Model.Take(15)) {
          <li><span title='$map$@r.ResourceID'>@Html.ActionLink(r.InternalName, "Detail", new { id = r.ResourceID })</span></li>
        }
      </ul>
    </td>
  </tr>
</table>

<span style="display:none" id='ajaxScrollProgress'>Loading ... </span>
