@using ZkData
@model Poll
@{
  var p = Model;
  var maxVotes = p.PollOptions.Sum(x => x.Votes);
  if (maxVotes == 0) {
	maxVotes = 1;
  }
  
  }
@using (Ajax.BeginForm("PollVote", new { pollID = @p.PollID }, new AjaxOptions() { UpdateTargetId = "pollForm", InsertionMode = InsertionMode.Replace, HttpMethod = "post", LoadingElementId = "ajaxScrollProgress" }))
{

  <div id="pollForm">
    <h4>@p.QuestionText</h4>
	<small>
    <table>
      @foreach (var option in p.PollOptions)
      { 
        <tr>
          <td>
            <input type="submit" name="option@(option.OptionID)" value="Vote" title="$polloption$@option.OptionID" />
          </td>
          <td>
            @option.OptionText
          </td>
          <td>
            @Math.Round(100.0 * option.Votes / maxVotes)% (@option.Votes)
          </td>
          <td>
            <img src='/img/bar_blue_poll.png' alt="@option.Votes" width='@(150 * option.Votes / maxVotes)' height='10px'/>
          </td>
        </tr>
      }
      <tr><td align="center">-----</td><td align="center">(Total votes: @maxVotes)</td><td align="center">-----</td>
      </tr>
    </table>
	</small>
  </div>
  
}