 @using ZkData
@model Poll
@{
    var p = Model;
    var divID = "pollForm" + p.PollID;
  var maxVotes = p.PollOptions.Sum(x => x.Votes);
  if (maxVotes == 0) {
	maxVotes = 1;
  }
  
  }
@using (Ajax.BeginForm("PollVote", new { pollID = @p.PollID }, new AjaxOptions() { UpdateTargetId = divID, InsertionMode = InsertionMode.Replace, HttpMethod = "post", LoadingElementId = "ajaxScrollProgress" }))
{

    <div id="@divID">
        @if (Model.RoleType != null)
        {
            <h4>@(Model.RoleIsRemoval ? "Recall" : "Elect") @Html.PrintAccount(Model.AccountByRoleTargetAccountID)    
                @if (Model.Clan != null)
                {
                    @Html.PrintClan(Model.Clan)
                }
                else
                {
                    @Html.PrintFaction(Model.Faction, false)
                }
                @Html.DisplayFor(x => x.RoleType) ?<br />
                @p.QuestionText
            </h4>
        }
        else
        {
            <h4>@p.QuestionText</h4>
        }
        @if (p.IsAnonymous) {
            <span>(anonymous poll)</span>
        }
        <small>
            <table>
                @foreach (var option in p.PollOptions)
                { 
                    <tr>
                        <td>
                            <input type="submit" name="option@(option.OptionID)" value="Vote" 
                                   title="@(p.IsAnonymous? "":"$polloption$" +option.OptionID)" 
						
                                />
                        </td>
                        <td>
                            @option.OptionText
                        </td>
                        <td>
                            @Math.Round(100.0 * option.Votes / maxVotes)% (@option.Votes)
                        </td>
                        <td>
                            <img src='/img/bar_blue_poll.png' alt="@Math.Round(100.0 * option.Votes / maxVotes)%" width='@(150 * option.Votes / maxVotes)' height='10px'/>
                        </td>
                    </tr>
                }
                <tr><td align="center">-----</td><td align="center">(Total votes: @maxVotes)</td><td align="center">-----</td>
                </tr>
            </table>
        </small>
    </div>
}