@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model ZeroKWeb.Controllers.HomeController.IndexResult

@if (!Global.IsLobbyAccess)
{
    var stat = @Model.LobbyStats;
    <div class="border">
        @(stat.UsersOnline) players online: @stat.UsersFighting of them fighting in @stat.BattlesRunning battles, @stat.UsersDiscord on <a href="https://discord.gg/aab63Vt">discord</a>
    </div>
}

<div id="content" >
    <div class="module-column">
        <div id="overview" class="module">
            @if (Global.IsAccountAuthorized)
            {
                Html.RenderPartial("UserDetail", Global.Account);
            }
        </div>
        <div id="headlines" class="module">
            @foreach (var n in Model.Headlines.Take(1))
        {
            <div class="js_dialog" title="News headlines">
                <h1>@n.Title</h1>
                @if (n.ImageRelativeUrl != null)
            {
                <img src="@n.ImageRelativeUrl" style="float:left; width:800px; margin: 6px;" />
        }
                <div>@Html.BBCodeCached(n)</div>
                <small>Posted by @Html.PrintAccount(n.Account) @n.Created.ToAgoString() - @Html.ActionLink("comment", "Thread", "Forum", new { id = n.ForumThreadID }, null)</small>
            </div>
    }
        </div>
        <div id="news" class="module">
            @foreach (var n in Model.News.Take(4))
        {
            <h1>@n.Title</h1>
        if (n.ThumbRelativeUrl != null)
        {
            <a href="@n.ImageRelativeUrl"><img src="@n.ThumbRelativeUrl" style="float:left; width:120px; margin: 6px;" /></a>
    }
    <div>@Html.BBCodeCached(n)</div>
    <small>
        Posted by @Html.PrintAccount(n.Account) @n.Created.ToAgoString() - @Html.ActionLink("comment", "Thread", "Forum", new { id = n.ForumThreadID }, null)
        @if (Global.IsModerator)
    {
        <span class="admin">
            @Html.ActionLink("Edit", "Detail", "News", new { id = n.NewsID }, null)
        </span>
}
    </small>
    <br /><br />
}
            <a href="@Url.Action("Index", "News")"><img src="/img/rss.png" width="25" alt="rss" /> RSS feed</a> | <a href='/Forum?categoryID=13'>news archive</a>
            @if (Global.IsModerator)
        {
            <div class="admin">
                @Html.Partial("/Views/News/NewsDetail.cshtml", new News() { Created = DateTime.UtcNow, HeadlineUntil = DateTime.UtcNow.AddDays(7) })
            </div>
    }
        </div>
        <div id="unitoftheday" class="module">
            @if (!Global.IsAccountAuthorized && !Global.IsLobbyAccess)
        {
            <!--<a onclick="window.location='/Wiki/Download';"><span class="downloadbutton"><span class="buttonSpan"></span>Play Zero-K</span></a>-->
            <div id="unit" class="border relative text-left">
                <a href="/Wiki/Media">
                    <div class="rounded">
                        <img src="/img/landing/scorpion_small.jpg" /><br />
                        <img src="/img/landing/warlord_small.jpg" /><br />
                        <img src="/img/landing/dante_small.jpg" />
                    </div>
                </a>
            </div>
    }
    else
    {
        <div id="unit" class="border relative text-left">
            <img src="http://manual.zero-k.info/unitpics/@(Model.Spotlight.Unitname).png" width="64" height="64" class="fright" />
            <h2><a href='http://zero-k.info/mediawiki/index.php?title=Manual'>Manual:</a></h2>
            <h3>@Model.Spotlight.Name</h3>
            <p>@Model.Spotlight.Title</p>
            <p>@Model.Spotlight.Description</p>
        </div>
}
        </div>
        <div id="sociallinks" class="module">
            <center>
                <a href="http://twitter.com/ZeroKTeam"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Twitter_Logo_Mini.svg/220px-Twitter_Logo_Mini.svg.png" class="icon32" /></a>
                <a href="https://github.com/ZeroK-RTS"><img src="https://i.imgur.com/BItG041.png" class="icon32"></a>
                <a href="https://www.facebook.com/ZeroK.RTS"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg" class="icon32" /></a>
                <a href="http://steamcommunity.com/groups/0-K"><img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Steam_icon_logo.svg" class="icon32" /></a>
                <a href="@Url.Action("Index", "News")"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png" class="icon32" /></a><br />
                <a href="https://discord.gg/aab63Vt"><img src="~/Img/discord.png" alt="join discord" style="height: 40px;margin-top: 5px" /></a>
            </center>
        </div>
        <div id="forum" class="module">
            <h2><a href='@Url.Action("Index","Forum", new {OnlyUnread= true})'>Forums</a></h2>
            @foreach (var t in Model.NewThreads)
        {
            @Html.Print(t.ForumThread)<br />
    }
        </div>
        <div id="wiki" class="module">
            <h3><a href='//zero-k.info/mediawiki/index.php?title=Special:RecentChanges'>Recently on the wiki</a></h3>
            @foreach (var edit in Model.WikiRecentChanges)
        {
            @Html.PrintMediaWikiEdit(edit)<br />
    }
        </div>
        <div id="rankings" class="module">
            <h2><a href='@Url.Action("Index","Ladders")'>Top Players</a></h2>
            <table cellpadding='0' cellspacing='0'>
                <tr>
                    <th width="30" align="left">#</th>
                    <th width="200" align="left">Name</th>
                    <th>Rank</th>
                </tr>
                @{
                int rank = 0;
                foreach (var acct in Model.Top10Players)
                {

                    <tr>
                        <td>@(++rank)</td>
                        <td><small>@Html.PrintAccount(acct)</small></td>
                        <td>@(Math.Round(acct.GetRating(RatingCategory.MatchMaking).Elo))</td>
                    </tr>
            }
                }
            </table>
        </div>
    </div>

</div>
