@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model ZeroKWeb.Controllers.HomeController.IndexResult
@{
    ViewBag.NoBorder = true;
    var s = Model.Spotlight;
    var stat = @Model.LobbyStats;
}
<link href="/Styles/countDown.css" rel="stylesheet">
<script src="/Scripts/countDown.js"></script>
@if (!Global.IsAccountAuthorized)
{

    <style type="text/css">

        html {
            background: #000 url("/img/landing/tutorialBattle.jpg") no-repeat fixed 50% 50%;
            background-size: cover;
        }
    </style>
}
@if (!Global.IsLobbyAccess && GlobalConst.IsLongAfterSteam)
{
    <div class="border">
        @(stat.UsersOnline) players online: @stat.UsersFighting of them fighting in @stat.BattlesRunning battles, @stat.UsersDiscord on <a href="https://discord.gg/aab63Vt">discord</a>
    </div>
}
<div id="content" class="fleft width-70">
    <div id="features" class="border">
        @if (Global.IsAccountAuthorized)
        {

            if (!GlobalConst.IsAfterSteam)
            {
                <br/>
                <div style="text-align: center">
                    <h2>We did it!</h2>
                    <b> Zero-K coming to Steam in</b>
                </div>
                <br />
                <a href="http://store.steampowered.com/app/334920/ZeroK/">
                    <div class="container"></div>
                </a>
                <script>
                    var cd = new Countdown({
                        cont: document.querySelector('.container'),
                        endDate: @GlobalConst.SteamRelease.Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds,
                        outputTranslation: {
                            year: 'Years',
                            week: 'Weeks',
                            day: 'Days',
                            hour: 'Hours',
                            minute: 'Minutes',
                            second: 'Seconds',
                        },
                        endCallback: null,
                        outputFormat: 'day|hour|minute|second',
                    });
                    cd.start();
                </script>
                <br />
                <p style="text-align: center">Thank you all for your patience and support.<br/>
                    Special thanks go to all <a href="https://zero-k.info/mediawiki/index.php?title=Credits">developers and contributors</a> and to everyone who helped to <a href="@Url.Action("Index","Contributions")">fund the server</a>!
                </p>
                                                           
                <p style="text-align: center">Please <b>help us</b> build some hype now! <br/>
                    Tell your friends, spread the word and upon the release: <a href="http://store.steampowered.com/app/334920/ZeroK/">get Zero-K on Steam</a>, play it, write a review and be around to help fresh newbies!</p>

                <p style="text-align: center">We, the lead developers, wish you tons of fun in Zero-K, see you ingame!</p>                                                                                                                        

                <br />
            }
            Html.RenderPartial("UserDetail", Global.Account);
        }
        else
        {
            <div align="center">
                @if (GlobalConst.IsAfterSteam)
                {
                    <div class="downloadbutton" style="width:300px;">
                        <a href="/Wiki/Download" style="vertical-align:middle">
                            <span class="buttonSpan"></span>
                            Play Zero-K!
                        </a>
                    </div>
                }
                else
                {
                    <div class="downloadbuttonsteam" style="width:340px;">
                        <a href="http://store.steampowered.com/app/334920/ZeroK/" style="vertical-align:middle;color:#eee">
                            Get Zero-K on
                            <span class="steamSpan"></span>

                        </a>
                    </div>
                }
                <br />
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pHQkctGTm_A?rel=0" frameborder="0" hd="1" allowfullscreen></iframe><br />
                <br />
                @if (GlobalConst.IsAfterSteam == false)
                {
                    <div class="center bold">Zero-K will be released on Steam in</div>
                    <br />
                    <a href="http://store.steampowered.com/app/334920/ZeroK/"><div class="container"></div></a>
                    <script>
                        var cd = new Countdown({
                            cont: document.querySelector('.container'),
                            endDate: @GlobalConst.SteamRelease.Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds,
                            outputTranslation: {
                                year: 'Years',
                                week: 'Weeks',
                                day: 'Days',
                                hour: 'Hours',
                                minute: 'Minutes',
                                second: 'Seconds',
                            },
                            endCallback: null,
                            outputFormat: 'day|hour|minute|second',
                        });
                        cd.start();
                    </script>
                }
                <div id="getting-started"></div>
                <script type="text/javascript">
                    $("#getting-started").countdown("2017/01/01", function (event) { $(this).text(event.strftime('%D days %H:%M:%S')); });
                </script>
                <div align="left" class="padded">
                    <p><h3>Commander wanted!</h3> <br>Drive giant robots, build an army of a thousand Fleas, move mountains if needed, bury the enemy at all cost!</p>
                    <ul><li>Real time strategy.</li><li>Physically simulated units and projectiles.</li><li>Terrain manipulation.</li><li>100+ varied units with unique abilities.</li><li>Singleplayer campaign.</li><li>Challenging, non-cheating AI.</li><li>Multiplayer 1v1 - 16v16, FFA, coop.</li><li>Multiplayer online campaign.</li><li>Really free, no in-game currency, no unfair multiplayer.</li></ul>
                    <h3> </h3>
                    <p> </p>
                    <h3>Fully Utilized Physics</h3>
                    <p>Simulated unit and projectile physics is used to a level rarely found in a strategy game.</p>
                    <p><img class="width-100" src="/img/landing/text1.jpg"><br></p>
                    <ul><li>Use small nimble units to dodge slow moving projectiles.</li><li>Hide behind hills that block weapon fire, line of sight and radar.</li><li>Toss units across the map with gravity guns.</li><li>Transport a battleship to a hilltop - for greater views and gun range.</li></ul>
                    <h3> </h3>
                    <p> </p>
                    <h3>Manipulate the Terrain</h3>
                    <p>The terrain itself is an ever-changing part of the battlefield.</p>
                    <h3><img class="width-100" src="/img/landing/text2.jpg"></h3>
                    <ul><li>Wreck the battlefield with craters that bog down enemy tanks.</li><li>Dig canals to bring your navy inland for a submarine-in-a-desert strike.</li><li>Build ramps, bridges, entire fortress if you wish.</li><li>Burn your portrait into continental crust using the planetary energy chisel.</li></ul>
                    <h3> </h3>
                    <p> </p>
                    <h3>Singleplayer Campaign and Challenging AI</h3>
                    <p>Enjoy many hours of single player and coop fun with our campaign, wide selection of non-cheating AIs and a survival mode against an alien horde.<br></p>
                    <img class="width-100" src="/img/landing/text3.jpg" style="color: inherit;"><br>
                    <ul><li>Explore the galaxy and discover technologies in our singleplayer campaign.</li><li>Face a challenging AI that is neither brain-dead nor a clairvoyant cheater.</li><li>Have some coop fun with friends, surviving waves of chicken-monsters.</li><li>Cloaking? Resurrection? Tough choices customizing your commander.</li></ul>
                    <h3> </h3>
                    <p> </p>
                    <h3>Casual and Competitive Multiplayer</h3>
                    <p>Zero-K was built for multiplayer from the start, this is where you can end up being hooked for a decade.</p>
                    <h3><img class="width-100" src="/img/landing/text4.jpg"></h3>
                    <ul><li>Enjoying epic scale combat? Join our 16v16 team battles!</li><li>Looking for a common goal? Fight AIs or waves of chicken-monsters.</li><li>Prefer dancing on a razor's edge? Play 1v1 in ladder and tournaments.</li><li>Comebacks, betrayals, emotions always running high in FFA.</li><li>Want to fight for a bigger cause? Form a clan and join <strong>PlanetWars</strong>, competitive online campaign with web-game strategic elements, diplomacy and backstabbing.</li></ul>
                    <p> </p>
                    <p> </p>
                    <h3>Power to the People</h3>
                    <p>We are RTS players at heart, we work for nobody. We gave ourselves the tools we always wanted to have in a game.</p>
                    <p><img class="width-100" src="/img/landing/text5.jpg"><br></p>
                    <ul><li>Do what you want. No limits to camera, queue or level of control.</li><li>Paint a shape, any shape, and units will move to assume your formation.</li><li>Want to spend more time on tactics? Use construction priorities.</li><li>Want to focus on economy? Order units to kite, strafe or zig zag bullets.</li></ul>
                    <h3> </h3>
                    <p> </p>
                    <h3>Plenty of Stuff to <del>Explode</del> Explore</h3>
                    <p>Zero-K is a long term project and it shows, millions hours of proper multiplayer testing and dozens of people contributing ever expanding content.</p>
                    <p><img class="width-100" src="/img/landing/text6.jpg"><br></p>
                    <ul><li>Learn to use all of our 100+ units and play on hundreds of maps.</li><li>Invent the next mad team-tactics to shock enemies and make allies laugh.</li><li>Combine cloaking, teleports, shields, jumpjets, EMP, napalm, gravity guns, black hole launchers, mind control and self-replication.</li><li>Tiny flea swarm that clings to walls? <br>Jumping "cans" with steam-spike? <br>Buoys that hide under water to ambush ships? <br>Mechs that spew fire and enjoy being tossed from air transports? <br>Carrier with cute helicopters? <br>Jumping Jugglenaut with dual wielding gravity guns? <br>Meet them in Zero-K!<span class="author-a-z80zz84zs2z75zw0ibh5w6aod"></span></li></ul>
                </div><br />
                @if (GlobalConst.IsAfterSteam)
                {
                    <div class="downloadbutton" style="width:300px;">
                        <a href="/Wiki/Download" style="vertical-align:middle">
                            <span class="buttonSpan"></span>
                            Download
                        </a>
                    </div>
                }
                else
                {
                    <div class="downloadbuttonsteam" style="width:340px;">
                        <a href="http://store.steampowered.com/app/334920/ZeroK/" style="vertical-align:middle;color:#eee">
                            Get Zero-K on
                            <span class="steamSpan"></span>

                        </a>
                    </div>
                }
                <div>
                    <small>or just <a href="/Wiki/Media">view the media</a></small>
                </div>
            </div><br />
        }
    </div>
    @foreach (var n in Model.Headlines.Take(1))
    {
        <div class="js_dialog" title="News headlines">
            <h1>@n.Title</h1>
            @if (n.ImageRelativeUrl != null)
            {
                <img src="@n.ImageRelativeUrl" style="float:left; width:800px; margin: 6px;" />
            }
            <div>@Html.BBCodeCached(n)</div>
            <small>Posted by @Html.PrintAccount(n.Account) @n.Created.ToAgoString() - @Html.ActionLink("comment", "Thread", "Forum", new { id = n.ForumThreadID }, null)</small>
        </div>
    }
    <div id="news" class="border">
        @foreach (var n in Model.News.Take(4))
        {
            <h1>@n.Title</h1>
            if (n.ThumbRelativeUrl != null)
            {
                <a href="@n.ImageRelativeUrl"><img src="@n.ThumbRelativeUrl" style="float:left; width:120px; margin: 6px;" /></a>
            }
            <div>@Html.BBCodeCached(n)</div>
            <small>
                Posted by @Html.PrintAccount(n.Account) @n.Created.ToAgoString() - @Html.ActionLink("comment", "Thread", "Forum", new { id = n.ForumThreadID }, null)
                @if (Global.IsModerator)
                {
                    <span class="admin">
                        @Html.ActionLink("Edit", "Detail", "News", new { id = n.NewsID }, null)
                    </span>
                }
            </small>
            <br /><br />
        }
        <a href="@Url.Action("Index", "News")"><img src="/img/rss.png" width="25" alt="rss" /> RSS feed</a> | <a href='/Forum?categoryID=13'>news archive</a>
        @if (Global.IsModerator)
        {
            <div class="admin">
                @Html.Partial("/Views/News/NewsDetail.cshtml", new News() { Created = DateTime.UtcNow, HeadlineUntil = DateTime.UtcNow.AddDays(7) })
            </div>
        }
    </div>
</div>
<div id="sidebar" class="fright width-30">
    @if (!Global.IsAccountAuthorized && !Global.IsLobbyAccess)
    {
        <!--<a onclick="window.location='/Wiki/Download';"><span class="downloadbutton"><span class="buttonSpan"></span>Play Zero-K</span></a>-->
        <div id="unit" class="border relative text-left">
            <a href="/Wiki/Media">
                <div class="rounded">
                    <img src="/img/landing/scorpion_small.jpg" class="width-100" /><br />
                    <img src="/img/landing/warlord_small.jpg" class="width-100" /><br />
                    <img src="/img/landing/dante_small.jpg" class="width-100" />
                </div>
            </a>
        </div>
    }
    else
    {
        <div id="unit" class="border relative text-left">
            <img src="http://manual.zero-k.info/unitpics/@(s.Unitname).png" width="64" height="64" class="fright" />
            <h2><a href='https://zero-k.info/mediawiki/index.php?title=Manual'>Manual:</a></h2>
            <h3>@s.Name</h3>
            <p>@s.Title</p>
            <p>@s.Description</p>
        </div>
    }
    <div class="border">
        <center>
            <a href="https://twitter.com/ZeroKTeam"><img src="~/img/twitter.png" class="icon32" /></a>
            <a href="https://github.com/ZeroK-RTS"><img src="~/img/github.png" class="icon32"></a>
            <a href="https://www.facebook.com/ZeroK.RTS"><img src="~/img/facebook.svg" class="icon32" /></a>
            <a href="https://store.steampowered.com/app/334920/ZeroK/"><img src="~/img/steam.svg" class="icon32" /></a>
            <a href="@Url.Action("Index", "News")"><img src="~/img/rss_icon.png" class="icon32" /></a><br />
            <a href="https://reddit.com/r/zerok/"><img src="~/img/reddit.png" class="icon32" /></a>
            <a href="https://discord.gg/aab63Vt"><img src="~/img/discord.png" alt="join discord" style="height: 40px;margin-top: 5px" /></a>
        </center>
    </div>
    <div class="border">
        <h2><a href='@Url.Action("Index","Forum", new {OnlyUnread= true})'>Forums</a></h2>
        @foreach (var t in Model.NewThreads)
        {
            @Html.Print(t.ForumThread)<br />
        }
    </div>
    <div class="border">
        <h3><a href='//zero-k.info/mediawiki/index.php?title=Special:RecentChanges'>Recently on the wiki</a></h3>
        @foreach (var edit in Model.WikiRecentChanges)
        {
            @Html.PrintMediaWikiEdit(edit)<br />
        }
    </div>
    <div id="topten" class="border">
        <h2><a href='@Url.Action("Index","Ladders")'>Top Players</a></h2>
        <table cellpadding='0' cellspacing='0'>
            <tr>
                <th width="30" align="left">#</th>
                <th width="200" align="left">Name</th>
                <th>Rank</th>
            </tr>
            @{
                int rank = 0;
                foreach (var acct in Model.Top10Players)
                {

                    <tr>
                        <td>@(++rank)</td>
                        <td><small>@Html.PrintAccount(acct)</small></td>
                        <td>@(Math.Round(acct.GetRating(RatingCategory.Ladder).LadderElo))</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
