@using ZeroKWeb
@using ZkData
@using Ratings
@model ZeroKWeb.Controllers.HomeController.IndexResult
@{
    ViewBag.NoBorder = true;
    var s = Model.Spotlight;
    var stat = @Model.LobbyStats;
}


@if (!Global.IsLobbyAccess)
{
    <div class="border">
        @(stat.UsersOnline) players online: @stat.UsersFighting of them fighting in @stat.BattlesRunning battles, @stat.UsersDiscord on <a href="https://discord.gg/aab63Vt">discord</a>
    </div>
}

<div id="content" class="fleft width-70">
    <div id="features" class="border">
        @if (Global.IsAccountAuthorized)
        {
            Html.RenderPartial("UserDetail", Global.Account);
        }
        else
        {
            <div align="center">
                <br /><h3>Welcome to Zero-K</h3><br />
                <div align="left">Zero-K is a free, multiplatform, open-source RTS game in which massive robot armies fight in an endless conflict. A powerful interface allows players to easily implement their economic, strategic, and tactical decisions. Units interact intuitively, using real-world projectile and movement physics. It boasts over 100 diverse units including Vehicles, Tanks, Hovercraft, Planes, Gunships, Ships, Spider walkers, and dozens of other different robots offering unique strategic options and a dynamic combat style.</div><br />
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ho1K9XP9UMk?rel=0" frameborder="0" hd="1" allowfullscreen></iframe><br /><br />


                <div class="downloadbutton" style="width:300px;">
                    <a href="/Wiki/Download" style="vertical-align:middle">
                        <span class="buttonSpan"></span>
                        Play Zero-K!
                    </a>
                </div>
                <div>
                    <small>or just <a href="/Wiki/Media">view the media</a></small>
                </div>
            </div><br />
            @Html.IncludeWiki("Features")
        }
    </div>
    @foreach (var n in Model.Headlines.Take(1))
    {
        <div class="js_dialog" title="News headlines">
            <h1>@n.Title</h1>
            @if (n.ImageRelativeUrl != null)
            {
                <img src="@n.ImageRelativeUrl" style="float:left; width:800px; margin: 6px;" />
            }

            <div>@Html.BBCodeCached(n)</div>
            <small>Posted by @Html.PrintAccount(n.Account) @n.Created.ToAgoString() - @Html.ActionLink("comment", "Thread", "Forum", new { id = n.ForumThreadID }, null)</small>
        </div>
    }


    <div id="news" class="border">
        @foreach (var n in Model.News.Take(4))
        {
            <h1>@n.Title</h1>
            if (n.ThumbRelativeUrl != null)
            {
                <a href="@n.ImageRelativeUrl"><img src="@n.ThumbRelativeUrl" style="float:left; width:120px; margin: 6px;" /></a>
            }
            <div>@Html.BBCodeCached(n)</div>
            <small>
                Posted by @Html.PrintAccount(n.Account) @n.Created.ToAgoString() - @Html.ActionLink("comment", "Thread", "Forum", new { id = n.ForumThreadID }, null)
                @if (Global.IsModerator)
                {
                    <span class="admin">
                        @Html.ActionLink("Edit", "Detail", "News", new { id = n.NewsID }, null)
                    </span>
                }

            </small>
            <br /><br />
        }
        <a href="@Url.Action("Index", "News")"><img src="/img/rss.png" width="25" alt="rss" /> RSS feed</a> | <a href='/Forum?categoryID=13'>news archive</a>
        @if (Global.IsModerator)
        {
            <div class="admin">
                @Html.Partial("/Views/News/NewsDetail.cshtml", new News() { Created = DateTime.UtcNow, HeadlineUntil = DateTime.UtcNow.AddDays(7) })
            </div>
        }

    </div>
</div>
<div id="sidebar" class="fright width-30">
    @if (!Global.IsAccountAuthorized && !Global.IsLobbyAccess)
    {
        <a onclick="window.location='/Wiki/Download';"><span class="downloadbutton"><span class="buttonSpan"></span><!--<img src="/img/downloadBlue.png" alt="Download" width="45" height="45" style="vertical-align:middle;" />--> Play Zero-K</span></a>
    }


    <div id="unit" class="border relative text-left">
        <img src="http://manual.zero-k.info/unitpics/@(s.Unitname).png" width="64" height="51" class="fright" />
        <h2><a href='http://zero-k.info/mediawiki/index.php?title=Manual'>Manual:</a></h2>
        <h3>@s.Name</h3>
        <p>@s.Title</p>
        <p>@s.Description</p>
    </div>

    <div class="border">
        <h2><a href='@Url.Action("Index","Forum", new {OnlyUnread= true})'>Forums</a></h2>
        @foreach (var t in Model.NewThreads)
        {
            @Html.Print(t.ForumThread)<br />
        }
    </div>

    <div class="border">
        <h3><a href='//zero-k.info/mediawiki/index.php?title=Special:RecentChanges'>Recently on the wiki</a></h3>
        @foreach (var edit in Model.WikiRecentChanges)
        {
            @Html.PrintMediaWikiEdit(edit)<br />
        }
    </div>

    <div class="border">
        <center>
            <a href="http://twitter.com/ZeroKTeam"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Twitter_Logo_Mini.svg/220px-Twitter_Logo_Mini.svg.png" class="icon32" /></a>
            <a href="https://github.com/ZeroK-RTS"><img src="https://i.imgur.com/BItG041.png" class="icon32"></a>
            <a href="https://www.facebook.com/ZeroK.RTS"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg" class="icon32" /></a>
            <a href="http://steamcommunity.com/groups/0-K"><img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Steam_icon_logo.svg" class="icon32" /></a>
            <a href="@Url.Action("Index", "News")"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png" class="icon32" /></a><br />
            <a href="https://discord.gg/aab63Vt"><img src="~/Img/discord.png" alt="join discord" style="height: 40px;margin-top: 5px" /></a>
        </center>
    </div>


    <div id="topten" class="border">
        <h2><a href='@Url.Action("Index","Ladders")'>Top Players</a></h2>
        <table cellpadding='0' cellspacing='0'>
            <tr>
                <th width="30" align="left">#</th>
                <th width="200" align="left">Name</th>
                <th>Rank</th>
            </tr>
            @{
                int rank = 0;
                foreach (var acct in Model.Top10Players)
                {

                    <tr>
                        <td>@(++rank)</td>
                        <td><small>@Html.PrintAccount(acct)</small></td>
                        <td>@(Math.Round(acct.GetRating(RatingCategory.MatchMaking).Elo))</td>
                    </tr>
                }
            }
        </table>
    </div>

</div>
