 @using ZeroKWeb
@using ZkData
 @model ZeroKWeb.Controllers.HomeController.IndexResult
@{
    ViewBag.NoBorder = true;
  var s = Model.Spotlight;
  var stat = @Model.LobbyStats;
}

@if (!ZeroKWeb.Global.IsLobbyAccess) {
    <div class="border">
    @(stat.UsersIdle+stat.UsersWaiting+stat.UsersFighting) players in game: @stat.UsersFighting players fighting in @stat.BattlesRunning battles, @stat.UsersWaiting waiting for battle, @stat.UsersIdle idling in chat (@stat.UsersLastMonth played this month)
    </div>
}

<div id="content" class="fleft width-70">
  <div id="features" class="border">    
    @if (ZeroKWeb.Global.IsAccountAuthorized)
    {
        Html.RenderPartial("UserDetail", ZeroKWeb.Global.Account);
    }
    else
    {
        <div align="center"><br /><h3>Welcome to Zero-K</h3><br />
        <div align="left">Zero-K is a FREE, multiplatform, open-source RTS game. It aims to be dynamic, action-packed and hassle-free, full of clever strategies and constantly moving combat with games lasting an average 20-30 minutes.</div><br />
        <iframe width="560" height="315" src="http://www.youtube.com/embed/kumCaGeaA-w" frameborder="0" allowfullscreen></iframe><br /><br />
        <div class="button_2">
        <a href="/Wiki/Download" style="vertical-align:middle;"><span class="button_2text">Download now!</span></a></div>
        <div>
        <small>or just <a href="/Wiki/Media">view the media</a></small>
        </div></div><br />
		@Html.IncludeWiki("Features");
    }
  </div>
  	@foreach (var n in Model.Headlines)
   {
		<div class="dialog" title="News headlines"><h1>@n.Title</h1>
			@if (n.ImageRelativeUrl != null)
   {
				<img src="@n.ImageRelativeUrl" style="float:left; width:800px; margin: 6px;"/>
   }

			<p>@Html.BBCode(n.Text)</p>
			<small>Posted by @Html.PrintAccount(n.Account) @n.Created.ToAgoString() - @Html.ActionLink("comment", "Thread", "Forum", new { id = n.ForumThreadID }, null)</small>
		</div>
   }

  <div id="news" class="border">
    @foreach (var n in Model.News.Take(4))
    {
		<h1>@n.Title</h1>	
        if (n.ImageRelativeUrl != null)
        {
			<img src="@n.ImageRelativeUrl" style="float:left; width:120px; margin: 6px;"/>
        }
		<p>@Html.BBCode(n.Text)</p>
		<small>Posted by @Html.PrintAccount(n.Account) @n.Created.ToAgoString() - @Html.ActionLink("comment", "Thread", "Forum", new { id = n.ForumThreadID }, null)
        @if (Global.IsZeroKAdmin)
        {
            <span class="admin">
                @Html.ActionLink("Edit", "Detail", "News", new { id = n.NewsID }, null)
            </span>
        }
        
        </small>
		<br /><br />
    }
	<a href="@Url.Action("Index", "News")"><img src="/img/rss.png" width="25" alt="rss" /> RSS feed</a> | <a href='/Forum?categoryID=13'>news archive</a> 
	@if (Global.IsZeroKAdmin)
 {
		<div class="admin">
            @Html.Partial("/Views/News/NewsDetail.cshtml", new News() { Created = DateTime.UtcNow, HeadlineUntil = DateTime.UtcNow.AddDays(7) })
		</div>
 }

  </div>
</div>
<div id="sidebar" class="fright width-30">
  @if (!ZeroKWeb.Global.IsAccountAuthorized && !Global.IsLobbyAccess)
  {
       <!--center><a class ="downloadbutton" href="http://zero-k.info/Wiki/Download" alt="Download" title="Download now Zero-K's latest version for free"></a></center-->
	  <a onclick="window.location='http://zero-k.info/Wiki/Download';"><span class="downloadbutton"><span class="buttonSpan"></span><!--<img src="/img/downloadBlue.png" alt="Download" width="45" height="45" style="vertical-align:middle;" />--> Download</span></a>
  }

  @if (ZeroKWeb.Global.IsAccountAuthorized)
  {
      <div class="border">
      <h3>Tools</h3>
      @if (Global.IsLobbyAccess)
      {
          Html.RenderPartial("GoogleSiteSearch");
          <p><a href="http://zero-k.info/tools/mailer/sendMail.php"><img src="http://zero-k.info/tools/mailer/mailer_s.png" alt="sendmail" /> Invite your friends now!</a></p>  
      }
      else
      {
          <p><a href="http://zero-k.info/tools/mailer/sendMail.php" target="_blank"><img src="http://zero-k.info/tools/mailer/mailer_s.png" alt="sendmail" /> Invite your friends now!</a></p>
      }
        @if (Global.Account.Country == "de" || Global.Account.Country == "at" || Global.Account.Country == "ch")
        {
      <p><a href="http://zero-k.info/Forum?categoryID=12" title="German Forum"><img src="/img/flags/de.png" alt="Germany" /> Deutschsprachiges Forum</a></p>}
      <p><a href="http://zero-k.info/Wiki/Manual"><img src="http://zero-k.info/img/manual.png" alt="manual" width="24" height="24" /> The Zero-K manual</a></p>
      </div>
  }

  <div id="unit" class="border relative text-left">
    <img src="/img/unitpics/@(s.Unitname).png" width="64" height="51" class="fright" />
    <h2><a href='/Wiki/Manual'>Manual:</a></h2>
    <h3>@s.Name</h3>
    <p>@s.Title</p>
    <p>@s.Description</p>
  </div>

@if (Global.IsAccountAuthorized)
{
    <div class="border">
        <h3>Advertisement</h3>
        <script type="text/javascript"><!--
      google_ad_client = "ca-pub-9694351454481658";
      /* SquareRight */
      google_ad_slot = "7687840537";
      google_ad_width = 250;
      google_ad_height = 250;
//-->
</script>
        <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
    </div>
}

  <div class="border">
  <h2><a href='/Forum'>Forums</a></h2>
  @foreach (var t in Model.NewThreads)
  {
      var link = Html.ActionLink(t.ForumThread.Title, "Thread", "Forum", new { id = t.ForumThread.ForumThreadID }, new { title = "$thread$" + t.ForumThread.ForumThreadID });
      if (t.WasWritten)
      {
			<span><img src="../../img/mail/mail-new.png" height="15" title="new message" /> <b>@link</b></span><br />
      }
      else if (t.WasRead)
      { 
			<span><img src="../../img/mail/mail-read.png" height="15" title="already read" /> <i>@link</i></span><br />
      }
      else
      { 
			<span><img src="../../img/mail/mail-unread.png" height="15" title="not read" /> @link</span><br />
      }
  }
  </div>

  <div id="topten" class="border">
    <h2><a href='/Ladders'>Top Players</a></h2>
    <table cellpadding='0' cellspacing='0'>
      <tr>
        <th width="30" align="left">#</th>
        <th width="200" align="left">Name</th>
        <th>ELO</th>
      </tr>
      @{var cnt = 1;}
      @foreach (var a in Model.Top10Players)
      {
        <tr>
        <td>@(cnt++)</td>
        <td><small>@Html.PrintAccount(a)</small></td>
        <td>@Math.Round(a.EffectiveElo)</td>
        </tr>      
      }
    </table>
  </div>

  <div class="border">
    <h2><a href='http://code.google.com/p/zero-k/'>Help us</a></h2>
    @Html.IncludeWiki("LookingFor")
  </div>
  
  <div class="border">
    <h2><a href="http://www.facebook.com/ZeroK.RTS" target="_blank">Social Media</a></h2>
<br />
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FZeroK.RTS&amp;width=290&amp;colorscheme=dark&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=400" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:405px;" allowTransparency="true"></iframe>
    <div class="g-plus" data-href="https://plus.google.com/101714190573821742332" data-size="badge"></div>
		
		<a href="http://twitter.com/ZeroKTeam" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF">Follow @@ZeroKTeam</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<a href="@Url.Action("Index", "News")" target="_blank"><img src="/img/rss.png" width="15" alt="rss" /> RSS news feed</a><br />
<a href="http://steamcommunity.com/groups/0-K" alt="Visit us on Steam" target="_blank"><img src="../../Img/steam_20p.png" height="20" width="20" alt="Steam" /> Visit us on Steam</a><br />

  </div>  

  <div class="border">
    <h2>Links</h2>
    @Html.IncludeWiki("Links")
  </div>
  
</div>
