 @using ZeroKWeb
 @model ZeroKWeb.Controllers.HomeController.IndexResult
@{
  var s = Model.Spotlight;
  var stat = @Model.LobbyStats;
}
@if (!ZeroKWeb.Global.IsLobbyAccess) {
    @(stat.UsersIdle+stat.UsersWaiting+stat.UsersFighting) @:players in game: @stat.UsersFighting players fighting in @stat.BattlesRunning battles, @stat.UsersWaiting waiting for battle, @stat.UsersIdle idling in chat
}
  @if (!Global.IsLobbyAccess)
  {
    <span class="fright">@Html.ActionLink("Switch Skin", "SwitchSkin")</span>
  }
  else
  {
      Html.RenderPartial("GoogleSiteSearch");
  }
</div> <!hack to prevent renderbody from surrounding *everything*>

<div id="content" class="fleft width-70">
  <div id="features" class="border textwall">
    
    @if (ZeroKWeb.Global.IsAccountAuthorized)
    {
        Html.RenderPartial("UserDetail", ZeroKWeb.Global.Account);
    }
    else
    {
      @Html.IncludeWiki("Features")
    }
  </div>
  <div id="news" class="border">
    @Html.IncludeWiki("News")
  </div>
</div>
<div id="sidebar" class="fright width-30">
  @if (!ZeroKWeb.Global.IsAccountAuthorized && !Global.IsLobbyAccess)
  {
      <div class="border">
      <h3>Download</h3>
      <p align="left">Download now Zero-K's latest version for free:</p><div>Version: <b style="color:#00CCFF;">0.8.8.1</b></div><br />
      <a href="http://zero-k.info/Wiki/Download">
      <img src="http://zero-k.info/img/dl_button2.png" alt="download" width="250" />
      </a></div>
  }


  @if (ZeroKWeb.Global.IsAccountAuthorized)
  {
      if (Global.IsLobbyAccess)
      {
          <p><a href="http://zero-k.info/tools/mailer/sendMail.php"><img src="http://zero-k.info/tools/mailer/mailer_s.png" alt="sendmail" /> Invite your friends now!</a></p>  
      }
      else
      {
          <div class="border"><a href="http://zero-k.info/tools/mailer/sendMail.php" target="_blank"><img src="http://zero-k.info/tools/mailer/mailer_s.png" alt="sendmail" /> Invite your friends now!</a></div>
      }
  }

  <div id="unit" class="border relative text-left">
    <h2>
      <a href='/Wiki/Manual'>Manual: </a>
    </h2>
    <h3>@s.Name</h3>
    <img src="/img/unitpics/@(s.Unitname).png" width="64" height="51" class="fright"/>
    <p>@s.Title</p>
    <p>@s.Description</p>
  </div>
  <!close unit>

  <div class="border">
  <h2><a href='/Forum'>Forums</a></h2>
  @foreach (var t in Model.NewThreads)
  {
      var link = Html.ActionLink(t.ForumThread.Title, "Thread", "Forum", new { id = t.ForumThread.ForumThreadID }, new { title = "$thread$" + t.ForumThread.ForumThreadID });
      if (t.WasWritten)
      {
      <b><img src="../../Img/bullet.png" alt="bullet" /> @link</b><br />
      }
      else if (t.WasRead)
      { 
     <i><img src="../../Img/bullet.png" alt="bullet" /> @link</i><br />
      }
      else
      { 
     <span><img src="../../Img/bullet.png" alt="bullet" /> @link</span><br />
      }
  }

  </div>

  <div id="topten" class="border">
    <h2><a href='/Ladders'>Top Players</a></h2>
    <table cellpadding='0' cellspacing='0'>

      <tr>
        <th width="30" align="left">
          #
        </th>
        <th width="200" align="left">
          Name
        </th>
        <th>
          ELO
        </th>
      </tr>

      @{var cnt = 1;}
      @foreach (var a in Model.Top10Players)
      {
        <tr>
        <td>@(cnt++)</td>
        <td><small>@Html.PrintAccount(a)</small></td>
        <td>@Math.Round(a.Elo)</td>
        </tr>      
      }
    </table>
  </div>
  <div class="border">
    <h2><a href='http://code.google.com/p/zero-k/'>Help us</a></h2>
    @Html.IncludeWiki("LookingFor")
  </div>
  
  <div class="border">
    <h2><a href="http://www.facebook.com/ZeroK.RTS">Social Media</a></h2>
    <br />
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FZeroK.RTS&amp;width=236&amp;colorscheme=dark&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=435" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:236px; height:435px;" allowTransparency="true"></iframe>
  </div>  

  <div class="border">
    <h2>Links</h2>
    @Html.IncludeWiki("Links")
  </div>
  
</div>
