 @using ZeroKWeb
 @model ZeroKWeb.Controllers.HomeController.IndexResult
@{
    ViewBag.NoBorder = true;
  var s = Model.Spotlight;
  var stat = @Model.LobbyStats;
}

@if (!ZeroKWeb.Global.IsLobbyAccess) {
    <div class="border">
    @(stat.UsersIdle+stat.UsersWaiting+stat.UsersFighting) players in game: @stat.UsersFighting players fighting in @stat.BattlesRunning battles, @stat.UsersWaiting waiting for battle, @stat.UsersIdle idling in chat (@stat.UsersLastMonth played this month)
        @if (!Global.IsLobbyAccess)
        {
            <span class="fright">@Html.ActionLink("Switch Skin", "SwitchSkin")</span>
        }
    </div>
}

<div id="content" class="fleft width-70">
  <div id="features" class="border">    
    @if (ZeroKWeb.Global.IsAccountAuthorized)
    {
        Html.RenderPartial("UserDetail", ZeroKWeb.Global.Account);
    }
    else
    {
		@Html.IncludeWiki("Features");
    }
  </div>
  <div id="news" class="border">
    @Html.IncludeWiki("News")
  </div>
</div>
<div id="sidebar" class="fright width-30">
  @if (!ZeroKWeb.Global.IsAccountAuthorized && !Global.IsLobbyAccess)
  {
      <center><a href="http://zero-k.info/Wiki/Download">
      <img src="http://zero-k.info/img/download.png" alt="Download now Zero-K's latest version for free Version: 0.8.8.1" width="95%" />
      </a></center>
  }

  @if (ZeroKWeb.Global.IsAccountAuthorized)
  {
      <div class="border">
      <h3>Tools</h3>
      @if (Global.IsLobbyAccess)
      {
              Html.RenderPartial("GoogleSiteSearch");
          <p><a href="http://zero-k.info/tools/mailer/sendMail.php"><img src="http://zero-k.info/tools/mailer/mailer_s.png" alt="sendmail" /> Invite your friends now!</a></p>  
      }
      else
      {
          <p><a href="http://zero-k.info/tools/mailer/sendMail.php" target="_blank"><img src="http://zero-k.info/tools/mailer/mailer_s.png" alt="sendmail" /> Invite your friends now!</a></p>
      }

      <p><a href="http://zero-k.info/Wiki/Manual"><img src="http://zero-k.info/img/manual.png" alt="manual" width="24" height="24" /> The Zero-K manual</a></p>
      </div>
  }

  <div id="unit" class="border relative text-left">
    <img src="/img/unitpics/@(s.Unitname).png" width="64" height="51" class="fright" />
    <h2><a href='/Wiki/Manual'>Manual:</a></h2>
    <h3>@s.Name</h3>
    <p>@s.Title</p>
    <p>@s.Description</p>
  </div>

  <div class="border">
  <h2><a href='/Forum'>Forums</a></h2>
  <ul class="forumtab">
  @foreach (var t in Model.NewThreads)
  {
      var link = Html.ActionLink(t.ForumThread.Title, "Thread", "Forum", new { id = t.ForumThread.ForumThreadID }, new { title = "$thread$" + t.ForumThread.ForumThreadID });
      if (t.WasWritten)
      {
      <li><b>@link</b></li>
      }
      else if (t.WasRead)
      { 
     <li><i>@link</i></li>
      }
      else
      { 
     <li>@link</li>
      }
  }
  </ul>
  </div>

  <div id="topten" class="border">
    <h2><a href='/Ladders'>Top Players</a></h2>
    <table cellpadding='0' cellspacing='0'>
      <tr>
        <th width="30" align="left">#</th>
        <th width="200" align="left">Name</th>
        <th>ELO</th>
      </tr>
      @{var cnt = 1;}
      @foreach (var a in Model.Top10Players)
      {
        <tr>
        <td>@(cnt++)</td>
        <td><small>@Html.PrintAccount(a)</small></td>
        <td>@Math.Round(a.Elo)</td>
        </tr>      
      }
    </table>
  </div>

  <div class="border">
    <h2><a href='http://code.google.com/p/zero-k/'>Help us</a></h2>
    @Html.IncludeWiki("LookingFor")
  </div>
  
  <div class="border">
    <h2><a href="http://www.facebook.com/ZeroK.RTS">Social Media</a></h2>
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FZeroK.RTS&amp;width=290&amp;colorscheme=dark&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=400" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:405px;" allowTransparency="true"></iframe>
  </div>  

  <div class="border">
    <h2>Links</h2>
    @Html.IncludeWiki("Links")
  </div>
  
</div>
