@using ZkData
@using ZeroKWeb
@model CampaignPlanet
@{
    var colorStyle = "color:" + Model.GetColor(Global.Account) + ";";
    var db = new ZkDataContext();
    Resource map = db.Resources.FirstOrDefault(m => m.InternalName == Model.Mission.Map);
}
<b style="@(colorStyle)">
    @Model.Name
</b>
<br />
@if (Model.IsUnlocked(Global.AccountID))
{
    @("Mission: " + Model.Mission.Name)
    <br />
    if (Model.DescriptionStory != null)
    {
        <small>
        @Html.BBCode(Model.DescriptionStory)
        </small>
    }
    <br />
}
<table><tr>
<td>@Html.Partial("PlanetIconCampaign", Model)</td>
<td>
@Html.Partial("MapInfoBox", map)
</td>
</tr></table>
<small>
@Html.BBCode(Model.Description)
</small>
