@using ZkData
@using ZeroKWeb
@model CampaignPlanet
@{
    var colorStyle = "";
    var db = new ZkDataContext();
    Resource map = db.Resources.FirstOrDefault(m => m.InternalName == Model.Mission.Map);
}
<b style="@(colorStyle)">
    @Model.Name
</b>
<table><tr>
<td>@Html.Partial("PlanetIcon", Model)</td>
<td>
@Html.Partial("MapInfoBox", map)
</td>
</tr></table>
<small>
@Html.Partial("PlanetSummary", Model)
</small>
