@using ZkData
@using ZeroKWeb
@model Planet
<b>@Model.Name</b>
<table><tr>
<td>@Html.Partial("PlanetIcon", Model)</td>
<td>
@Html.Partial("MapInfoBox",Model.Resource)
</td>
</tr></table>
<small>
@Html.Partial("PlanetSummary", Model)

@Html.Partial("PlanetDropships", Model)
@Html.Partial("InfluenceListShort", Model.PlanetFactions)
</small>
