@model ZkData.Unlock
@using ZkData
@{
  Layout = null;
  var u = Model;
}

<span>
<h3>@u.Name</h3>
<img src='@u.ImageUrl' alt='@u.Name'/><br/>
Type: <span style='color:@u.LabelColor;'>@u.UnlockType</span><br/>
Level: @u.NeededLevel<br/>
Points: @u.XpCost<br/>
@if (u.ParentUnlock != null) {
  @:Required unit: <img src='@u.ParentUnlock.ImageUrl' height='20' width='20'/> @u.ParentUnlock.Name<br/>
}

@if (!string.IsNullOrEmpty(u.LimitForChassis)) {
  @:For chassis: 
  var db = new ZkDataContext();
  foreach (var code in u.LimitForChassis.Split(',')) {
    var req = db.Unlocks.SingleOrDefault(y => y.Code == code);
    if (req != null) {
      <img src='@req.ImageUrl'/>
    }
  }
  <br />
}

@if (u.MetalCost.HasValue) {
  @:Metal cost: @Html.PrintMetal(u.MetalCost)<br/>
}

@if (u.MetalCostMorph2.HasValue) {
  @:Morph 2 cost: @Html.PrintMetal(u.MetalCostMorph2)<br/>
}

@if (u.MetalCostMorph3.HasValue) {
  @:Morph 3 cost: @Html.PrintMetal(u.MetalCostMorph3)<br/>
}

@if (u.MetalCostMorph4.HasValue) {
  @:Morph 4 cost: @Html.PrintMetal(u.MetalCostMorph4)<br/>
}

@if (u.MetalCostMorph5.HasValue) {
  @:Morph 5 cost: @Html.PrintMetal(u.MetalCostMorph5)<br/>
}

    @if (u.MorphLevel > 0) {
  @:Commander morph: @u.MorphLevel<br/>
}

@if (u.MaxModuleCount != null && (u.UnlockType == UnlockTypes.Module || u.UnlockType == UnlockTypes.Weapon)) {
  @:Max purchases: @u.MaxModuleCount<br/>
}

<small>@Html.BBCode(u.Description)</small>

</span>
