@using ZeroKWeb
@model ZkData.Account
@{
    var u = Model;
}
<span style="float:left;">@Html.AccountAvatar(u)</span><b>@Html.PrintAccount(u)</b><br/>
<b>First Login:</b> @u.FirstLogin.ToAgoString(), <b>Last Login:</b> @u.LastLogin.ToAgoString()<br />
@if (Global.IsZeroKAdmin) {
    <div class="admin">
        <b>Elo (all): </b> @Math.Round(@u.EffectiveElo)
        <b>Elo (1v1): </b> @Math.Round(@u.Effective1v1Elo)
    </div>
}
@if (Model.ContributionsByAccountID.Count() > 0)
{
    @Html.PrintContributorStar(u, true); <br />
}
<b>Level:</b> @u.Level<br/>
<br/>
@foreach (var entry in Model.AccountRolesByAccountID) {
    <span>
        @Html.PrintRoleType(entry.RoleType) of @(entry.RoleType.IsClanOnly ? Html.PrintClan(entry.Clan) : Html.PrintFaction(entry.Faction,false))
    </span><br/>
}<br/>
@if (Model.IsZeroKAdmin)
 {
			<span>
				<b> @Model.Name </b> is a <b>Zero-K Administrator</b><br/>
			</span>
 }



<div id="usr_trophies" class="">
    <h3>Trophies:</h3>
    @foreach (var award in Model.AccountBattleAwards.GroupBy(x => x.AwardKey).OrderByDescending(x => x.Count()))
    {
        <div class="fleft border" style="margin: 3px;">
            <img src="/img/Awards/trophy_@(award.Key).png" height="30" alt="@award.Key" title="@award.First().AwardDescription.Split(',').First()"/>
            <br />
            <center>@award.Count()</center>
        </div>
    }
    <br class="clearfloat" />
</div><br />
