@model ZeroKWeb.Controllers.MyController.UnlockListResult
@{Page.Title = "Technology unlocks";}
<center><h2>Owned technologies</h2></center>
@{Html.RenderPartial("UnlockedTechnologies", Model.Account.AccountUnlocks.ToList().OrderBy(x => x.Unlock.UnlockType).ThenBy(x => x.Unlock.Name));}

<div class="border" style="position: fixed; bottom: 10%; left: 40%; z-index: 100; border: #fff;" title="Want more points? <br /> First you have to reach the next level before you'll receive new points. <br /> Gain XP just by playing the game, win or lose!">
	<h3>You have <span style="color: red; font-size: 130%;"> @Model.Account.AvailableXP </span> points available</h3>
</div>

@*<a href="@Url.Action("Reset")">Reset list (debug)</a>*@
<div>
<center><h2>Available technologies</h2></center>
@foreach (var unlock in Model.Unlocks)
{
	<div class="border fleft" style="width: 46%; min-height: 100px;">
		<img src="@unlock.ImageUrl" alt="unlocks" title="$unlock$@unlock.UnlockID" style="float:left; padding: 5px;"/>
		<span style="color: @unlock.LabelColor; font-weight:bold">@unlock.Name</span>
		Level: @unlock.NeededLevel, 
        @if (unlock.IsKudosOnly != true) {
            @:XP: @unlock.XpCost
        }
        @if (unlock.KudosCost != null) {
            @:<span style='color:#FFFF88;'>Kudos: @unlock.KudosCost</span>
        }
		<br />
		@Html.BBCode(unlock.Description)
		<br />
        @if (unlock.IsKudosOnly != true) {
            <a href="@Url.Action("Unlock", "My", new { id = unlock.UnlockID })" class="clearfloat">Unlock</a>
        }
        @if (unlock.KudosCost != null) {
            <a href="@Url.Action("Unlock", "My", new { id = unlock.UnlockID, useKudos = true })" class="clearfloat">Unlock (kudos)</a>
        }
		
	</div>
}
<br class="clearfloat" />
</div>

<div>
<center><h2>Unavailable technologies</h2></center>
@foreach (var unlock in Model.FutureUnlocks)
{
	<div class="border fleft" style="width:200px; height:90px; border: 1px solid #a00;">
		<img src="@unlock.ImageUrl" alt="unlocks"  title="$unlock$@unlock.UnlockID" class="fleft" />
		<span style="color: @unlock.LabelColor;">@unlock.Name</span><br />
		Level: @unlock.NeededLevel
        @if (unlock.IsKudosOnly != true) {
            @:,<br /> XP: @unlock.XpCost
        }
        @if (unlock.KudosCost != null) {
            @:,<br /> <span style='color:#FFFF88;'>Kudos: @unlock.KudosCost</span>
        }
		@if (unlock.ParentUnlock != null)
        {
			@:,<br /> need: <span title='$unlock$@unlock.RequiredUnlockID'><img src="@unlock.ParentUnlock.ImageUrl" height="20"width="20" class="vcenter" /></span>
		}
	</div>
}
<br class="clearfloat" />
</div>