@model System.Collections.Generic.IEnumerable<ZkData.Account>

@{
    Page.Title = "User duplicates";
}

<h2>Duplicate users</h2>
@Html.ActionLink("Automatically resolve","AutoResolveDuplicates")
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Elo</th>
            <th>First login</th>
            <th>Last login</th>
            <th>Lobby ID</th>
            <th>Alias</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var a in Model)
    {
        <tr>
            <td>@Html.PrintAccount(a)</td>
            <td>@a.Level</td>
            <td>@a.Effective1v1Elo</td>
            <td>@a.FirstLogin</td>
            <td>@a.LastLogin</td>
            <td>@a.LobbyID</td>
            <td>@a.Aliases</td>
        </tr>
    }
    </tbody>
</table>


