@using ZeroKWeb
@using ZkData
@model ZkData.Account

@{
    int index = 0;
}

@foreach (var entry in Model.AccountRolesByAccountID.OrderBy(x=>x.RoleType.DisplayOrder)) {
    if (entry.RoleType.IsClanOnly || MiscVar.PlanetWarsMode != PlanetWarsModes.AllOffline)
    {
        <span>
        @Html.PrintRoleType(entry.RoleType) of @(entry.RoleType.IsClanOnly ? Html.PrintClan(entry.Clan) : Html.PrintFaction(entry.Faction, false))
    </span>
        @Html.DisplayFor(x => entry)
        <br/>
    }
}
@if ((Model.FactionID != null && Model.FactionID == Global.FactionID && !Model.Faction.IsDeleted) || (Model.ClanID !=null && Model.ClanID == Global.ClanID))
{
    foreach (var grp in new ZkDataContext().RoleTypes.Where(x => ((!x.IsClanOnly && Global.FactionID != 0 && (x.RestrictFactionID == null || x.RestrictFactionID == Global.FactionID)) || (x.IsClanOnly && Global.ClanID != 0)) && !x.AccountRoles.Any(y=>y.AccountID == Model.AccountID)).GroupBy(x => x.IsClanOnly)) {
        
        if (!grp.Key && MiscVar.PlanetWarsMode != PlanetWarsModes.AllOffline)
        {
            <span>Possible faction roles: </span>
        }
        else if(grp.Key) {
            <span>Possible clan roles: </span>
        }
        <small>
            @if (grp.Key || MiscVar.PlanetWarsMode != PlanetWarsModes.AllOffline)
            {
                foreach (var role in grp)
                 {
                     @Html.PrintRoleType(role)

                     if (role.IsVoteable && Global.AccountID == Model.AccountID && Global.Account.Level >= GlobalConst.MinLevelForForumVote)
                     {
                         <a href="@Url.Action("NominateRole", "Poll", new { roleTypeID = role.RoleTypeID })" onclick="var text = prompt('What is your slogan?', 'vote me!'); if (text != null) $(this).attr('href', $(this).attr('href') + '&text=' + text); ">(nominate)</a>
                     }
                     if (Global.Account.CanAppoint(Model, role))
                     {
                         <a href="@Url.Action("AppointRole", "Planetwars", new { accountID = Model.AccountID, roleTypeID = role.RoleTypeID })">(appoint)</a>
                     }
                     index++;
                     if (index < grp.ToList().Count)
                     {
                         <span>,&nbsp;</span>
                     }
                 }
            }
        </small><br/>
    }
}