@using ZeroKWeb
@using ZkData
@model ZeroKWeb.Controllers.ForumController.IndexResult
@{
    Page.Title = "Forum " + string.Join(" > ", Model.Path.Select(x => x.Title));

    var grid = new UniGrid<ForumThread>(Model.Threads, "Threads in " + Model.CurrentCategory?.Title);
    grid.AddCol("", StickyMark).SetSort(x => x.IsPinned).SetWidth("25px");
    grid.AddCol("Title", x => Html.Print(x)).SetSort(x => x.Title);
    if (Model.CurrentCategory?.IsWiki == true)
    {
        grid.AddCol("Wiki", x => x.WikiKey).SetSort(x => x.WikiKey).SetWidth("150px");
    }
    grid.AddCol("Author", x => Html.PrintAccount(x.AccountByCreatedAccountID)).SetSort(x => x.AccountByCreatedAccountID.Name).SetWidth("200px");
    grid.AddCol("Posts", x => x.PostCount).SetSort(x => x.PostCount).SetWidth("70px");
    grid.AddCol("Views", x => x.ViewCount).SetSort(x => x.ViewCount).SetWidth("70px");
    grid.AddCol("Last", x => x.LastPost.ToAgoString()).SetWidth("150px").SetSort(x => x.LastPost);
}

@helper StickyMark(ForumThread t) {
    if (t.IsLocked && t.IsPinned)
    {
        <img src="~/img/stickylock.png" width="25"/>
    } else if (t.IsLocked)
    {
        <img src="~/img/lock.png" width="25"/>
    } else if (t.IsPinned)
    {
        <img src="~/img/sticky.png" width="25"/>
    }
}

<div id="page">
    @using (Ajax.BeginForm("Index", Global.GetAjaxOptions("page")))
    {
        @Html.HiddenFor(x=>x.CategoryID)
        @Html.Partial("ForumPath", Model.Path)

        <span>
            @foreach (var cat in Model.Categories)
            {
                <span>
                    <b>@Html.ActionLink(cat.Title, "Index", new { categoryID = cat.ForumCategoryID })</b>
                    &nbsp; &nbsp;
                </span>
            }
        </span>

        <table>
            <tr>
                <td style="vertical-align: middle">
                    <table>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </td>

                <td style="vertical-align: top">

                    <div>
                        Filter: @Html.EditorFor(x=>x.Search)
                        <label>
                            @Html.EditorFor(x => x.OnlyMy) <span>my</span>
                        </label>
                        <button type="submit">Search</button>
                    </div>

                    <span id="@(grid.PagerPrefixID)">
                    </span>



                    <span id="@grid.PagerSuffixID">
                        @if (Model.CurrentCategory != null && !Model.CurrentCategory.IsLocked)
                        {
                            <span class="textbutton">
                                @Html.ActionLink("Post new topic", "NewPost", new { categoryID = Model.CurrentCategory?.ForumCategoryID })
                            </span>
                        }

                        @if (Global.Account != null && Model.Threads.Any())
                        {
                            <span class="textbutton" style="float: right">@Html.ActionLink("Mark all as read", "MarkAllAsRead", new { categoryID = Model.CurrentCategory?.ForumCategoryID })</span>
                        }
                    </span>


                    @if (Model.Threads.Any())
                    {
                        <div>
                            @GridHelpers.RenderTable(Html, grid)
                        </div>
                    }
                </td>
            </tr>
        </table>
    }
</div>