@model ZeroKWeb.Controllers.ForumController.IndexResult
@{
	Page.Title = "Forum " + string.Join(" > ", Model.Path.Select(x=>x.Title));
}

@{Html.RenderPartial
("ForumPath", Model.Path);}

@if (Model.Categories.Any()) {
	// forum index
	<table>
	<tr><td>Forum</td><td>Threads</td></tr>
		@foreach (var cat in Model.Categories) {
			<tr>
				<td><h3>@Html.ActionLink(cat.Title, "Index", new { categoryID = cat.ForumCategoryID })</h3></td>
				<td>@cat.ForumThreads.Count()</td>
			</tr>
		}
	</table>
}

@if (Model.CurrentCategory != null && !Model.CurrentCategory.IsLocked) {
	<h3 class="textbutton">@Html.ActionLink("Post new topic", "NewPost", new {categoryID= Model.CurrentCategory.ForumCategoryID})</h3><br />
}

@if (Model.Threads.Any())
{
	var tog = true;
	<table border="0" cellspacing="0" width="100%" >
	<tr class="forum_row toggleFalse" >
		<td title="status">S</td>
		<td>Thread</td>
		<td>Author</td>
		<td>Posts</td>
		<td>Views</td>
		<td>Last post</td>
	</tr>
		@foreach (var t in Model.Threads) {
			<tr class="forum_row toggle@(tog)">
				<td>
					@if (t.IsLocked && t.IsPinned)
					{
						<img src="../../img/stickylock.png" width="25" />
					}
					else if (t.IsLocked)
					{
						<img src="../../img/lock.png" width="25" />
					}
					else if (t.IsPinned)
					{
						<img src="../../img/sticky.png" width="25" />
					}
					else
					{
						//should change based on any changes since last read
						<img src="../../img/mail/mail-read.png" width="25" />
					}
				</td>
				<td>@Html.ActionLink(t.Title, "Thread", new { id = t.ForumThreadID }, new {title="$thread$" + t.ForumThreadID})</td>
				<td>@Html.PrintAccount(t.AccountByCreatedAccountID)</td>
				<td>@t.PostCount</td>
				<td>@t.ViewCount</td>
				<td>@t.LastPost.ToAgoString() <br /> @Html.PrintAccount(t.AccountByLastPostAccountID)</td>
			</tr>
			tog = !tog;
		}
	</table>
}
