@using ZkData
@model ZeroKWeb.Controllers.ForumController.NewPostResult
@{
    Page.Title = "New post";
}

@{ Html.RenderPartial("ForumPath", Model.Path); }

@if (Model.CurrentThread != null)
{
    <h1>@(!string.IsNullOrEmpty(Model.CurrentThread.WikiKey) ? "[" + Model.CurrentThread.WikiKey + "]" : "") @Model.CurrentThread.Title</h1>
} else
{
    <h3>Post new topic</h3>
}

<form method="post" action="@Url.Action("SubmitPost", "Forum", new { threadID = Model.CurrentThread != null ? (int?)Model.CurrentThread.ForumThreadID : null, categoryID = Model.CurrentCategory.ForumCategoryID, forumPostID = Model.EditedPost != null ? (int?)Model.EditedPost.ForumPostID : null })">
    <table>
        @if (Model.CanSetTopic)
        {
            <tr>
                <td>Title:</td><td>
                    <input type="text" name="title" style="width:300px" value="@(Model.EditedPost != null ? Model.EditedPost.ForumThread.Title : null)"/>
                </td>
            </tr>
        }
        @if (Model.CurrentCategory.ForumMode == ForumMode.Wiki)
        {
            <tr>
                <td>Wiki Key:</td><td>
                    <input type="text" name="wikiKey" style="width:150px" value="@(Model.EditedPost != null ? Model.EditedPost.ForumThread.WikiKey : null)"/>
                </td>
            </tr>
        }
    </table>
    <textarea name="text" style="height: 50vh; width: 100%;">@(Model.EditedPost != null ? Model.EditedPost.Text : null)</textarea><br/>
    <input class="textbutton" type="submit" value="Submit Post"/>
</form>

@if (Model.LastPosts != null && Model.CurrentThread != null)
{
    @Html.Action("GetPostList", new { threadID = Model.CurrentThread.ForumThreadID })
}