@using ZeroKWeb

@model IEnumerable<ZkData.ForumPost>

@{
    var penalty = ZkData.Punishment.GetActivePunishment(Global.AccountID, "", 0, x=>x.BanForum);
    var netVotes = (Global.Account != null ? Global.Account.ForumTotalUpvotes - Global.Account.ForumTotalDownvotes : 0);
}
<script type="text/javascript" src='@Href("~/Scripts/jquery.expand.js")' > </script>
<script type="text/javascript">
    $(function () {
        $("small.expand").toggler({ speed: 0 });
    });
</script>

@foreach (var p in Model)
{
    <table width='100%'>
        <tr class="forumRow">
            <td width='250px' class="forumPostHead" valign="top" >
                <table>
                    <tr>
                        <td>@Html.AccountAvatar(p.Account)
                        </td>
                        <td valign='top'>
                            @Html.PrintAccount(p.Account)<br />
                            <small>@p.Created.ToAgoString()
                                @if (p.ForumPostEdits.Any())
                                {
                                    var lastEdit = p.ForumPostEdits.OrderByDescending(x => x.EditTime).First();
                                    <br/>
                                    <a href="@Url.Action("EditHistory", "Forum", new { forumPostID = p.ForumPostID })">(edited @lastEdit.EditTime.ToAgoString())</a>
                                }
                            </small>
							<br />
                            @if (Global.IsZeroKAdmin || Global.AccountID == p.AuthorAccountID)
                            {
                                <a nicetitle='Edit the post' href='@Url.Action("NewPost", "Forum", new { threadID = p.ForumThreadID, forumPostID = p.ForumPostID })'><img src="/img/edit_pencil.png" height="22"/></a>
                            }
                            @if (Global.IsZeroKAdmin)
                            {
                                <a nicetitle='Delete the post' href='@Url.Action("DeletePost", "Forum", new { postID = p.ForumPostID })' class='delete'><img src="/img/delete_trashcan.png" height="22"/></a>
                            }
                            @{
                                string linkString = "?postID=" + p.ForumPostID;
                                int page = ZeroKWeb.Controllers.ForumController.GetPostIndexInThread(p.ForumPostID);
                                if (page > 0)
                                {
                                    linkString = linkString + "&page=" + page;
                                }
                            }
                            <a nicetitle='Link to this post' href="@linkString"><img src="/img/link.png" height="22"/></a>
                            @if (p.Account.ContributionsByAccountID.Count() > 0)
                            {
                                <br />
                                 @Html.PrintContributorStar(p.Account) <br />
                            }
                        </td>
                    </tr>

                </table>
            </td>
            <td valign="top" class="forumPostText">
                <a name="post@(p.ForumPostID)" id="post@(p.ForumPostID)"></a>
                @if (p.Upvotes - p.Downvotes <= ZkData.GlobalConst.PostVoteHideThreshold)
                {
                    <small class="expand">post score below threshold</small>    //FIXME: figure out a way to color it grey
                    <div class="collapse width-90">
                        @Html.BBCode(p.Text)
                    </div>
                }
                else
                {
                    @Html.BBCode(p.Text)
                }
                @{
                var divID = "ForumPostVoteForm" + p.ForumPostID;
                }
                <br />
                <div id="@divID" style="float:right">
                	@Html.PrintPostRating(p, penalty != null || netVotes <= ZkData.GlobalConst.MinNetKarmaToVote)
                </div>
            </td>
        </tr>
    </table>
}
