@using ZeroKWeb
@using ZeroKWeb.Controllers
@using ZkData
@model ZeroKWeb.Controllers.ForumController.PostListModel
@{
    var grid = new UniGrid<ForumPost>(Model.Data) { PageSize = GlobalConst.ForumPostsPerPage };
    grid.AddCol("sort", x => Html.DisplayFor(m => x)).SetSort(x => x.ForumPostID).SetWidth("100%");
    if (Model.GoToPost != 0)
    {
        grid.PageNumber = 1 + ForumController.GetPostPage(Model.Thread.ForumPosts.First(x => x.ForumPostID == Model.GoToPost));
    }
}
<div id="gposts">
    @if (!Model.Thread.IsLocked && Model.Thread.ForumCategory.ForumMode != ForumMode.Maps && Model.Thread.ForumCategory.ForumMode != ForumMode.Missions && Model.Thread.ForumCategory.ForumMode != ForumMode.SpringBattles && Model.Thread.ForumCategory.ForumMode != ForumMode.Clans && Model.Thread.ForumCategory.ForumMode != ForumMode.Planets)
    {
        <span class="textbutton" id="@grid.PagerPrefixID">
            @Html.ActionLink("Post comment", "NewPost", new { threadID = Model.ThreadID })
        </span>
    }


    @using (Ajax.BeginForm("GetPostList", "Forum", new { threadID = Model.ThreadID }, Global.GetAjaxOptions("gposts")))
    {
        <span>
            Filter: @Html.TextBoxFor(x => x.Search)&nbsp;&nbsp;
            Player: @Html.TextBoxFor(x => x.User, new { data_autocomplete = Url.Action("Users", "Autocomplete", new { threadID = Model.ThreadID }), data_autocomplete_action = "submit" })&nbsp;
            <input type="submit" value="Search" />
        </span>
        @GridHelpers.RenderTable(grid, "")
        ;
    }

    @if (Model.GoToPost > 0)
    {
        <script language="javascript" type="text/javascript">
            $(document).ready(function() {
                document.getElementById("post@(Model.GoToPost)").scrollIntoView();
            });
        </script>
    }
</div>