@using ZeroKWeb
@model ZeroKWeb.Controllers.ForumController.ThreadResult

@{
    var penalty = ZkData.Punishment.GetActivePunishment(Global.AccountID, "", 0, x=>x.BanForum);
}

@{
    Page.Title = Model.CurrentThread.Title + " - forum thread";
}
@if (Model.GoToPost > 0)
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            document.getElementById("post@(Model.GoToPost)").scrollIntoView();
        });
    </script>
}
@{Html.RenderPartial("ForumPath", Model.Path);}

<h3>@Html.ActionLink(HttpContext.Current.Server.HtmlEncode(Model.CurrentThread.Title), "Thread", new { id = Model.CurrentThread.ForumThreadID })</h3>

@if (!Model.CurrentThread.IsLocked)
{   
    <br />
    if(penalty != null)
    {
        <h3 class="textbutton" nicetitle="@string.Format("Forum ban\nExpires: {0} UTC\nReason: {1}", penalty.BanExpires, penalty.Reason)" style="color: #666666">Post comment</h3>
    }
    else
    {
        <h3 class="textbutton">@Html.ActionLink("Post comment", "NewPost", new { threadID = Model.CurrentThread.ForumThreadID })</h3>
    }
    <br />
}
@if (Global.IsZeroKAdmin)
{
    var db = new ZkData.ZkDataContext();
    <div class="admin">
        <form action="@Url.Action("AdminThread", new { threadID = Model.CurrentThread.ForumThreadID })" method="post">
            <select name="newcat">
                @foreach (var c in db.ForumCategories.Where(x => !x.IsClans && !x.IsMaps && !x.IsMissions && !x.IsPlanets && !x.IsSpringBattles))
                {
                    <option value="@c.ForumCategoryID" @(c.ForumCategoryID == Model.CurrentThread.ForumCategoryID ? "selected='selected'":"")>@c.Title</option>
                }
            </select>
            Pinned: @Html.CheckBox("isPinned", Model.CurrentThread.IsPinned)<br/>
            Locked: @Html.CheckBox("isLocked", Model.CurrentThread.IsLocked)<br/>

            <input type="submit" value="move" />
        </form>
    </div>
}
@Html.Partial("~/Views/Forum/ThreadPaginator.cshtml", Model)
<div style="float:right">@string.Format("{0} posts, {1} views", Model.CurrentThread.PostCount, Model.CurrentThread.ViewCount)</div>
@Html.Partial("~/Views/Forum/PostList.cshtml", Model.Posts)
@Html.Partial("~/Views/Forum/ThreadPaginator.cshtml", Model)
@if (!Model.CurrentThread.IsLocked)
{   
    <br />
    if(penalty != null)
    {
        <h3 class="textbutton" nicetitle="@string.Format("Forum ban\nExpires: {0} UTC\nReason: {1}", penalty.BanExpires, penalty.Reason)" style="color: #666666">Post comment</h3>
    }
    else
    {
        <h3 class="textbutton">@Html.ActionLink("Post comment", "NewPost", new { threadID = Model.CurrentThread.ForumThreadID })</h3>
    }
    <br />
}
