@using ZeroKWeb
@using ZkData
@model ZkData.Faction
@{
    Faction f = Model;
}
@Html.Partial("~/Views/Factions/FactionBox.cshtml",f)
<br/>
<table>
    <tr>
        <td>Metal:</td><td>@f.Metal</td>
    </tr>    
    <tr>
        <td>Dropships:</td><td>@f.Dropships</td>
    </tr>    
    <tr>
        <td>Bombers:</td><td>@f.Bombers</td>
    </tr>    

</table>

<br/>
@foreach (var rt in new ZkDataContext().RoleTypes.Where(x=>!x.IsClanOnly && (x.RestrictFactionID == null || x.RestrictFactionID == f.FactionID)).OrderBy(x=>x.DisplayOrder)) {
    @Html.PrintRoleType(rt)
    foreach (var acc in rt.AccountRoles.Where(x=>x.AccountByAccountID.FactionID == f.FactionID)) {
        @Html.PrintAccount(acc.AccountByAccountID)
        <span>, &nbsp;</span>
    }
    <br/>
}