@using ZeroKWeb
@using ZkData
@model ZkData.Faction
@{
    Faction f = Model;
}
<div style="color: @f.Color">
    <a href="@Url.Action("Detail", "Factions", new { id = f.FactionID })" nicetitle="$faction$@f.FactionID">
        <img src='@f.GetImageUrl()' style='float: left'/></a>
    <a href="@Url.Action("Detail", "Factions", new { id = f.FactionID })" nicetitle="$faction$@f.FactionID">
        <span style="font-size: 120%; color:@f.Color;">@f.Name</span></a>
    @if (Global.Account != null) {
        if (Global.Account.FactionID == null) {
            @Html.ActionLink("Join!", "JoinFaction", "Factions", new { id = f.FactionID }, null)
        }
        else if (Global.Account.FactionID == f.FactionID) {
            @Html.ActionLink("Leave", "LeaveFaction", "Factions", null, new { @class = "delete" })
        }
    }
    <table>
        <tr>
            <td>Planets:</td>
            <td>@f.Planets.Count()</td>
        </tr>
        <tr>
            <td>Commanders:</td>
            <td>@f.Accounts.Count()</td>
        </tr>
    </table>
</div>