@using ZeroKWeb
@using ZkData
@model ZkData.Faction
@{
    Faction f = Model;
}
@Html.Partial("~/Views/Factions/FactionBox.cshtml",f)
<br/>
<table>
    <tr>
        <td>Metal:</td><td>@Html.PrintMetal(f.Metal)</td>
    </tr>    
    <tr>
        <td>Dropships:</td><td>@Html.PrintDropships(f.Dropships, f)</td>
    </tr>    
    <tr>
        <td>Bombers:</td><td>@Html.PrintBombers(f.Bombers)</td>
    </tr>    
    <tr><td>Warp cores:</td><td>@Html.PrintWarps(f.Warps)</td></tr>
    <tr><td>Energy produced:</td><td style="color:lightgreen">+@Html.PrintEnergy(f.EnergyProducedLastTurn)</td></tr>
    <tr><td>Energy demand:</td><td style="color:red">-@Html.PrintEnergy(f.EnergyDemandLastTurn)</td></tr>
    <tr><td>Infrastructure: </td><td>@Html.PrintMetal(f.Planets.SelectMany(x=>x.PlanetStructures).Where(x=>x.StructureType.IsBuildable).Sum(x=>x.StructureType.Cost))</td></tr>
</table>

<br/>
@foreach (var rt in new ZkDataContext().RoleTypes.Where(x=>!x.IsClanOnly && (x.RestrictFactionID == null || x.RestrictFactionID == f.FactionID)).OrderBy(x=>x.DisplayOrder)) {
    @Html.PrintRoleType(rt)
    foreach (var acc in rt.AccountRoles.Where(x=>x.AccountByAccountID.FactionID == f.FactionID)) {
        @Html.PrintAccount(acc.AccountByAccountID)
        <span>, &nbsp;</span>
    }
    <br/>
}