@using ZeroKWeb
@using ZkData
@model ZeroKWeb.Controllers.LobbyController.ChatHistoryModel

@{
    Page.Title = "Lobby chat history";
    var grid = new UniGrid<LobbyChatHistory>(Model.Data, "History of #" + Model.Channel);
    grid.AddCol("Target", TargetCol).SetSort(x => x.Target).SetWidth("50px");
    grid.AddCol("Time", x => Html.PrintDate(x.Time)).SetSort(x => x.Time).SetWidth("120px");
    grid.AddCol("User", UserCol).SetSort(x => x.User).SetWidth("200px");
    grid.AddCol("Text", TxtCol).SetSort(x=>x.Text);
}

@helper TxtCol(LobbyChatHistory x) {
    if (x.IsEmote)
    {
        <span style="color: violet">@x.Text</span>
    } else
    {
        <span>@x.Text</span>
    }
}

@helper TargetCol(LobbyChatHistory x) {
    if (x.Target != null)
    {
        <span>@x.Target</span>
    } else {
        <span>--</span>
    }
}

@helper UserCol(LobbyChatHistory x) {
var acc = Account.AccountByName(new ZkDataContext(), x.User);
    if (acc != null)
    {
        @Html.PrintAccount(acc)
    } else
    {
        <span>@x.User</span>
    }
}

<div id="grid">
    <h1>@Page.Title</h1>

    @using (Ajax.BeginForm("ChatHistory", Global.GetAjaxOptions("grid")))
    {
        <table>
            <tr>
                <td>Place</td>
                <td>@Html.EnumDropDownListFor(x=>x.Place)</td>
            </tr>
            <tr>
                <td>Channel</td>
                <td>@Html.TextBoxFor(x => x.Channel)</td>
            </tr>
            <tr><td>User</td><td>@Html.TextBoxFor(x => x.User, new { data_autocomplete = Url.Action("Users", "Autocomplete"), data_autocomplete_action = "submit" })</td></tr>
            <tr><td>Time</td><td>@Html.TextBoxFor(x => x.TimeFrom, new { @class = "js_datepicker" }) - @Html.TextBoxFor(x => x.TimeTo, new { @class = "js_datepicker" })</td></tr>
            <tr><td>Text</td><td>@Html.EditorFor(x=>x.Text)</td></tr>
        </table>
        <input type="submit" />


        @GridHelpers.RenderTable(grid)
    }
</div>
