@using ZkData
@using System.Globalization
@model ZeroKWeb.Controllers.ChartsController.ChartsModel

@{
    Page.Title = "Rating charts";
}
<script src="/Scripts/moment.min.js"></script>
<script src="/Scripts/Chart.min.js"></script>

<div class="content">
    <div class="fleft width-100" style="padding: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
        <h1>Zero-K Player Rating History</h1> <br />
        <form action="@Url.Action("Ratings")">
            <table class="inputTable">
                <tr>
                    <td>Rating:</td>
                    <td>@Html.EnumDropDownListFor(x => x.RatingCategory, new { @class = "width-100" })</td>
                </tr>
                <tr>
                    <td>Players: </td>
                    <td>
                        @using (var db = new ZkDataContext())
                        {@Html.MultiSelectFor(x => x.UserId, Url.Action("UsersNoLink", "Autocomplete"), x => Html.PrintAccount(db.Accounts.Find(x)));
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div id="players">
                    </div>
                </td>
            </tr>
            <tr><td>From</td><td>@Html.TextBoxFor(x => x.From, new { @class = "js_datepicker" })</td></tr>
            <tr><td>To</td><td>@Html.TextBoxFor(x => x.To, new { @class = "js_datepicker" })</td></tr>
            <tr><td colspan="2"><input class="textbutton width-100" type="submit" value="Plot graph" /></td></tr>
        </table>
    </form>
    @{
        if (Model.GraphingData != null && Model.GraphingData.Count > 0)
        {
            <canvas id="graphID" class="width-100"></canvas>
            <script language="javascript">

                var ctx = document.getElementById('graphID').getContext('2d');
                Chart.defaults.global.defaultFontColor = '#ddd';
                Chart.defaults.global.defaultColor = 'rgba(255, 255, 255, 0.1)';
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        //labels: [@Html.Raw(string.Join(",", Model.GraphingData[0].Data.Select(x => "\"" + x.Day.ToString("yyyy-MM-dd") + "\"").ToList()))],
                        datasets: [
                            @{int index = 0;}
                            @foreach (var series in Model.GraphingData)
                            {
                                @:{
                                @:label: "@series.Title",
                                @:backgroundColor: '#@Model.Colors[(index) % Model.Colors.Length]',
                                @:borderColor: '#@Model.Colors[(index++) % Model.Colors.Length]',
                                @:fill: false,
                                @:data: [@Html.Raw(string.Join(",", series.Data.Select(x => "{x: moment(\"" + x.Day.ToString("yyyy-MM-dd") + "\"), y: "+ x.Value.ToString(CultureInfo.InvariantCulture) + "}").ToList()))],
                                @:},
                            }
                        ]
                    },

                    // Configuration options go here
                    options: {
                        scales: {
                            yAxes: [{
                                gridLines: {
                                    color: 'rgba(255, 255, 255, 0.2)',
                                    zeroLineColor: 'rgba(255, 255, 255, 0.5)',
                                },
                            }],
                            xAxes: [{
                                type: "time",
                                gridLines: {
                                    color: 'rgba(255, 255, 255, 0.2)',
                                    zeroLineColor: 'rgba(255, 255, 255, 0.2)',
                                }
                            }],
                        },
                        responsive: true,
                    },

                });
            </script>
        }
    }
    <br />
    <h2>Current player ratings</h2>
    <br />
    @foreach (var player in Model.UserStats)
    {
        <ul><li><b>@Html.PrintAccount(player.Account)</b></li></ul>
        foreach (var rank in player.RankStats)
        {
            <b>@rank.System</b><br />

            <table>
                <tr>
                    <td>Current rating: </td>
                    <td>@rank.CurrentRating.RealElo ± @rank.CurrentRating.EloStdev (&omega;<sup>2</sup> = @rank.CurrentRating.NaturalRatingVariancePerDay)</td>
                </tr>
                <tr>
                    <td>Ladder rating: </td>
                    <td>@rank.CurrentRating.LadderElo</td>
                </tr>
                <tr>
                    <td>Ladder position: </td>
                    <td>@(rank.CurrentRating.Ranked == false ? "Unranked" : string.Format("{0}. Top {1}%", rank.CurrentRating.Rank, Math.Round(rank.CurrentRating.Percentile * 1000) / 10f))</td>
                </tr>
                <tr>
                    <td>Next rank bracket: </td>
                    <td>@(rank.Bracket.UpperEloLimit)</td>
                </tr>
                <tr>
                    <td>Previous rank bracket: </td>
                    <td>@(rank.Bracket.LowerEloLimit)</td>
                </tr>
            </table>
            <br />
        }
    }
    <br />
    @Html.IncludeWiki("Ratings")

</div>
<br class="clearfloat" />
</div>