@using ZeroKWeb
<!DOCTYPE html>
<html>
<head>
  <title>Zero-K</title>
  <link rel="Stylesheet" href='@Href("~/Styles/style.css")' type="text/css" />
  <script type="text/javascript" src='@Href("~/Scripts/MicrosoftAjax.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/MicrosoftMvcAjax.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/jquery-1.4.2.min.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/jquery-ui-1.8.6.custom.min.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/nicetitle.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/jquery.ui.stars.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/site.js")' ></script>
</head>
<body style="margin:20px">

  <div>
    @RenderBody()
  </div>
  <br />

  @if (!Global.IsLobbyAccess) {
    <small>View this site with the <a href='http://zero-k.info/lobby/setup.exe'>Zero-K
     lobby</a> to play missions</small>
  }
    
  @if (!(Global.IsAccountAuthorized)) {
    <form method="post" action="@Url.Action("Logon", "Home")" >
      Name: <input type="text" name="login" /> &nbsp;&nbsp; 
      Password: <input type="password" name="password" /> &nbsp;&nbsp;
      <input type="submit" value="Login" />
      <input type="hidden" name="referer" value="@Request.Url" />
    </form>
  }

</body>
</html>
