@using ZeroKWeb
<!DOCTYPE html>
<html>
<head>
  <title>Zero-K</title>
  <link rel="Stylesheet" href='@Href("~/Styles/style.css")' type="text/css" />
  <script type="text/javascript" src='@Href("~/Scripts/MicrosoftAjax.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/MicrosoftMvcAjax.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/jquery-1.4.2.min.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/jquery-ui-1.8.6.custom.min.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/nicetitle.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/jquery.ui.stars.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/site.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/base.js")' ></script>
  <script type="text/javascript" src='@Href("~/Scripts/browser-css.js")' ></script>
</head>
@if (!Global.IsLobbyAccess) {
@Html.IncludeFile("inc_plainbg.inc")
}
<body class="">
  @if (!Global.IsLobbyAccess) {
    <div class="wrapper">
      @Html.IncludeFile("inc_header.inc"); @Html.IncludeFile("inc_menu.inc");
      <div class="border">
        @RenderBody()
      </div>
      @Html.IncludeFile("inc_footer.inc");
      <div class="border">
        <!login> <small>You need Zero-K installed to use all site features</small>
        @if (!(Global.IsAccountAuthorized)) {
          <form method="post" action="@Url.Action("Logon", "Home")" >
          Name:
          <input type="text" name="login" />
          &nbsp;&nbsp; Password:
          <input type="password" name="password" />
          &nbsp;&nbsp;
          <input type="submit" value="Login" />
          <input type="hidden" name="referer" value="@Request.Url" />
          </form>
        }
      </div>
      <!close login>
    </div>
  <!close wrapper>
  } else {
    <div style="margin:10px;">
      @RenderBody()
    </div>
  }
</body>
</html>
