@using ZeroKWeb
@using ZkData
@model ZkData.ForumPost
@{
    var p = Model;
    var linkURL = Url.Action("Post", "Forum", new { id = p.ForumPostID }) + "#" + p.ForumPostID;
    var isWikiMain = Model.ForumThread.ForumCategory.ForumMode == ForumMode.Wiki && Model.ForumThread.ForumPosts.OrderBy(x => x.ForumPostID).First().ForumPostID == Model.ForumPostID;
}

@if (isWikiMain)
{
    <table width="100%">
        <tr class="forumRow">
            <td class="forumPostText">
                @Html.BBCodeCached(p)
                <br/>
                
                <a class="textbutton" href='@Url.Action("NewPost", "Forum", new { threadID = p.ForumThreadID, forumPostID = p.ForumPostID })'>
                    Edit <img src="/img/edit_pencil.png" class="icon16"/>
                </a>

                <div id="@("ForumPostVoteForm" + p.ForumPostID)" style="float: right">
                    @Html.PrintPostRating(p)
                </div>


            @foreach (var contrib in Model.ForumPostEdits.GroupBy(x => x.Account))
            {
                var count = contrib.Count();
                var first = contrib.Min(x => x.EditTime);
                var last = contrib.Max(x=>x.EditTime);
                <table style="clear:both">
                    <tr>
                        <td>
                            @Html.AccountAvatar(contrib.Key)
                        </td>
                        <td valign='top'>
                            @Html.PrintAccount(contrib.Key)<br />
                            <small>
                                Edits: @count<br/>
                                First: <span nicetitle="@first">@first.ToAgoString()</span><br/>
                                Last: <span nicetitle="@last">@last.ToAgoString()</span>
                            </small>
                        </td>
                    </tr>

                </table>

                }
            </td>
        </tr>
    </table>
} else
{
    <table width='100%'>
        <tr class="forumRow">
            <td class="forumPostHead" valign="top">
                <table>
                    <tr>
                        <td>
                            @Html.AccountAvatar(p.Account)
                        </td>
                        <td valign='top'>
                            @Html.PrintAccount(p.Account)<br/>
                            <small>
                                <span nicetitle="@p.Created">@p.Created.ToAgoString()</span>
                                @if (p.ForumPostEdits.Any())
                                {
                                    var lastEdit = p.ForumPostEdits.OrderByDescending(x => x.EditTime).First();
                                    <br/>
                                    <a nicetitle="@lastEdit.EditTime" href="@Url.Action("EditHistory", "Forum", new { forumPostID = p.ForumPostID })">
                                        (edited @lastEdit.EditTime.ToAgoString())
                                    </a>
                                }
                            </small>
                            <br/>
                            @if (Model.CanEdit(Global.Account))
                            {
                                <a nicetitle='Edit the post' href='@Url.Action("NewPost", "Forum", new { threadID = p.ForumThreadID, forumPostID = p.ForumPostID })'>
                                    <img src="/img/edit_pencil.png" height="22"/>
                                </a>
                            }
                            @if (Global.IsZeroKAdmin)
                            {
                                <a nicetitle='Delete the post' href='@Url.Action("DeletePost", "Forum", new { postID = p.ForumPostID })' class='delete'>
                                    <img src="/img/delete_trashcan.png" height="22"/>
                                </a>
                            }
                            <a nicetitle='Link to this post' href="@linkURL">
                                <img src="/img/link.png" height="22"/>
                            </a>
                            @if (p.Account.Kudos > 0)
                            {
                                <br/>
                                @Html.PrintContributorStar(p.Account)
                                <br/>
                            }
                        </td>
                    </tr>

                </table>
            </td>
            <td valign="top" class="forumPostText" id="@p.ForumPostID">
                <a name="post@(p.ForumPostID)" id="post@(p.ForumPostID)"></a>
                @if (p.Upvotes - p.Downvotes <= GlobalConst.PostVoteHideThreshold)
                {
                    <small class="js_expand" style="color: gray">post score below threshold</small>
                    <div class="collapse width-90">
                        @Html.BBCodeCached(p)
                    </div>
                } else
                {
                    @Html.BBCodeCached(p)
                }

                <br/>
                <div id="@("ForumPostVoteForm" + p.ForumPostID)" style="float: right">
                    @Html.PrintPostRating(p)
                </div>
            </td>
        </tr>
    </table>
}