@using ZeroKWeb
@model ZkData.Punishment
@{
    var p = Model;
    TimeSpan timeRemaining = (TimeSpan)(Model.BanExpires - DateTime.UtcNow);
    int daysRemain = (int)timeRemaining.TotalDays;
    int hoursRemain = Math.Abs(timeRemaining.Hours);
}
<div>
    <h3>PENALTY: @p.Reason</h3>
    Issued on: @p.Time (@p.Time.ToAgoString())<br />
    Issued by: @Html.PrintAccount(p.AccountByCreatedAccountID)<br />
    @if (p.DeleteInfluence)
    {
        <span>PlanetWars influence deleted</span><br />
    }
    @if (p.DeleteXP)
    {
        <span>XP deleted</span><br />
    }
    @if (p.BanCommanders)
    {
        <span>Commanders blocked</span><br />
    }
    @if (p.BanUnlocks)
    {
        <span>Unlocks blocked</span><br />
    }
    @if (p.BanMute)
    {
        <span>Muted</span><br />
    }
    @if (p.BanSite)
    {
        <span>Site blocked</span><br />
    }
    @if (p.BanForum)
    {
        <span>Forum blocked</span><br />
    }    
    @if (p.BanLobby)
    {
        <span>Lobby blocked</span><br />
    }
    @if (p.SegregateHost)
    {
        <span>Segregated to troll host</span><br />
    }
    @if (p.SetRightsToZero)
    {
        <span>Springie rights removed</span><br />
    }
    @if (Global.IsZeroKAdmin || Global.IsLobbyAdmin)
    {
        <span>IP block: @p.BanIP</span><br />
        <span>UserID block: @p.UserID</span><br />
    }
    Expires on: @p.BanExpires
    @if (!p.IsExpired && timeRemaining < TimeSpan.FromDays(7))
    {
        <span> (@(daysRemain)d @(hoursRemain)h remaining)</span>
    }
    <br/>
    @if (Global.IsZeroKAdmin || Global.IsLobbyAdmin) {
        <div class="admin">
            @Html.ActionLink("remove ban", "RemovePunishment","Users", new {punishmentID = p.PunishmentID}, new {@class="delete"})
        </div>
    }
</div>

