@model ZeroKWeb.Controllers.MissionDetailData
@using PlasmaShared
@using ZeroKWeb
<script type="text/javascript" src='@Href("~/Scripts/jquery.expand.js")' > </script>
<script type="text/javascript">
$(function() {
    $("h3.expand").toggler({ speed: 0}); 
});
</script>

@{
  var m = Model.Mission;
  Page.Title = m.Name + " mission";
}
@Html.ActionLink("Back to List", "Index")
<div class="wrapper">
  <div class="border-test width-50">
    <!info>
    <h2>@m.Name</h2>
    By @Html.PrintAccount(m.Account)
    @if (m.MinHumans < 2) {
      <br />
        <br />
      <a href="@Html.PrintSpringLink((m.IsScriptMission ? "@start_script_mission:" : "@start_mission:") + m.NameWithVersion)">
        <img src="../../img/playnow.png" width="250" /></a>
    }
    <br />
    @if (!m.IsScriptMission) {
    <a href="@Html.PrintSpringLink("@host_mission:" + m.NameWithVersion)">
        <img src="../../img/hostmulti.png" width="300" /></a><br />
      <br />
    }
    @if (!Global.IsLobbyAccess && !m.IsScriptMission) {
      <div class="border-test">
        If you don't have Zero-K lobby, send a message to springie like
        so:
        <pre>/msg Springiee !spawn mod=@m.NameWithVersion</pre>
        Then in the battle lobby:
        <pre>
!balance
!start
        </pre>
        Alternative manual download: <a href='@Url.Action("File", "Missions", new { name = m.MissionID })'>@m.SanitizedFileName</a>
        and <a href='@Url.Action("Script", "Missions", new { id = m.MissionID })'>script.txt</a>
      </div>
      @*<!close zk warning>*@
			<br />
    }
    <span class="">@Html.BBCode(Model.Mission.Description)
      <br />
      <br />
      Players: @m.MinToMaxHumansString<br />
      <small>@Html.PrintLines(m.GetPseudoTags())</small> Map: @Html.PrintMap(m.Map)<br />
      Game:@(m.Mod ?? m.ModRapidTag)<br />
      Created:@m.CreatedTime.ToAgoString()<br />
      @if (m.Revision > 0) {
        @:Changed: @m.ModifiedTime.ToAgoString() 			
        @:(revision @m.Revision)<br />
			}
      Played: @m.MissionRunCount times<br />
      Rated: @m.Ratings.Count times
      <br />
    </span>
  </div>
  <!close info> <!code for votes>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#rating").stars({
        callback: function (ui, type, value) {
          $.get('@Url.Action("Rate", "Missions", new { id = m.MissionID })?rating=' + value, function (ret) { if (ret != "") alert(ret); });
        }
      });

      $("#difficulty").stars({
        callback: function (ui, type, value) {
          $.get('@Url.Action("Rate", "Missions", new { id = m.MissionID })?difficulty=' + value, function (ret) { if (ret != "") alert(ret); });
        }
      });

    });
  </script>
  <div id="votes" class="border-test">
    <!votes>
    <table>
      <tr>
        <td>
          Rating:
        </td>
        <td width='80px'>@Html.Stars(StarType.GreenStarSmall, m.Rating)
        </td>
        <td>
          Your vote:
          <div id='rating'>
            @Html.Select("rating",
            new List<SelectOption>()
						{
							new SelectOption() { Value = "1", Name = "Poor" },
							new SelectOption() { Value = "2", Name = "Below average" },
							new SelectOption() { Value = "3", Name = "Average" },
							new SelectOption() { Value = "4", Name = "Good" },
							new SelectOption() { Value = "5", Name = "Awesome" }
						},
            Model.MyRating.Rating1.ToString())
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Difficulty:
        </td>
        <td>@Html.Stars(StarType.RedSkull, m.Difficulty)
        </td>
        <td>
          Your vote:
          <div id='difficulty'>
            @Html.Select("difficulty",
            new List<SelectOption>()
						{
							new SelectOption() { Value = "1", Name = "Trivial" },
							new SelectOption() { Value = "2", Name = "Easy" },
							new SelectOption() { Value = "3", Name = "Average" },
							new SelectOption() { Value = "4", Name = "Hard" },
							new SelectOption() { Value = "5", Name = "Impossible" }
						},
            Model.MyRating.Difficulty.ToString())
          </div>
        </td>
      </tr>
    </table>
 </div>
  <!close votes>
  @if (Global.IsZeroKAdmin) {
    <form action='@Url.Action("ChangeFeaturedOrder", "Missions", new { id = m.MissionID })' method="post">
    Featured order: @Html.TextBox("featuredOrder", Model.Mission.FeaturedOrder)
    @if (m.IsScriptMission) {
      @:Script:  @Html.TextArea("script", m.Script,8,40,null)
    }
    <input type="submit" />
    </form>  
   	if (!m.IsDeleted) {
      <a href='@Url.Action("Delete", "Missions", new { id = m.MissionID })' class='delete'>Delete mission</a>
    } else {
      <a href='@Url.Action("Undelete", "Missions", new { id = m.MissionID })' >Undelete</a>
    }
  }
  <div class="border-test abs top right">
    <h3>Top scores</h3>
    @Html.BBCode(m.ScoringMethod ?? "")
    <table>
      @{int cnt = 1;}
      @foreach (var score in Model.TopScores) {
        <tr>
          <td>@(cnt++).
          </td>
          <td>@Html.PrintAccount(score.Account)
          </td>
          <td>@score.Score
          </td>
          <td>
            <small>@(score.GameSeconds > 0 ? "in " + Utils.PrintTimeRemaining(score.GameSeconds) : "")</small>
          </td>
          <td>
            <small>(revision @score.MissionRevision)</small>
          </td>
        </tr>
      }
    </table>
  </div>
  <!close scores>
  @if (m.DescriptionStory != null && m.DescriptionStory != String.Empty)
  {
    <br />
    <br />
    <h3 class="expand">Story</h3>
    <div id="story" class="collapse width-90">
        @Html.BBCode(m.DescriptionStory)
    </div>
  }
</div>
<!close wrapper>
@{Html.RenderPartial("CommentList", new ZeroKWeb.Models.CommentList() { Thread = Model.Mission.ForumThread });}

@Html.ActionLink("Back to List", "Index") 