@model List<ZeroKWeb.Controllers.LaddersController.AwardItem>
@{
  Page.Title = "Award ladders";  
}

<h2>Awards Hall of Fame</h2>
<br />

@foreach (var awardItem in Model)
{   
    <div style="height:60px; ">
        <span title="@awardItem.AwardTitle">
            <img src="http://zero-k.googlecode.com/svn/trunk/mods/zk/LuaRules/Images/awards/trophy_@(awardItem.AwardType).png" height="30" alt="@awardItem.AwardType" />
        </span>
        <span style="left:65px; position:absolute; vertical-align:top; ">
            <div>
                Top Collector(s): <span style="color:cyan;">
                @foreach (var collector in awardItem.TopCollectors) {
                  @Html.PrintAccount(collector)
                  @:, 
                }
                </span> - <span style="color:lightgreen; ">@awardItem.TopCollectorCount</span> collected
            </div>

            <div>
                Top Score: <span style="color:cyan;">@Html.PrintAccount(awardItem.TopScoreHolder)</span> - <span style="color:lightgreen; ">@awardItem.TopScoreDesc</span> - @Html.PrintBattle(awardItem.TopScoreBattlePlayer)
            </div>
        
        </span>
        
    </div>
}
