@using ZeroKWeb
@using ZkData
@model System.Linq.IQueryable<ZkData.LobbyNews>

@{
    ViewBag.Title = "Lobby news";
}
<h2>@ViewBag.Title</h2>

@if (Global.IsModerator)
{
    <div class="admin">
        @Html.Partial("/Views/LobbyNews/LobbyNewsEdit.cshtml", new LobbyNews())
    </div>
}


<table style="width:100%">
    @foreach (var n in Model)
    {
        <tr>
            <td colspan="2">
                @if (n.Url != null)
                {
                    <a href="@n.Url">
                        <h1>@n.Title</h1>
                    </a>
                }
                else
                {
                    <h1>@n.Title</h1>
                }
            </td>
        </tr>
        <tr>
            <td style="width:130px">
                @if (n.ImageRelativeUrl != null)
                {
                    <a href="@n.ImageRelativeUrl"><img src="@n.ImageRelativeUrl" style="max-width: 120px;" /></a>
                }
            </td>
            <td valign="top">@Html.BBCode(n.Text)</td>
        </tr>
        <tr>
            <td colspan="2">
                <small>
                    @if (n.EventTime != null)
                    {
                        <span>Event time: @n.EventTime.ToAgoString()</span><br />
                    }
                    @if (n.Url != null)
                    {
                        <a href="@n.Url">@n.Url</a><br/>
                    }
                    <span>Posted by @Html.PrintAccount(n.Author) @n.Created.ToAgoString()</span>
                    @if (Global.IsModerator)
                    {
                        <span class="admin">
                            @Html.ActionLink("Edit", "Edit", "LobbyNews", new { id = n.LobbyNewsID }, null)
                        </span>
                    }
                </small>
            </td>
        </tr>
    }
</table>

