@using ZeroKWeb
@model ZkData.GameMode

@{
    ViewBag.Title = Model.DisplayName;
}

@Html.ActionLink("Back to List", "Index")

<h2>@ViewBag.Title</h2>

<span>@Model.ShortName</span><br/>
<span>Maintained by @Html.PrintAccount(Model.Maintainer)</span><br/>
<span>Last updated @Html.PrintDate(Model.LastModified)</span><br/>
<span>Created at @Html.PrintDate(Model.Created)</span><br/>

@if (Global.IsModerator || Global.AccountID == Model.MaintainerAccountID)
{
    <div class="admin">
        @Html.ActionLink("Edit", "Edit", "GameModes", new {id=Model.GameModeID}, null)
    </div>
    <br/>
}


@{Html.RenderPartial("CommentList", new ZeroKWeb.Models.CommentList() { Thread = Model.ForumThread, ActionData = new { gameModeID = Model.GameModeID, threadID = Model.ForumThreadID } });}